 
{% extends 'layout/article.twig' %}


{% block content %}


       <section class="ptb ptb-sm-80 openarticle">
            <div class="container">
                <!-- work Filter -->
                <div class="row go_home"><a href="/#{{ anchor }}">Вернуться на главную</div>
                <div class="row"><h2><a href="/infos">Все статьи</a> / <span>{{ article.title_article }}</span></h2></div>
                
                <!-- End work Filter -->
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 text">
                     {{ article.full_article|raw }}
                </div>
                {% if illustrates %}
                <ul class="col-lg-3 col-md-3 col-sm-12 col-xs-12 art_gallery"> 
                      {% for ill in illustrates %}    
                           <li><a href="{{ ill.url_illustrates_prepared }}" class="cbox-gallary1"><img src="{{ ill.url_illustrates_prepared }}" alt="" /></a></li>
                      {% endfor %}
                </ul>
                {% endif %}

            </div>

        </section>

        <!-- End CONTENT ---------------------------------------------------------------------------- -->
    
{% endblock content %}