<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Приборная панель Ekalan</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link href={{ basePath('assets/admin/css/bootstrap.min.css') }} rel="stylesheet" />
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
        <link href={{ basePath('assets/admin/css/jquery-ui.css') }} rel="stylesheet" />
		<link href={{ basePath('assets/admin/css/styles.css') }} rel="stylesheet" />
        <link href={{ basePath('assets/admin/css/cropper.min.css') }} rel="stylesheet" />      
        <link href={{ basePath('assets/admin/css/font-awesome.css') }}  rel="stylesheet" />
        <link href={{ basePath('assets/admin/css/ionicons.css') }} rel="stylesheet" type="text/css" />
        <link href={{ basePath('assets/admin/css/main.css') }} rel="stylesheet" type="text/css" />
        <link href={{ basePath('assets/application/css/sales.css') }} rel="stylesheet" type="text/css" />

         <script src={{ basePath('assets/application/js/jquery-1.11.2.min.js') }} type="text/javascript"></script>

        <script src={{ basePath('assets/admin/js/jquery-ui.min.js') }} type="text/javascript"></script>
        <script src={{ basePath('assets/admin/js/bootstrap.min.js') }} type="text/javascript"></script>
        <script src={{ basePath('assets/admin/js/bootbox.min.js') }} type="text/javascript"></script>
        <script src={{ basePath('assets/admin/js/scripts.js') }} type="text/javascript"></script>
        <script src={{ basePath('assets/admin/js/cropper.min.js') }} type="text/javascript"></script>
        <script src={{ basePath('assets/admin/js/material.js') }} type="text/javascript"></script>
        <script src={{ basePath('assets/admin/js/ajaximageload.js') }} type="text/javascript"></script>
        <script src={{ basePath('assets/admin/js/folio.js') }} type="text/javascript"></script>
	</head>


<body>
    <div class="main_container">
<!-- header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin">Приборная панель</a>
            <a href="/">< Вернуться на Главную</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="/user/logout"><i class="glyphicon glyphicon-lock"></i> Выход</a></li>
            </ul>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <!-- Left column -->
            <a href="/admin"><strong> Tools </strong></a>

            <hr>

            <ul class="nav nav-stacked" id="left_panel">
                
                
                        <li><a href="/admin/page/main">Главная</a></li>
                        <li><a href="/admin/folios">Портфолио (все работы)</a>
                                 <ul>
                                      <li><a href="/admin/addfolio">Добавить новую работу</a></li>
                                      <li><a href="/admin/groups">Группы работ</li>
                                  </ul>
                        </li>
                        <li class="separator"></li>
                        <li><a href="/admin/testimonials">Отзывы</a>
                                 <ul><li><a href="/admin/addtestimonial">Добавить новый отзыв</a></li>
                                  </ul>
                         </li>                        
                        <li class="separator"></li>
                        <li><a href="/admin/materials">Материалы</a>
                                 <ul><li><a href="/admin/addmaterial">Добавить новый материал</a></li>
                                  </ul>
                         </li>
                         <li><a href="/admin/manufacturers">Производители / коллекции</a></li>
                         <li><a href="/admin/texturers">Текстуры</a></li>
                         <li><a href="/admin/colors">Цвета</a></li>


                              
                        <li class="separator"></li>
                        <li><a href="/admin/msgs"><i class="glyphicon glyphicon-envelope"></i> Сообщения <span class="badge badge-info" id="uread_msgs">{{ UnreadMessages() }}</span></a></li>
                         <li class="separator"></li>
                        <li><a href="/admin/users"><i class="glyphicon glyphicon-cog"></i>Клиенты</a></li>
                        
                       
                        <li><a href="/user/logout"><i class="glyphicon glyphicon-off"></i> Выход</a></li>
                        
                    
                
           </ul>
  
                
 
           
        </div>
        <!-- /col-3 -->
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            
                {% block content %}{{ content|raw }}{% endblock content %}
       
        <div class="col-md-2 col-md-2 col-sm-12 col-xs-12">    

                     <div class="table-responsive">

{# system_modal
system_name
system_new_value
system_save_new_value
#}


                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>System Variables</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for vars in  System() %}
                               <tr>
                                    <td><a href="admin/system/{{ vars.id }}" class="system_list" data-content="{{ vars.data }}" data-id="{{ vars.id }}">{{ vars.name }}</a></td>
                               </tr>
                          {% endfor %}      
                              
                            </tbody>
                        </table>
                    </div>


        </div>
</div>
</div><!--  row -->
        <!--/col-span-9-->
    </div>
</div>
<!-- /Main -->
</div><!-- main_container -->
<footer class="text-center footer">Приборная панель сайта Ekalan. 2016 год.</footer>

<div class="modal" id="addWidgetModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add Widget</h4>
            </div>
            <div class="modal-body">
                <p>Add a widget stuff here..</p>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dalog -->
</div>


 <div class="modal fade" id="system_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">System variables</h4>
      </div>
      <div class="modal-body">
             <label id="system_name"></label> 
             <textarea id="system_new_value" name="system_new_value"></textarea> 
      </div>
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
                <a href="#" class="btn btn-primary" id="system_save_new_value">Save changes</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal -->

 <div class="modal fade" id="sample_list_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Выберите соответствующее изображение</h4>
      </div>
      <div class="modal-body"></div>
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
                <a href="#" class="btn btn-primary" id="">Save changes</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal -->
	<!-- script references -->

	</body>
</html>
