 
{% extends 'layout/material.twig' %}


{% block content %}
<form id="filter">
     <input type="hidden" id="id_manufacturer" name="id_manufacturer" data-name="{{ data.manufacturer }}" value="{{ data.id_manufacturer }}" />
     <input type="hidden" id="id_color" name="id_color" value="{{ data.id_color }}" />
     <input type="hidden" id="id_texture" name="id_texture" value="{{ data.id_texture }}" />
</form>


        <!-- Work Detail Section -->
        <section class="ptb ptb-sm-80">
            <div class="container">

                 <ul id="manufacturers_line">
                               <li class="filter" data-name="id_manufacturer" data-value="0">Все</li>
                         {% for manufacturer in blocks.manufacturers %}
                 	             <li class="filter{{ (manufacturer.id == data.id_manufacturer)? ' selected': '' }}" data-name="id_manufacturer" data-value="{{ manufacturer.id }}">{{ manufacturer.name_manufacturer }}</li>
                 	      {% endfor %}

                 </ul><!-- manufacturers_line -->

                <ul id="colors_line">
                                 <li class="filter" data-name="id_color" title="Все цвета" data-value="0">X</li>
                         {% for color in blocks.colors %}
                 	             <li class="filter{{ (color.id == data.id_color)? ' selected': '' }}" data-name="id_color" data-value="{{ color.id }}" style="background:{{color.color_color}}" title="{{ color.name_color }}"></li>
                 	      {% endfor %}

                 </ul><!-- colors_line -->

                <ul id="textures_line">
                                 <li class="filter" data-name="id_texture" data-value="0">Все</li>
                         {% for texture in blocks.textures %}
                 	             <li class="filter{{ (texture.id == data.id_texture)? ' selected': '' }}" data-name="id_texture" data-value="{{ texture.id }}">{{ texture.name_texture }}</li>
                 	      {% endfor %}

                 </ul><!-- textures_line -->    


                 <ul class="set_material">
{{ set_material_html|raw }}
                  </ul>
            </div><!-- container  -->

        </section>
        <!-- End Work Detail Section -->


        <!-- End CONTENT ------------------------------------------------------------------------------>
    
{% endblock content %}