 
{% extends 'layout/calculator.twig' %}


{% block content %}



       <section class="ptb ptb-sm-80">
            <div class="container">

<form id="calc_form">
<input type="hidden" name="id" id="db_id" value="{{ cf_form.id }}" />
<input type="hidden" name="cf_sess_id" id="cf_sess_id" value="{{ cf_form.cf_sess_id }}" />
<input type="hidden" name="cf_material_id" id="cf_material_id" value="{{ cf_form.cf_material_id }}" />
<input type="hidden" name="cf_type" id="cf_type"  value="{{ cf_form.cf_type }}" />



<input type="hidden" name="u_wall_1" id="u_wall_1" value="{{ cf_form.u_wall_1 }}" />
<input type="hidden" name="u_wall_2" id="u_wall_2" value="{{ cf_form.u_wall_2 }}" />
<input type="hidden" name="u_wall_3" id="u_wall_3" value="{{ cf_form.u_wall_3 }}" />
<input type="hidden" name="u_wall_4" id="u_wall_4" value="{{ cf_form.u_wall_4 }}" />
<input type="hidden" name="u_wall_5" id="u_wall_5" value="{{ cf_form.u_wall_5 }}" />
<input type="hidden" name="u_wall_6" id="u_wall_6" value="{{ cf_form.u_wall_6 }}" />
<input type="hidden" name="u_wall_7" id="u_wall_7" value="{{ cf_form.u_wall_7 }}" />
<input type="hidden" name="u_wall_8" id="u_wall_8" value="{{ cf_form.u_wall_8 }}" />

<input type="hidden" name="u_corner_1" id="u_corner_1" value="{{ cf_form.u_corner_1 }}" />
<input type="hidden" name="u_corner_2" id="u_corner_2" value="{{ cf_form.u_corner_2 }}" />
<input type="hidden" name="u_corner_3" id="u_corner_3" value="{{ cf_form.u_corner_3 }}" />
<input type="hidden" name="u_corner_4" id="u_corner_4" value="{{ cf_form.u_corner_4 }}" />
<input type="hidden" name="u_corner_5" id="u_corner_5" value="{{ cf_form.u_corner_5 }}" />
<input type="hidden" name="u_corner_6" id="u_corner_6" value="{{ cf_form.u_corner_6 }}" />
<input type="hidden" name="u_corner_7" id="u_corner_7" value="{{ cf_form.u_corner_7 }}" /> 
<input type="hidden" name="u_corner_8" id="u_corner_8" value="{{ cf_form.u_corner_8 }}" />                                                                     

<input type="hidden" name="u_sink" id="u_sink" value="{{ cf_form.u_sink }}" />
<input type="hidden" name="u_stove" id="u_stove" value="{{ cf_form.u_stove }}" />                                   

<input type="hidden" name="u_length_1" id="u_length_1" value="{{ cf_form.u_length_1 }}" />                                                                          
<input type="hidden" name="u_length_2" id="u_length_2" value="{{ cf_form.u_length_2 }}" />
<input type="hidden" name="u_length_3" id="u_length_3" value="{{ cf_form.u_length_3 }}" />
<input type="hidden" name="u_length_4" id="u_length_4" value="{{ cf_form.u_length_4 }}" />                                           
<input type="hidden" name="u_length_5" id="u_length_5" value="{{ cf_form.u_length_5 }}" />  
<input type="hidden" name="u_length_8" id="u_length_8" value="{{ cf_form.u_length_8 }}" /> 

<input type="hidden" name="i_wall_left" id="i_wall_left" value="{{ cf_form.i_wall_left }}" />
<input type="hidden" name="i_wall_top" id="i_wall_top" value="{{ cf_form.i_wall_top }}" />
<input type="hidden" name="i_wall_right" id="i_wall_right" value="{{ cf_form.i_wall_right }}" />
<input type="hidden" name="i_wall_bottom" id="i_wall_bottom" value="{{ cf_form.i_wall_bottom }}" />

<input type="hidden" name="i_corner_1" id="i_corner_1" value="{{ cf_form.i_corner_1 }}" />
<input type="hidden" name="i_corner_2" id="i_corner_2" value="{{ cf_form.i_corner_2 }}" />
<input type="hidden" name="i_corner_3" id="i_corner_3" value="{{ cf_form.i_corner_3 }}" />
<input type="hidden" name="i_corner_4" id="i_corner_4" value="{{ cf_form.i_corner_4 }}" />

<input type="hidden" name="i_sink" id="i_sink" value="{{ cf_form.i_sink }}" />
<input type="hidden" name="i_stove" id="i_stove" value="{{ cf_form.i_stove }}" />                                   

                                                                          
<input type="hidden" name="i_length_1" id="i_length_1" value="{{ cf_form.i_length_1 }}" />
<input type="hidden" name="i_length_2" id="i_length_2" value="{{ cf_form.i_length_1 }}" />

<input type="hidden" name="l_wall_1" id="l_wall_1" value="{{ cf_form.l_wall_1 }}" />
<input type="hidden" name="l_wall_2" id="l_wall_2" value="{{ cf_form.l_wall_2 }}" />
<input type="hidden" name="l_wall_3" id="l_wall_3" value="{{ cf_form.l_wall_3 }}" />
<input type="hidden" name="l_wall_4" id="l_wall_4" value="{{ cf_form.l_wall_4 }}" />
<input type="hidden" name="l_wall_5" id="l_wall_5" value="{{ cf_form.l_wall_5 }}" />
<input type="hidden" name="l_wall_6" id="l_wall_6" value="{{ cf_form.l_wall_6 }}" />

<input type="hidden" name="l_corner_1" id="l_corner_1" value="{{ cf_form.l_corner_1 }}" />
<input type="hidden" name="l_corner_2" id="l_corner_2" value="{{ cf_form.l_corner_2 }}" />
<input type="hidden" name="l_corner_3" id="l_corner_3" value="{{ cf_form.l_corner_3 }}" />
<input type="hidden" name="l_corner_4" id="l_corner_4" value="{{ cf_form.l_corner_4 }}" />
<input type="hidden" name="l_corner_5" id="l_corner_5" value="{{ cf_form.l_corner_5 }}" />
<input type="hidden" name="l_corner_6" id="l_corner_6" value="{{ cf_form.l_corner_6 }}" />

<input type="hidden" name="l_sink" id="l_sink" value="{{ cf_form.l_sink }}" />
<input type="hidden" name="l_stove" id="l_stove" value="{{ cf_form.l_stove }}" />                                   

                                                                          
<input type="hidden" name="l_length_1" id="l_length_1" value="{{ cf_form.l_length_1 }}" />
<input type="hidden" name="l_length_2" id="l_length_2" value="{{ cf_form.l_length_2 }}" />
<input type="hidden" name="l_length_3" id="l_length_3" value="{{ cf_form.l_length_3 }}" />
<input type="hidden" name="l_length_6" id="l_length_6" value="{{ cf_form.l_length_6 }}" />
</form>

{#
array(16) { ["id"]=> string(1) "5" 
          ["articul"]=> string(6) "cor062" 
          ["name_material"]=> string(23) "Corian Beige Fieldstone" 
          ["price_material"]=> string(6) "111222" 
          ["id_manufacturer"]=> string(1) "1" ["id_sample"]=> string(3) "196" ["sample"]=> string(23) "Corian_Beige_Fieldstone" 
          ["id_color"]=> string(1) "3" 
          ["id_texture"]=> string(1) "3" 
          ["id_collection"]=> string(1) "6" 
          ["describe_material"]=> string(1020) "Lorem ipsum dolor sit amet, pro ne paulo adipisci. Ex mel quod quaeque phaedrum" 
          ["url"]=> string(66) "Corian/Mountain_Rocks/Corian_Beige_Fieldstone_690x325_690x345.jpg " 
          ["manufacturer"]=> string(6) "Corian" 
          ["texture"]=> string(14) "Средняя" 
          ["color"]=> string(14) "Бежевый" 
          ["collection"]=> string(14) "Mountain Rocks" } 

#}
             {% if  material %}
                     <div class="material_for_calc col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                            
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img" style="background:url({{ material.url_prepared }})">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            	     <a href="/material/0&0&0">ВЫбрать другой материал</a>
                                  	<h4>{{ material.name_material     }}</h4>
                            	      <p>{{  material.describe_material }}</p>
                            	      <p>Производитель - {{  material.manufacturer }}</p>
                            	      <p>Цена - {{  material.price_material }}</p>

                            </div>


                     </div><!-- material_for_calc  -->   


              {% else %}
                     <a href="/material/0&0&0">Укажите материал</a>
             {% endif %}
                           <div class="instruction col-lg-12 col-md-12 col-sm-12 col-xs-12"><i class="icon ion-ios-information"></i>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"><img src="/assets/application/img/calculator/type.png" alt="" /><p>выбрать тип</p></div>  
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"><img src="/assets/application/img/calculator/wall.png" alt="" /><p>отметить стены</p></div>  
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"><img src="/assets/application/img/calculator/corner.png" alt="" /><p>скруглить углы</p></div>  
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"><img src="/assets/application/img/calculator/length.png" alt="" /><p>указать длину</p></div>    
                                     
                           </div>
                            <div class="calc_params col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="tabs b-lrb-none ui-tabs ui-widget ui-widget-content ui-corner-all">
                                        <ul role="tablist" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                                                   <li aria-expanded="{{ cf_form.cf_type == 'u' ? 'true' : 'false' }}" aria-selected="{{ cf_form.cf_type == 'u' ? 'true' : 'false' }}" aria-labelledby="ui-id-1" aria-controls="tabs-1" tabindex="{{ cf_form.cf_type == 'u' ? '0' : '-1' }}" role="tab" class="ui-state-default ui-corner-top{{ cf_form.cf_type == 'u' ? ' ui-tabs-active ui-state-active' : '' }}">
                                                           <a id="ui-id-1" tabindex="-1" role="presentation" class="ui-tabs-anchor" data-calc-form="cf_type" data-calc-form-value="u" href="#tabs-1">П - тип</a>
                                                   </li>


                                                   <li aria-expanded="{{ cf_form.cf_type == 'i' ? 'true' : 'false' }}" aria-selected="{{ cf_form.cf_type == 'i' ? 'true' : 'false' }}" aria-labelledby="ui-id-2" aria-controls="tabs-2" tabindex="{{ cf_form.cf_type == 'i' ? '0' : '-1' }}" role="tab" class="ui-state-default ui-corner-top{{ cf_form.cf_type == 'i' ? ' ui-tabs-active ui-state-active' : '' }}"> 
                                                          <a id="ui-id-2" tabindex="-1" role="presentation" class="ui-tabs-anchor" data-calc-form="cf_type" data-calc-form-value="i" href="#tabs-2">| - тип</a>
                                                  </li>

                                                   <li aria-expanded="{{ cf_form.cf_type == 'l' ? 'true' : 'false' }}" aria-selected="{{ cf_form.cf_type == 'i' ? 'true' : 'false' }}" aria-labelledby="ui-id-3" aria-controls="tabs-3" tabindex="{{ cf_form.cf_type == 'i' ? '0' : '-1' }}" role="tab" class="ui-state-default ui-corner-top{{ cf_form.cf_type == 'l' ? ' ui-tabs-active ui-state-active' : '' }}"> 
                                                          <a id="ui-id-2" tabindex="-1" role="presentation" class="ui-tabs-anchor" data-calc-form="cf_type" data-calc-form-value="l" href="#tabs-3">L - тип</a>
                                                  </li>                                                  
                      
                                        </ul>
                                        <div class="ui-tab-content">
                                                 <div aria-hidden="{{ cf_form.cf_type == 'u' ? false : true }}" role="tabpanel" aria-labelledby="ui-id-1" id="tabs-1" class="plr-0 ui-tabs-panel ui-widget-content ui-corner-bottom">
                                                            <div id="schema_U" class="u">
                                                              
                                                               
                                                                      <div class="u_wall_1_obj wall_obj{{ cf_form.u_wall_1 ? ' u_wall_1_obj_on wall_obj_on' : ''}}" data-num="1"></div>
                                                                      <div class="u_wall_2_obj wall_obj{{ cf_form.u_wall_2 ? ' u_wall_2_obj_on wall_obj_on' : ''}}" data-num="2"></div>
                                                                      <div class="u_wall_3_obj wall_obj{{ cf_form.u_wall_3 ? ' u_wall_3_obj_on wall_obj_on' : ''}}" data-num="3"></div>
                                                                      <div class="u_wall_4_obj wall_obj{{ cf_form.u_wall_4 ? ' u_wall_4_obj_on wall_obj_on' : ''}}" data-num="4"></div>
                                                                      <div class="u_wall_5_obj wall_obj{{ cf_form.u_wall_5 ? ' u_wall_5_obj_on wall_obj_on' : ''}}" data-num="5"></div>
                                                                      <div class="u_wall_6_obj wall_obj{{ cf_form.u_wall_6 ? ' u_wall_6_obj_on wall_obj_on' : ''}}" data-num="6"></div>
                                                                      <div class="u_wall_7_obj wall_obj{{ cf_form.u_wall_7 ? ' u_wall_7_obj_on wall_obj_on' : ''}}" data-num="7"></div>
                                                                      <div class="u_wall_8_obj wall_obj{{ cf_form.u_wall_8 ? ' u_wall_8_obj_on wall_obj_on' : ''}}" data-num="8"></div> 

                                                                      <div class="u_corner_1_obj{{ cf_form.u_corner_1 ? ' u_corner_1_obj_on corner_obj_on' : ''}}"><div class="pdf"></div></div>
                                                                      <div class="u_corner_2_obj{{ cf_form.u_corner_2 ? ' u_corner_2_obj_on corner_obj_on' : ''}}"><div class="pdf"></div></div>
                                                                      <div class="u_corner_3_obj{{ cf_form.u_corner_3 ? ' u_corner_3_obj_on corner_obj_on' : ''}}"><div class="pdf"></div></div>
                                                                      <div class="u_corner_4_obj{{ cf_form.u_corner_4 ? ' u_corner_4_obj_on corner_obj_on' : ''}}"><div class="pdf"></div></div>
                                                                      <div class="u_corner_5_obj{{ cf_form.u_corner_5 ? ' u_corner_5_obj_on corner_obj_on' : ''}}"><div class="pdf"></div></div>
                                                                      <div class="u_corner_6_obj{{ cf_form.u_corner_6 ? ' u_corner_6_obj_on corner_obj_on' : ''}}"><div class="pdf"></div></div>
                                                                      <div class="u_corner_7_obj{{ cf_form.u_corner_7 ? ' u_corner_7_obj_on corner_obj_on' : ''}}"><div class="pdf"></div></div>
                                                                      <div class="u_corner_8_obj{{ cf_form.u_corner_8 ? ' u_corner_8_obj_on corner_obj_on' : ''}}"><div class="pdf"></div></div>                                                                      


                                                                      <div class="u_wall_1 wall handle{{ cf_form.u_wall_1 ? ' wall_on' : ''}}" data-calc-form="u_wall_1"></div>
                                                                      <div class="u_wall_2 wall handle{{ cf_form.u_wall_2 ? ' wall_on' : ''}}" data-calc-form="u_wall_2"></div>
                                                                      <div class="u_wall_3 wall handle{{ cf_form.u_wall_3 ? ' wall_on' : ''}}" data-calc-form="u_wall_3"></div>
                                                                      <div class="u_wall_4 wall handle{{ cf_form.u_wall_4 ? ' wall_on' : ''}}" data-calc-form="u_wall_4"></div>
                                                                      <div class="u_wall_5 wall handle{{ cf_form.u_wall_5 ? ' wall_on' : ''}}" data-calc-form="u_wall_5"></div>
                                                                      <div class="u_wall_6 wall handle{{ cf_form.u_wall_6 ? ' wall_on' : ''}}" data-calc-form="u_wall_6"></div>
                                                                      <div class="u_wall_7 wall handle{{ cf_form.u_wall_7 ? ' wall_on' : ''}}" data-calc-form="u_wall_7"></div>
                                                                      <div class="u_wall_8 wall handle{{ cf_form.u_wall_8 ? ' wall_on' : ''}}" data-calc-form="u_wall_8"></div> 

                                                                      <div class="u_corner_1 corner handle" data-calc-form="u_corner_1"></div>      
                                                                      <div class="u_corner_2 corner handle" data-calc-form="u_corner_2"></div>
                                                                      <div class="u_corner_3 corner handle" data-calc-form="u_corner_3"></div>  
                                                                      <div class="u_corner_4 corner handle" data-calc-form="u_corner_4"></div> 
                                                                      <div class="u_corner_5 corner handle" data-calc-form="u_corner_5"></div>      
                                                                      <div class="u_corner_6 corner handle" data-calc-form="u_corner_6"></div>
                                                                      <div class="u_corner_7 corner handle" data-calc-form="u_corner_7"></div>  
                                                                      <div class="u_corner_8 corner handle" data-calc-form="u_corner_8"></div>                                                                      

                                                                      <div class="u_sink u_sink_obj handle sink{{ cf_form.u_sink ? ' u_sink_obj_on sink_on' : ''}}" data-calc-form="u_sink"><span>Мойка</span></div>
                                                                      <div class="u_stove u_stove_obj handle stove{{ cf_form.u_stove ? ' u_stove_obj_on stove' : ''}}" data-calc-form="u_stove"><span>Плита</span></div>                                    

                                                                       
                                                                      <div class="u_length_1 length" data-calc-form="u_length_1">

                                                                                 <div class="first_arrow"></div>
                                                                                 <div class="second_arrow"></div>
                                                                                 <input type="text" value="{{ cf_form.u_length_1 }}" /></div>    
                                                                      <div class="u_length_2 length" data-calc-form="u_length_2">
                                                                                 <div class="first_arrow"></div>
                                                                                 <div class="second_arrow"></div>                            
                                                                                 <input type="text" value="{{ cf_form.u_length_2 }}" /></div>

                                                                      <div class="u_length_3 length" data-calc-form="u_length_3">

                                                                                 <div class="first_arrow"></div>
                                                                                 <div class="second_arrow"></div>   
                                                                                 <input type="text" value="{{ cf_form.u_length_3 }}" /></div>  
                                                                      <div class="u_length_4 length" data-calc-form="u_length_4">
                                                                                 <div class="first_arrow"></div>
                                                                                 <div class="second_arrow"></div>   
                                                                                 <input type="text" value="{{ cf_form.u_length_4 }}" /></div>                                             
                                                                      <div class="u_length_5 length" data-calc-form="u_length_5">
                                                                                  <div class="first_arrow"></div>
                                                                                  <div class="second_arrow"></div>                                                                                    
                                                                                  <input type="text" value="{{ cf_form.u_length_5 }}" />
                                                                      </div>      
                                                                     
                                                                       
                                                                      <div class="u_length_8 length" data-calc-form="u_length_8">
                                                                                 <div class="first_arrow"></div>
                                                                                 <div class="second_arrow"></div> 
                                                                                 <input type="text" value="{{ cf_form.u_length_8 }}" /></div>    


                                                            </div>{#  schema_U #}
                                                 </div>
                                                 <div aria-hidden="{{ cf_form.cf_type == 'i' ? false : true }}" role="tabpanel" aria-labelledby="ui-id-2" id="tabs-2" class="plr-0 ui-tabs-panel ui-widget-content ui-corner-bottom">
                                                            <div id="schema_I" class="i">
                                                                    <div class="i_wall_left_obj wall_obj{{ cf_form.i_wall_left ? ' i_wall_left_obj_on wall_obj_on' : ''}}" data-num="1"></div>
                                                                    <div class="i_wall_top_obj wall_obj{{ cf_form.i_wall_top ? ' i_wall_top_obj_on wall_obj_on' : ''}}" data-num="2"></div>
                                                                    <div class="i_wall_right_obj wall_obj{{ cf_form.i_wall_right ? ' i_wall_right_obj_on wall_obj_on' : ''}}" data-num="3"></div>
                                                                    <div class="i_wall_bottom_obj wall_obj{{ cf_form.i_wall_bottom ? ' i_wall_bottom_obj_on wall_obj_on' : ''}}" data-num="4"></div>

                                                                    <div class="i_corner_1_obj{{ cf_form.i_corner_1 ? ' i_corner_1_obj_on corner_obj_on' : ''}}"><div class="pdf"></div></div>
                                                                    <div class="i_corner_2_obj{{ cf_form.i_corner_2 ? ' i_corner_2_obj_on corner_obj_on' : ''}}"><div class="pdf"></div></div>
                                                                    <div class="i_corner_3_obj{{ cf_form.i_corner_3 ? ' i_corner_3_obj_on corner_obj_on' : ''}}"><div class="pdf"></div></div>
                                                                    <div class="i_corner_4_obj{{ cf_form.i_corner_4 ? ' i_corner_4_obj_on corner_obj_on' : ''}}"><div class="pdf"></div></div>
                                                               
                                                                    <div class="i_wall_left handle wall{{ cf_form.i_wall_left ? ' wall_on' : ''}}" data-calc-form="i_wall_left"></div>
                                                                    <div class="i_wall_top handle wall{{ cf_form.i_wall_top ? ' wall_on' : ''}}" data-calc-form="i_wall_top"></div>
                                                                    <div class="i_wall_right handle wall{{ cf_form.i_wall_right ? ' wall_on' : ''}}" data-calc-form="i_wall_right"></div>
                                                                    <div class="i_wall_bottom handle wall{{ cf_form.i_wall_bottom ? ' wall_on' : ''}}" data-calc-form="i_wall_bottom"></div>

                                                                    <div class="i_corner_1 corner handle" data-calc-form="i_corner_1"></div>      
                                                                    <div class="i_corner_2 corner handle" data-calc-form="i_corner_2"></div>
                                                                    <div class="i_corner_3 corner handle" data-calc-form="i_corner_3"></div>  
                                                                    <div class="i_corner_4 corner handle" data-calc-form="i_corner_4"></div>                                                             

                                                                    <div class="i_length_1 length" data-calc-form="i_length_1">
                                                                                 <div class="first_arrow"></div>
                                                                                 <div class="second_arrow"></div>
                                                                                 <input type="text" value="{{ cf_form.i_length_1 }}" /></div>      
                                                                    <div class="i_length_2 length" data-calc-form="i_length_2">
                                                                                 <div class="first_arrow"></div>
                                                                                 <div class="second_arrow"></div>
                                                                                 <input type="text" value="{{ cf_form.i_length_2 }}" /></div>                                                             


                                                                    <div class="i_sink i_sink_obj handle sink {{ cf_form.i_sink ? ' i_sink_obj_on sink_on' : ''}}" data-calc-form="i_sink"><span>Мойка</span></div>
                                                                    <div class="i_stove i_stove_obj handle stove {{ cf_form.i_stove ? ' i_stove_obj_on stove_on' : ''}}" data-calc-form="i_stove"><span>Плита</span></div>


                                                            </div>{#  schema_I #}

                                               </div>  
                                                 <div aria-hidden="{{ cf_form.cf_type == 'l' ? false : true }}" role="tabpanel" aria-labelledby="ui-id-3" id="tabs-3" class="plr-0 ui-tabs-panel ui-widget-content ui-corner-bottom">
                                                             <div id="schema_L" class="l">
                                                               
                                                                      <div class="l_wall_1_obj wall_obj{{ cf_form.l_wall_1 ? ' l_wall_1_obj_on wall_obj_on' : ''}}" data-num="1"></div>
                                                                      <div class="l_wall_2_obj wall_obj{{ cf_form.l_wall_2 ? ' l_wall_2_obj_on wall_obj_on' : ''}}" data-num="2"></div>
                                                                      <div class="l_wall_3_obj wall_obj{{ cf_form.l_wall_3 ? ' l_wall_3_obj_on wall_obj_on' : ''}}" data-num="3"></div>
                                                                      <div class="l_wall_4_obj wall_obj{{ cf_form.l_wall_4 ? ' l_wall_4_obj_on wall_obj_on' : ''}}" data-num="4"></div>
                                                                      <div class="l_wall_5_obj wall_obj{{ cf_form.l_wall_5 ? ' l_wall_5_obj_on wall_obj_on' : ''}}" data-num="5"></div>
                                                                      <div class="l_wall_6_obj wall_obj{{ cf_form.l_wall_6 ? ' l_wall_6_obj_on wall_obj_on' : ''}}" data-num="6"></div>

                                                                      <div class="l_wall_1 handle wall{{ cf_form.l_wall_1 ? ' wall_on' : ''}}" data-calc-form="l_wall_1"></div>
                                                                      <div class="l_wall_2 handle wall{{ cf_form.l_wall_2 ? ' wall_on' : ''}}" data-calc-form="l_wall_2"></div>
                                                                      <div class="l_wall_3 handle wall{{ cf_form.l_wall_3 ? ' wall_on' : ''}}" data-calc-form="l_wall_3"></div>
                                                                      <div class="l_wall_4 handle wall{{ cf_form.l_wall_4 ? ' wall_on' : ''}}" data-calc-form="l_wall_4"></div>
                                                                      <div class="l_wall_5 handle wall{{ cf_form.l_wall_5 ? ' wall_on' : ''}}" data-calc-form="l_wall_5"></div>
                                                                      <div class="l_wall_6 handle wall{{ cf_form.l_wall_6 ? ' wall_on' : ''}}" data-calc-form="l_wall_6"></div>

                                                                      <div class="l_corner_1_obj{{ cf_form.l_corner_1 ? ' l_corner_1_obj_on corner_obj_on' : ''}}"><div class="pdf"></div></div>
                                                                      <div class="l_corner_2_obj{{ cf_form.l_corner_2 ? ' l_corner_2_obj_on corner_obj_on' : ''}}"><div class="pdf"></div></div>
                                                                      <div class="l_corner_3_obj{{ cf_form.l_corner_3 ? ' l_corner_3_obj_on corner_obj_on' : ''}}"><div class="pdf"></div></div>
                                                                      <div class="l_corner_4_obj{{ cf_form.l_corner_4 ? ' l_corner_4_obj_on corner_obj_on' : ''}}"><div class="pdf"></div></div>
                                                                      <div class="l_corner_5_obj{{ cf_form.l_corner_5 ? ' l_corner_5_obj_on corner_obj_on' : ''}}"><div class="pdf"></div></div>
                                                                      <div class="l_corner_6_obj{{ cf_form.l_corner_6 ? ' l_corner_6_obj_on corner_obj_on' : ''}}"><div class="pdf"></div></div>    

                                                                      <div class="l_corner_1 corner handle" data-calc-form="l_corner_1"></div>      
                                                                      <div class="l_corner_2 corner handle" data-calc-form="l_corner_2"></div>
                                                                      <div class="l_corner_3 corner handle" data-calc-form="l_corner_3"></div>  
                                                                      <div class="l_corner_4 corner handle" data-calc-form="l_corner_4"></div> 
                                                                      <div class="l_corner_5 corner handle" data-calc-form="l_corner_5"></div>      
                                                                      <div class="l_corner_6 corner handle" data-calc-form="l_corner_6"></div>                                                                                                                                          

                                                                      <div class="l_sink l_sink_obj handle sink {{ cf_form.l_sink ? ' l_sink_obj_on sink_on' : ''}}" data-calc-form="l_sink"><span>Мойка</span></div>
                                                                      <div class="l_stove l_stove_obj handle stove {{ cf_form.l_sink ? ' l_sink_obj_on sink_on' : ''}}" data-calc-form="l_stove"><span>Плита</span></div>



                                                                      <div class="l_length_1 length" data-calc-form="l_length_1">
                                                                                   <div class="first_arrow"></div>
                                                                                   <div class="second_arrow"></div>
                                                                                   <input type="text" value="{{ cf_form.l_length_1 }}" /></div>      
                                                                      <div class="l_length_2 length" data-calc-form="l_length_2">
                                                                                   <div class="first_arrow"></div>
                                                                                   <div class="second_arrow"></div>
                                                                                   <input type="text" value="{{ cf_form.l_length_2 }}" /></div>
                                                                      <div class="l_length_3 length" data-calc-form="l_length_3">
                                                                                   <div class="first_arrow"></div>
                                                                                   <div class="second_arrow"></div>
                                                                                   <input type="text" value="{{ cf_form.l_length_3 }}" /></div>  
                                                                      <div class="l_length_6 length" data-calc-form="l_length_6">
                                                                                   <div class="first_arrow"></div>
                                                                                   <div class="second_arrow"></div>
                                                                                   <input type="text" value="{{ cf_form.l_length_6 }}" /></div>                                                                                                                                          

                                                             </div>{#  schema_L #}
                                               </div>                                                                                            

                                      </div>
                              </div>{# tabs #}

                            </div><!--  calc_params  -->

                              
                              <div class="table-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12 calc_table_container">
                              <h4>Расчет стоимости</h4>
                            <table cellpadding="0" cellspacing="0" width="100%" class="table table-hover calc_table" >
                              <thead>
                                    <tr><th>Наименование</th><th>Размер/количество</th><th>Цена (у.е.)</th><th>Стоимость (у.е.)</th></tr>

                              </thead>
                              <tbody>
                                
                                    <tr><td>Материал (кв.м)</td><td><div id="result_sq"></div></td><td><div id="price_material">{{   material.price_material  }}</div></td><td><div id="cost_material" class="sum"></div></td></tr>
                                    <tr><td>Площадь лицевой кромки (кв.м)</td><td><div id="result_edge_len" class="sum"></div></td><td>{{   material.price_material  }}</td><td><div id="cost_edge" class="sum"></div></td></tr>
                                    <tr><td>Площадь плинтуса (кв.м)</td><td><div id="result_plinth_len" class="sum"></div></td><td>{{   material.price_material  }}</td><td><div id="cost_plinth"></div></td></tr>
                                    <tr><td>Скругления углов (шт.)</td><td><div id="result_corner"></div></td><td>30</td><td><div id="cost_corner" class="sum"></div></td></tr>
                                    <tr><td>Мойка</td><td><div id="result_sink"></div></td><td></td><td></td></tr>
                                    <tr><td>Плита</td><td><div id="result_stove"></div></td><td></td><td></td></tr>
                              </tbody>
                              <tfoot><tr><td colspan="3">Итого:</td><td><div id="sum"></div></td></tr></tfoot>
                            </table>
                             <input id='db_stove' value="{{ calcprice.stove['calc-cprice'] }}" type="hidden" />
                             <input id='db_sink' value="{{ calcprice.sink['calc-cprice'] }}"  type="hidden" />
                            </div>{# table_container  #}


                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 service_liks">
                              
                                       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                         
                                                     <button type="button" class="btn btn-success" id="send_order">Заказать сейчас</button>
                                       </div>    
                                       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                     <form action="/createpdf" method="post">
                                                             <input type="hidden" id="blueprint" name="blueprint" />
                                                             <input type="hidden" id="order_table" name="order_table" />
                                                             <input type="hidden" id="material_characters" value="Артикул      : {{  material.articul }} <br />Наименование :  {{  material.name_material }} <br />Коллекция    :  {{  material.collection }}<br />Цвет         :  {{  material.color }}<br />Текстура     :  {{  material.texture }}<br />Описание     :  {{  material.describe_material }}"  name="material_characters" />
                                                             <input  type="submit" class="btn btn-success" id="print_order" value="Распечатать" />
                                                            
                                                     </form>        
                                       </div> 
                                       <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 send_link">
                                                   <div class="panel panel-default">
                                                         <div class="panel-heading">или отправить по почте</div>
                                                         <div class="panel-body"><label>@</label><input type="text" class="form-control" id="emailme" placeholder="email"  /><input type="button" value="->" id="sendme" /></div>
                                                   </div>                                         

                                       </div>   
                            </div>
             </div>
             <div class="clear"></div>
        </section>

                   <!-- Social Section -->
        <section id="contacts" class="gray-bg ptb ptb-sm-80">
            <div class="container text-center">

                <div class="spacer-60"></div>
                <div class="row">

                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  {#  {{ systems.map|raw }}  #}
                 
                  </div>


                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 addr">
                   
                    <p>
                          <span><i class="ion ion-ios-location"></i></span>
                          {{ systems.address|raw }}
                    </p>
                    <p>  <span><i class="ion ion-ios-telephone"></i></span>
                           {{ systems.tel|raw }}
                      </p>
                       <a href="mailto:alanbud@optima.com.ua"><span><i class="ion ion-ios-email"></i></span>{{ systems.email }}</a><br />
    
                       <a href="#" class="order_call">Заказать звонок</a>
                  </div>  


                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <!-- Contact FORM -->
                        <form class="contact-form" id="footer_contact" role="form">

                            <!-- IF MAIL SENT SUCCESSFULLY -->
                            <h6 class="successContent">
                                <i class="fa fa-check left" style="color: #5cb45d;"></i>Ваше сообщение успешно отправлено.
                            </h6>
                            <!-- END IF MAIL SENT SUCCESSFULLY -->

                            <!-- MAIL SENDING UNSUCCESSFULL -->
                            <h6 class="errorContent">
                                <i class="fa fa-exclamation-circle left" style="color: #e1534f;"></i>Возникли проблемы при отправке формы!
                            </h6>
                            <!-- END MAIL SENDING UNSUCCESSFULL -->

                            <div class="form-field-wrapper">
                                <input class="input-sm form-full" id="form-name" type="text" name="sc_name" placeholder="Ваше имя" required>
                            </div>

                            <div class="form-field-wrapper">
                                <input class="input-sm form-full" id="form-email" type="email" name="sc_mail" placeholder="Электронная почта" required>
                            </div>

                            <div class="form-field-wrapper">
                                <input class="input-sm form-full" id="form-subject" type="text" name="sc_phone" placeholder="Телефон">
                            </div>

                            <div class="form-field-wrapper">
                                <textarea class="form-full" id="form-message" rows="7" name="sc_text" placeholder="Сообщение" required></textarea>
                            </div>

                            <button class="btn btn-md btn-black form-full" type="submit" id="form-submit" name="submit">Отправить сообщение</button>
                        </form>
                        <!-- END Contact FORM -->
                    </div>
                </div><!--  **************************************  -->
            </div>
        </section>
        <!-- End Social Section -->

        <!-- END CONTENT ---------------------------------------------------------------------------->
<!-- modal  -->
<div class="modal fade" id="sendOrderModal">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Оформить заказ</h4>
      </div>
      <div class="modal-body">
                <form>
                      <div><input type="text" id ="name" name="name" placeholder="Ваше имя *" required="" class="required" /></div>
                      <div><input type="text" id="phone" name="phone" placeholder="Номер вашего телефона *" required=""  class="required" /></div>
                      <div><input type="text" id="email" name="email" placeholder="Электронная почта *" required=""  class="required" /></div>
                      <div><textarea id="comments" name="comments" placeholder="Комментарии"></textarea></div>
                      <div><input type="button" value="Отправить" id="sendOrderBtn" /></div>

                </form>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="thank_for_order">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">До связи!</h4>
      </div>
      <div class="modal-body">
               <p>Спасибо за ваш заказ!</p>
               <p>В ближайшее время мы свяжемся с вами.</p>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modal fade" id="mailmeModal">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Отправлено!</h4>
      </div>
      <div class="modal-body">
               <p>Расчет отправлен на указанный вами адрес.</p>
               <p>Пожалуйста.</p>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock content %}