<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ekalan</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="nileforest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

     <!-- CSS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css' />
    <link href={{ basePath('assets/application/css/style.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/bootstrap.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/font-awesome.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/ionicons.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/plugin/jPushMenu.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/plugin/animate.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/jquery-ui.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/jquery.countdown.css') }} rel="stylesheet" type="text/css" /> 
    <link href={{ basePath('assets/application/css/main.css') }} rel="stylesheet" type="text/css" />

</head>

<body class="full-intro background--dark">

    <!-- Preloader -->
    <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>
    <!-- End Preloader -->


    <!-- Search menu Top -->
    <section class=" top-search-bar cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top">
        <div class="container">
            <div class="search-wraper">
                <input type="text" class="input-sm form-full" placeholder="Search..." name="search" />
                <a class="search-bar-icon"><i class="fa fa-search"></i></a>
                <a class="bar-close toggle-menu menu-top push-body"><i class="ion ion-android-close"></i></a>
            </div>
        </div>
    </section>
    <!--End Search menu Top -->

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- HEADER -->
        <header class="header">
            <div class="container for_selected_sample">
                <div id="for_selected_sample"></div>
                <!-- logo -->
                <div class="logo no_hide_logo">
                    <a href="/">
                       {# <img class="l-black" src="/assets/application/img/logo-black.png" />
                        <img class="l-white" src="/assets/application/img/logo-white.png" />
                        <img class="l-color" src="/assets/application/img/logo-color.png" />#}
    <svg width="190"  height="70" xmlns="http://www.w3.org/2000/svg" version="1.20"  xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="1020 720 50 90"  > 

<!-- ==== EKALAN LOGO ======= -->

 <g >
   <path class="fil0a" d="M1157 750c0,0 0,1 0,1l0 0c0,0 0,0 0,0l0 0c0,0 0,0 0,0 0,0 0,0 1,0 0,0 1,0 1,0 0,0 0,0 0,0l0 0c0,0 0,0 0,0l0 0c0,0 0,-1 -1,-1 0,0 0,-1 0,-1l0 -1 1 0c0,0 0,0 0,0 1,1 1,1 1,1 0,1 1,1 1,1 0,1 0,1 0,1 1,0 1,0 1,0 1,0 1,0 1,0 0,0 0,0 0,0l0 0c0,0 0,0 0,0 0,0 -1,-1 -1,-1 0,0 0,0 -1,-1 0,0 0,-1 0,-1 0,0 -1,0 -1,0l0 0c1,0 2,-1 2,-2 0,0 0,-1 -1,-1 0,0 -1,-1 -1,-1 -1,0 -2,0 -2,0 0,0 -1,0 -1,0 0,0 0,0 0,0l0 1c0,0 0,0 0,0l0 0c0,0 0,0 0,0l0 2 0 3zm1 -5c1,0 1,0 1,0 1,0 1,0 1,0 0,0 1,1 1,1 0,1 -1,2 -2,2 0,0 0,0 -1,0l0 -3zm1 -3c-3,0 -5,3 -5,6 0,3 2,5 5,5 4,0 6,-2 6,-5 0,-4 -2,-6 -6,-6zm0 11c-2,0 -4,-2 -4,-5 0,-3 2,-5 4,-5 2,0 5,1 5,5 0,2 -1,5 -5,5z"/>
   <g>
    <g>
     <path class="fil1a" d="M1138 795l-165 0 0 -2 165 0 1 1 -1 1zm0 -2l1 0 0 1 -1 -1zm-1 3l0 -2 2 0 0 2 -1 1 -1 -1zm2 0l0 1 -1 0 1 -1zm-164 1l1 -2 -1 0 7 0 7 0 6 0 6 0 6 0 5 0 5 0 5 0 5 0 4 0 5 0 4 0 4 0 5 0 4 0 4 0 4 0 4 0 4 0 4 0 5 0 4 0 5 0 5 0 4 0 6 0 5 0 6 0 6 0 6 0 6 0 7 0 0 2 -7 0 -6 0 -6 0 -6 0 -6 0 -5 0 -6 0 -4 0 -5 0 -5 0 -4 0 -5 0 -4 0 -4 0 -4 0 -4 0 -4 0 -4 0 -5 0 -4 0 -4 0 -5 0 -4 0 -5 0 -5 0 -5 0 -5 0 -6 0 -6 0 -6 0 -7 0 -7 0 0 0zm0 0l0 0 0 0 0 0zm-2 -4l0 2 0 0 1 0 0 -1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 -1 2 0 0 0 0 -1 0 0 0 0 -1 0 0 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 -1 0 0 0 0 -1 0 0 0 1 -1 1 1 -1 -1zm0 2l0 0 0 0 0 0z"/>
     <path id="1" class="fil0" d="M973 794l165 0 0 2c-76,0 -87,0 -163,0 -1,0 -2,-2 -2,-2z"/>
    </g>
    <g>
     <path class="fil2a str0a" d="M990 754c3,0 6,1 8,3 3,1 4,4 5,7 1,2 1,4 1,6 0,0 0,1 0,1l-21 0c0,4 3,6 7,6 3,0 5,-1 6,-3l8 0c-2,3 -3,5 -6,7 -2,1 -5,2 -8,2 -4,0 -8,-1 -11,-4 -2,-3 -4,-6 -4,-10 0,-4 2,-8 5,-11 2,-3 6,-4 10,-4zm7 12c-1,-4 -3,-6 -7,-6 -4,0 -6,2 -7,6l14 0zm20 -24l0 24 7 -11 9 0 -10 12 10 15 -8 0 -8 -13 0 13 -8 0 0 -40 8 0zm47 40l-8 0 0 -3c-1,2 -2,2 -3,3 -2,1 -3,1 -5,1 -4,0 -7,-1 -10,-4 -2,-3 -4,-6 -4,-10 0,-5 2,-8 4,-11 3,-3 6,-4 10,-4 4,0 7,1 8,4l0 -3 8 0 0 27zm-8 -13c0,-2 0,-4 -2,-6 -1,-1 -3,-2 -5,-2 -2,0 -4,1 -5,2 -1,2 -2,4 -2,6 0,2 1,3 2,5 1,2 3,2 5,2 2,0 4,0 5,-2 2,-1 2,-3 2,-5zm22 13l-8 0 0 -40 8 0 0 40zm34 0l-8 0 0 -3c-1,2 -2,2 -4,3 -1,1 -3,1 -4,1 -4,0 -8,-1 -10,-4 -3,-3 -4,-6 -4,-10 0,-5 1,-8 4,-11 3,-3 6,-4 10,-4 4,0 6,1 8,4l0 -3 8 0 0 27zm-8 -13c0,-2 -1,-4 -2,-6 -1,-1 -3,-2 -5,-2 -2,0 -4,1 -5,2 -2,2 -2,4 -2,6 0,2 0,3 2,5 1,2 3,2 5,2 2,0 4,0 5,-2 1,-1 2,-3 2,-5zm39 13l-8 0 0 -15c0,-4 -2,-6 -5,-6 -3,0 -4,2 -4,7l0 14 -8 0 0 -27 7 0 0 3c2,-3 4,-4 8,-4 3,0 5,1 7,3 2,2 3,4 3,8l0 17z"/>
     <path id="1" class="fil3a" d="M990 754c3,0 6,1 8,3 3,1 4,4 5,7 1,2 1,4 1,6 0,0 0,1 0,1l-21 0c0,4 3,6 7,6 3,0 5,-1 6,-3l8 0c-2,3 -3,5 -6,7 -2,1 -5,2 -8,2 -4,0 -8,-1 -11,-4 -2,-3 -4,-6 -4,-10 0,-4 2,-8 5,-11 2,-3 6,-4 10,-4zm7 12c-1,-4 -3,-6 -7,-6 -4,0 -6,2 -7,6l14 0zm20 -24l0 24 7 -11 9 0 -10 12 10 15 -8 0 -8 -13 0 13 -8 0 0 -40 8 0zm47 40l-8 0 0 -3c-1,2 -2,2 -3,3 -2,1 -3,1 -5,1 -4,0 -7,-1 -10,-4 -2,-3 -4,-6 -4,-10 0,-5 2,-8 4,-11 3,-3 6,-4 10,-4 4,0 7,1 8,4l0 -3 8 0 0 27zm-8 -13c0,-2 0,-4 -2,-6 -1,-1 -3,-2 -5,-2 -2,0 -4,1 -5,2 -1,2 -2,4 -2,6 0,2 1,3 2,5 1,2 3,2 5,2 2,0 4,0 5,-2 2,-1 2,-3 2,-5zm22 13l-8 0 0 -40 8 0 0 40zm34 0l-8 0 0 -3c-1,2 -2,2 -4,3 -1,1 -3,1 -4,1 -4,0 -8,-1 -10,-4 -3,-3 -4,-6 -4,-10 0,-5 1,-8 4,-11 3,-3 6,-4 10,-4 4,0 6,1 8,4l0 -3 8 0 0 27zm-8 -13c0,-2 -1,-4 -2,-6 -1,-1 -3,-2 -5,-2 -2,0 -4,1 -5,2 -2,2 -2,4 -2,6 0,2 0,3 2,5 1,2 3,2 5,2 2,0 4,0 5,-2 1,-1 2,-3 2,-5zm39 13l-8 0 0 -15c0,-4 -2,-6 -5,-6 -3,0 -4,2 -4,7l0 14 -8 0 0 -27 7 0 0 3c2,-3 4,-4 8,-4 3,0 5,1 7,3 2,2 3,4 3,8l0 17z"/>
    </g>
    <g >
     <g>
      <path class="fil1a" d="M968 794l-2 0 1 1 -2 0 -1 -1 -2 0 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 0 -1 -1 -2 0 -1 -1 -2 0 -1 -1 -1 0 -2 -1 -1 0 -2 -1 -1 0 -2 -1 -1 0 -2 -1 -1 0 -1 -1 -1 -1 -1 -1 -1 0 -1 -1 0 -1 -1 -2 0 -1 -1 -1 0 0 -2 2 0 1 1 2 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 2 1 1 0 2 1 1 0 1 1 2 0 1 0 2 1 1 0 2 1 1 0 2 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 0 1 1 1 0 1 1zm-1 -1l1 0 0 1 -1 -1zm-1 3l0 -2 2 0 0 2 -2 0zm-6 1l0 -2 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 1 0 0 -1 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 0 0 -1 0 0 0zm0 0l0 0 0 0 0 0zm-16 -11l2 -1 0 0 0 1 0 0 1 1 0 0 0 1 1 0 0 1 0 0 1 0 0 1 0 0 1 1 0 0 0 0 1 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 1 0 0 0 1 0 0 0 1 0 1 0 1 0 0 1 0 2 -1 0 0 -1 -1 0 -1 0 -1 0 0 0 -1 0 -1 0 0 -1 -1 0 -1 0 0 0 -1 -1 0 0 -1 0 0 -1 -1 0 0 0 -1 -1 0 0 -1 0 0 -1 0 0 -1 -1 0 0 0 -1 -1 0 0 -1 0 0 -1 -1 0 -1 0 0 0 0zm-14 -26l0 2 1 -2 1 0 1 1 1 0 1 1 1 0 0 1 1 0 1 1 0 1 1 1 1 0 0 1 0 1 1 1 0 1 0 1 1 1 0 1 0 1 1 1 0 1 0 1 0 0 1 1 0 1 0 1 0 1 1 1 0 1 0 1 0 0 1 1 -2 1 -1 -1 0 -1 0 -1 -1 0 0 -1 0 -1 -1 -1 0 -1 0 -1 0 -1 -1 -1 0 -1 0 -1 0 -1 -1 -1 0 -1 0 0 0 -1 -1 -1 0 -1 -1 -1 0 0 -1 -1 0 -1 -1 0 0 -1 -1 0 -1 -1 0 0 -1 0 -1 -1 -1 0 0 -2zm0 2l-11 -2 11 0 0 2zm11 -2l0 2 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 -1 0 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 -1 0 0 -2 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0zm0 0l0 0 0 0 0 0z"/>
      <path id="1" class="fil0a" d="M941 761c17,0 10,32 26,33l0 2c0,1 -4,0 -7,0 -9,-1 -12,-4 -15,-11 -4,-7 -3,-22 -15,-24 5,0 8,0 11,0z"/>
     </g>
     <path class="fil4a" d="M930 760c-2,0 -1,2 0,2l0 -2z"/>
    </g>
    <g>
     <g>
      <path class="fil1a" d="M965 766l-2 0 0 0 0 0 0 -1 -1 0 0 0 0 -1 0 0 0 -1 -1 0 0 -1 0 0 0 0 -1 -1 0 0 0 0 0 -1 -1 0 0 0 0 -1 -1 0 0 0 0 0 0 0 -1 -1 0 0 0 0 -1 0 0 0 -1 0 0 0 0 0 -1 0 0 0 0 -2 0 0 1 0 1 0 0 0 1 0 0 0 1 0 0 0 0 1 1 0 0 0 1 0 0 1 0 0 1 0 0 1 0 0 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 0 1 0 0 0 1 1 0 0 1 0 0 0 1 0 0zm13 31l0 2 0 0 -1 0 -1 0 -1 -1 -1 0 -1 -1 0 0 -1 -1 -1 -1 0 -1 -1 0 0 -1 -1 -2 0 -1 0 -1 -1 -1 0 -1 0 -1 -1 -2 0 -1 0 -1 -1 -1 0 -2 0 -1 -1 -1 0 -2 0 -1 0 -1 -1 -2 0 -1 0 -1 -1 -1 0 -2 2 0 1 1 0 1 0 2 1 1 0 1 0 1 0 2 1 1 0 1 0 2 1 1 0 1 0 2 1 1 0 1 0 1 1 2 0 1 0 1 1 1 0 1 1 1 0 0 1 1 0 1 1 0 0 1 1 0 0 1 1 0 0 0 1 0 0 0zm0 0l0 0 0 0 0 0zm6 -1l1 1 0 0 0 0 0 0 -1 1 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 1 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 0 0 0 -2 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 -1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0zm1 1l0 0 0 0 0 0zm10 -7l0 2 0 0 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 0 1 -1 0 0 0 0 0 0 0 -1 0 0 0 0 1 -1 0 0 0 0 0 -1 0 0 1 0 0 -1 0 0 0 0 1 0 0 -1 0 0 0 0 1 -1 0 -1 -1 0 -1 0 0 1 0 0 -1 0 0 1 0 0 0 0 -1 1 0 0 0 0 0 1 -1 0 0 0 0 1 0 0 0 0 -1 1 0 0 0 0 0 1 0 0 0 1 -1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0zm148 2l-148 0 0 -2 148 0 1 1 -1 1zm0 -2l1 0 0 1 -1 -1zm-1 3l0 -2 2 0 0 2 -1 1 -1 -1zm2 0l0 1 -1 0 1 -1zm-148 -1l147 0 0 2 -147 0 0 0 0 -2zm-9 4l1 2 -1 -2 0 0 0 0 1 -1 0 0 0 0 0 0 1 -1 0 0 0 0 1 0 0 0 0 -1 0 0 1 0 0 0 0 0 1 0 0 0 0 -1 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 2 0 0 0 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 0 0 -1 1 0 0 0 0 0 0 0 0 -1 0 0 0 0 1 0 0 -1 0 0 0 0 0 0 1 -1 0 0 0 0 0 0 1 -2 -2zm1 2l-8 5 7 -7 1 2zm1 0l-1 0 -1 -2 0 0 2 1 0 1zm-2 -2l6 -4 -4 5 -2 -1zm-11 7l0 -2 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 -1 0 0 0 0 1 0 0 0 0 0 1 0 0 -1 1 0 0 0 0 0 0 0 1 -1 0 0 0 0 1 0 0 -1 0 0 0 0 1 0 0 -1 2 1 0 1 -1 0 0 0 0 1 -1 0 0 0 0 1 -1 0 0 0 0 0 -1 1 0 0 -1 0 0 0 0 1 -1 0 0 0 -1 0 0 0 0 0 -1 1 0 0 -1 0 0 0 -1 0 0 0 -1 0 0 0 0 0 -1 0 0 0 -1 0 0 0zm0 -2l0 0 0 0 0 0zm-19 -14l2 0 0 0 0 0 0 1 0 0 1 1 0 0 0 1 0 1 1 0 0 1 0 0 1 1 0 1 0 0 1 1 0 0 1 1 0 1 1 0 1 1 0 0 1 1 1 0 0 0 1 1 1 0 1 0 0 1 1 0 1 0 1 0 1 0 1 0 0 2 -1 0 -1 0 -1 0 -1 0 -1 0 -1 -1 -1 0 -1 0 -1 -1 -1 0 -1 -1 0 0 -1 -1 -1 0 0 -1 -1 -1 -1 0 0 -1 -1 -1 0 0 0 -1 -1 -1 0 0 -1 -1 0 -1 0 0 0 -1 -1 0 0 -1 0 -1 0 0 0 -1 0 0zm-15 -32l0 3 0 -2 1 0 1 0 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 0 1 1 1 0 1 1 2 0 1 1 1 0 1 1 2 0 1 0 1 1 1 0 1 0 2 0 1 1 1 0 1 0 1 0 0 1 1 0 1 -2 0 -1 0 0 -1 0 -1 0 -1 -1 -1 0 -1 0 -1 0 -1 -1 -1 0 -1 0 -2 -1 -1 0 -1 -1 -1 0 -1 0 -2 -1 -1 0 -1 -1 -1 0 -1 -1 -1 0 -1 -1 -1 -1 -1 0 -1 -1 -1 -1 0 0 -1 -1 -1 -1 0 -1 0 0 0 0 -3zm0 3l-11 -3 11 0 0 3zm12 -2l0 2 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 -1 0 0 0 0 0 -1 0 0 0 -1 0 0 0 -1 0 0 0 -1 0 0 0 -1 0 0 0 0 0 -1 0 0 0 -1 0 0 0 0 -3 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0zm0 2l0 0 0 0 0 0z"/>
      <path  class="fil5a" d="M954 757c5,0 8,4 10,9 4,12 5,32 14,32 1,0 4,0 6,-2 4,-3 7,-5 11,-5l148 0 0 2 -147 0c-3,0 -5,1 -8,4l0 0c-3,3 -8,5 -12,5 -12,1 -17,-10 -18,-15 -2,-7 -6,-28 -16,-30 4,0 11,-1 12,0z"/>
     </g>
     <path class="fil4a" d="M942 755c-3,0 -2,2 0,3l0 -3z"/>
    </g>
   </g>
  </g>

<!-- ==== -->

    </svg>                        
                    </a>
                </div>
                <!--End logo-->


                <!-- Navigation Menu -->
                <nav class='navigation no_hide_navigation'>
                    <ul>
                        <li>
                            <a href="/">Главная</a>

                        </li>
                        <li>
                            <a href="/portfolio">Наши работы</a>
                        </li>
                        <li>
                            <a href="/material/0&0&0">Материалы</a>
                        </li>

                        <li>
                            <a href="/infos">Информация</a>
                        </li>
  
                        <li>
                            <a href="#social">Контакты</a>
                        </li>
                        
                       {% if ( isAllowed('admin_button', 'see_button'))  %}
                         <li> <a href="/admin" style="color:yellow;">Админ</a></li>
                        {% endif %}
  
                    </ul>
                </nav>
                <!--End Navigation Menu -->

            </div>
        </header>
        <!-- END HEADER -->

        <!-- CONTENT --------------------------------------------------------------------------------->

        <!-- Intro Section -->
        <section class="inner-intro bg-50 light-color overlay-dark parallax parallax-background2">
            <div class="container">
                <div class="row title">
                    <h2 class="h2">Калькулятор</h2>
                    
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <!-- End Intro Section -->

{% block content %}{{ content|raw }}{% endblock content %}

 

       <!-- Social Section -->
        <section id="social" class="gray-bg ptb ptb-sm-80">
            <div class="container text-center">

                <div class="spacer-60"></div>
                <div class="row">

                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.9236866638394!2d30.62923701599817!3d50.40525979850073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c5a9263ac0f9%3A0x34dc59578fb237ac!2z0L_RgNC-0YHQvy4g0J_QtdGC0YDQsCDQk9GA0LjQs9C-0YDQtdC90LrQsCwgMjMsIDcxLCDQmtC40ZfQsiwg0KPQutGA0LDQuNC90LA!5e0!3m2!1sru!2s!4v1453455068322" width="100%" height="350px" frameborder="0" style="border:0" allowfullscreen></iframe>

                  
                  </div>


                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 addr">
                   
                    <p>
                          <span><i class="ion ion-ios-location"></i></span>
                          Киев,<br />
                          ЖК "АБРИКОС",<br />
                          проспект Петра Григоренко, 23/71
                    </p>
                    <p>  <span><i class="ion ion-ios-telephone"></i></span>
                           (044) 501-92-18<br />
                           (067) 230-26-20
                      </p>
                       <a href="mailto:alanbud@optima.com.ua"><span><i class="ion ion-ios-email"></i></span>alanbud@optima.com.ua</a><br />
    
                       <a href="#" class="order_call">Заказать звонок</a>
                  </div>  


                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <!-- Contact FORM -->
                        <form class="contact-form" id="contact" role="form">

                            <!-- IF MAIL SENT SUCCESSFULLY -->
                            <h6 class="successContent">
                                <i class="fa fa-check left" style="color: #5cb45d;"></i>Ваше сообщение успешно отправлено.
                            </h6>
                            <!-- END IF MAIL SENT SUCCESSFULLY -->

                            <!-- MAIL SENDING UNSUCCESSFULL -->
                            <h6 class="errorContent">
                                <i class="fa fa-exclamation-circle left" style="color: #e1534f;"></i>Возникли проблемы при отправке формы!
                            </h6>
                            <!-- END MAIL SENDING UNSUCCESSFULL -->

                            <div class="form-field-wrapper">
                                <input class="input-sm form-full" id="form-name" type="text" name="form-name" placeholder="Ваше имя" required>
                            </div>

                            <div class="form-field-wrapper">
                                <input class="input-sm form-full" id="form-email" type="email" name="form-email" placeholder="Электронная почта" required>
                            </div>

                            <div class="form-field-wrapper">
                                <input class="input-sm form-full" id="form-subject" type="text" name="form-subject" placeholder="Тема">
                            </div>

                            <div class="form-field-wrapper">
                                <textarea class="form-full" id="form-message" rows="7" name="form-message" placeholder="Сообщение" required></textarea>
                            </div>

                            <button class="btn btn-md btn-black form-full" type="submit" id="form-submit" name="submit">Отправить сообщение</button>
                        </form>
                        <!-- END Contact FORM -->
                    </div>
                </div><!--  **************************************  -->
            </div>
        </section>
        <!-- End Social Section -->



        <hr />




        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
        <footer class="footer pt-80">

            <!-- Copyright Bar -->
            <section class="copyright pb-60">
                <div class="container">
                    <p class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        &copy; 2016 <a><b>ekalan®</b></a>.
                    </p>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 socials">
                        <ul>
                            <li>
 
                                <a class="link" target="_blank" href="https://www.twitter.com/"><i class="ion ion-social-twitter"></i></a>
                            </li>
                            <li>
 
                                <h6><a class="link" target="_blank" href="https://www.facebook.com/"><i class="ion ion-social-facebook"></i></a></h6>
                            </li>
                            <li>

                                <h6><a class="link" target="_blank" href="https://plus.google.com/"><i class="ion ion-social-googleplus"></i></a></h6>
                            </li>
                            <li>

                                <h6><a class="link" target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></h6>
                            </li>
                        </ul>
                    </div>

                </div>
            </section>
            <!-- End Copyright Bar -->

        </footer>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->

<!-- modal  -->
<div class="modal fade" id="materialModal">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Материалы</h4>
      </div>
      <div class="modal-body">
       <dl>
           <dt class="col-lg-6 col-md-6 col-sm-10 col-xs-11"></dt>
           <dd class="col-lg-6 col-md-6 col-sm-10 col-xs-11"></dd>
       </dl>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    <!-- JS -->



    <script src={{ basePath('assets/application/js/jquery-1.11.2.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.stickem.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.easing.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/jquery-ui.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/bootstrap.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.flexslider.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/background-check.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.fitvids.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.viewportchecker.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.stellar.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/wow.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.colorbox-min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/owl.carousel.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/isotope.pkgd.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/masonry.pkgd.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/imagesloaded.pkgd.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jPushMenu.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.fs.tipper.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/mediaelement-and-player.min.js') }}></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.validate.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/theme.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/navigation.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.singlePageNav.js') }} type="text/javascript"></script>

    <script src={{ basePath('assets/application/js/contact-form.js') }} type="text/javascript"></script>
 
    <script type="text/javascript" src={{ basePath('assets/application/js/jquery.plugin.min.js') }}></script>  
    <script type="text/javascript" src={{ basePath('assets/application/js/jquery.countdown.js') }}></script>  
    <script type="text/javascript" src={{ basePath('assets/application/js/jquery.countdown-ru.js') }}></script> 
    <script type="text/javascript" src={{ basePath('assets/application/js/masonry.pkgd.min.js') }}></script> 
    <script type="text/javascript" src={{ basePath('assets/application/js/imagesloaded.pkgd.js') }}></script> 
    <script type="text/javascript" src={{ basePath('assets/application/js/main.js') }}></script>
    <script type="text/javascript" src={{ basePath('assets/application/js/magic.js') }}></script>
  

</body>
</html>
