<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ekalan</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="nileforest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- CSS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css' />
    <link href={{ basePath('assets/application/css/style.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/bootstrap.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/font-awesome.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/ionicons.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/plugin/jPushMenu.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/plugin/animate.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/jquery-ui.css') }} rel="stylesheet" type="text/css" />
    {#<link href={{ basePath('assets/application/css/jquery.countdown.css') }} rel="stylesheet" type="text/css" /> #}
    <link href={{ basePath('assets/application/css/main.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/sales.css') }} rel="stylesheet" type="text/css" />

</head>

<body class="full-intro background--dark">

    <!-- Preloader -->
 {#   <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>#}
    <!-- End Preloader -->
{% block content %}{{ content|raw }}{% endblock content %}

 

<!-- modal  -->
    <div class="modal fade" id="thanksModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Thank you for your message!</h4>
      </div>
      <div class="modal-body">
        <p>In the near future we will contact you  </p>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    <!-- JS -->

    <script src={{ basePath('assets/application/js/jquery-1.11.2.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.easing.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/jquery-ui.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/bootstrap.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.flexslider.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/background-check.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.fitvids.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.viewportchecker.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.stellar.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/wow.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.colorbox-min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/owl.carousel.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/isotope.pkgd.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/masonry.pkgd.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/imagesloaded.pkgd.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jPushMenu.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.fs.tipper.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/mediaelement-and-player.min.js') }}></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.validate.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/theme.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/navigation.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.singlePageNav.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/contact-form.js') }} type="text/javascript"></script>
 
   {# <script type="text/javascript" src={{ basePath('assets/application/js/jquery.plugin.min.js') }}></script>  
    <script type="text/javascript" src={{ basePath('assets/application/js/jquery.countdown.js') }}></script>  
    <script type="text/javascript" src={{ basePath('assets/application/js/jquery.countdown-ru.js') }}></script> #}
    <script type="text/javascript" src={{ basePath('assets/application/js/masonry.pkgd.min.js') }}></script> 
    <script type="text/javascript" src={{ basePath('assets/application/js/imagesloaded.pkgd.js') }}></script> 
    <script type="text/javascript" src={{ basePath('assets/application/js/main.js') }}></script>
    <script type="text/javascript" src={{ basePath('assets/application/js/magic.js') }}></script>

    <script type="text/javascript">
        //  Onepage Nav Elements
        $('.singlepage-nav').singlePageNav({
            offset: 0,
            filter: ':not(.nav-external)',
            updateHash: true,
            currentClass: 'current-ele',
            easing: 'swing',
            speed: 750,
            beforeStart: function () {
                if ($(window).width() < 991) {
                    $('.singlepage-nav > ul').hide();
                };
            },
            onComplete: function () {
                console.log('done scrolling');
            }
        });
    </script>
     <script type="text/javascript" src={{ basePath('assets/application/js/snap.svg-min.js') }}></script>
      <script type="text/javascript">
      var animSvg = Snap("#animation");
      var bck = animSvg.paper.image("{{ basePath('assets/application/img/tabletop_ImgID1.jpg') }}", 0, 0, 1235, 822).attr({opacity:0.01});
 



var svgString1 = '<path id="s3" d="M533 232c0,137 0,368 0,482l148 0 0 -614 -498 0 0 614 130 0 0 -482 220 0z M654 544c-38,0 -49,0 -90,0l0 -138 90 0 0 138z M192 593l0 -128 109 0c0,17 0,114 0,128l-109 0zM533 232l0 482 148 0 0 0c-9,0 -145,0 -148,0l0 -482 -220 0 0 0 220 0z M183 714l130 0c0,0 0,0 0,0 -28,0 -45,0 -130,0l0 0z" stroke="black"/>';



function Drawing( svgString, transformString, timeBetweenDraws ) {
    this.fragment = Snap.parse( svgString );
    this.pathArray = this.fragment.selectAll('path');
    this.group = animSvg.g().transform( transformString ).drag();
    this.timeBetweenDraws = timeBetweenDraws;
};

Drawing.prototype.init = function( svgString, transformString ) {
      this.group.clear();
      this.currentPathIndex = 0;

};

Drawing.prototype.endReached = function() {
    if( this.currentPathIndex >= this.pathArray.length ) {
        return true;
    };
};

Drawing.prototype.callOnFinished = function() {
}

Drawing.prototype.initDraw = function() {
    this.init();
    this.draw();
};

Drawing.prototype.quickDraw = function() {
    this.init();
    this.timeBetweenDraws = 0;
    this.draw();
};

Drawing.prototype.draw = function() {         // this is the main animation bit
    if( this.endReached() ) {
        if( this.callOnFinished ) {
            this.callOnFinished();
            return
        };
    };
    var myPath = this.pathArray[ this.currentPathIndex ] ;

    this.leng = myPath.getTotalLength();

    this.group.append( myPath );

     myPath.attr({
       fill: 'none',
       "stroke-dasharray": this.leng + " " + this.leng,
       "stroke-dashoffset": this.leng
     });

     this.currentPathIndex++;

     myPath.animate({"stroke-dashoffset": 0}, this.timeBetweenDraws, mina.easeout, this.draw.bind( this ) );

};

var fil='blanchedAlmond',
strk="gainsboro";

var myDrawing1 = new Drawing( svgString1, '', 2500 );
animSvg.select('#dim').animate({opacity:1},1000);

myDrawing1.initDraw();
myDrawing1.callOnFinished = function(){

      var contour = animSvg.paper.path("M533 232c0,137 0,368 0,482l148 0 0 -614 -498 0 0 614 130 0 0 -482 220 0z M654 544c-38,0 -49,0 -90,0l0 -138 90 0 0 138z M192 593l0 -128 109 0c0,17 0,114 0,128l-109 0zM533 232l0 482 148 0 0 0c-9,0 -145,0 -148,0l0 -482 -220 0 0 0 220 0z M183 714l130 0c0,0 0,0 0,0 -28,0 -45,0 -130,0l0 0z")
          .attr({
            fill : 'linen ',
            stroke: strk,
            strokeWidth: 3,
            opacity:0   
        });


        animSvg.select('#dim').animate({opacity:0},1500);
        animSvg.select('#s3').animate({opacity:0},1000);
         contour.animate({
        'd':'M533 232c0,137 0,368 0,482l148 0 0 -614 -498 0 0 614 130 0 0 -482 220 0z M654 544c-38,0 -49,0 -90,0l0 -138 90 0 0 138z M192 593l0 -128 109 0c0,17 0,114 0,128l-109 0z M533 232l0 482 148 0 0 0c-9,0 -145,0 -148,0l0 -482 -220 0 0 0 220 0z M183 714l130 0c0,0 0,0 0,0 -28,0 -45,0 -130,0l0 0z',
            opacity:1   
                }, 1500, mina.easeinout, 
                    function(){
                        // document.getElementById('dim');
                        contour.animate({
                            'd':'M462 501c192,49 385,98 577,148l223 -31 -727 -131 -479 19 -154 323 538 -85 -228 -233 250 -10z  M939 563c-49,4 -98,8 -147,13l-136 -34 119 -9 164 30z M-8 656l25 -51 242 -19c11,14 22,28 33,42l-300 28z M462 509l578 161 222 -33 0 -19c-74,10 -149,20 -223,31l-577 -148 -249 11 9 9 240 -12z M-98 859l539 -86c0,-10 2,-30 -2,-29 -179,28 -358,57 -537,85l0 30z',
                            fill : fil,
                            strokeWidth: 2, 
                            stroke :strk,
                                    }, 750, mina.easeinout, 
                                                                function(){
                                                                    bck.animate({opacity:1},3000); 
                                                                    contour.animate({opacity:0},5000);
                                                                }
                    )}
                )

}

      </script>
</body>
</html>
