<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ekalan</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="nileforest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- CSS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css' />
    <link href={{ basePath('assets/application/css/style.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/bootstrap.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/font-awesome.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('/assets/admin/css/ionicons.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/ionicons.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/plugin/jPushMenu.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/plugin/animate.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/jquery-ui.css') }} rel="stylesheet" type="text/css" />
    {#<link href={{ basePath('assets/application/css/jquery.countdown.css') }} rel="stylesheet" type="text/css" /> #}
    <link href={{ basePath('assets/application/css/main.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/sales.css') }} rel="stylesheet" type="text/css" />
    <link href={{ basePath('assets/application/css/responsive.css') }} rel="stylesheet" type="text/css" />

</head>

<body class="full-intro background--dark">

    <!-- Preloader -->
 {#   <section id="preloader">
        <div class="loader" id="loader">
            <div class="loader-img"></div>
        </div>
    </section>#}
    <!-- End Preloader -->
{% block content %}{{ content|raw }}{% endblock content %}

 

<!-- modal  -->
    <div class="modal fade" id="thanksModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Спасибо за ваше сообщение!</h4>
      </div>
      <div class="modal-body">
        <p>В ближайшее время мы свяжемся с вами.</p>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    <!-- JS -->

    <script src={{ basePath('assets/application/js/jquery-1.11.2.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.easing.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/jquery-ui.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/bootstrap.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.flexslider.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/background-check.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.fitvids.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.viewportchecker.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.stellar.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/wow.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.colorbox-min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/owl.carousel.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/isotope.pkgd.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/masonry.pkgd.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/imagesloaded.pkgd.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jPushMenu.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.fs.tipper.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/mediaelement-and-player.min.js') }}></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.validate.min.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/theme.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/navigation.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/plugin/jquery.singlePageNav.js') }} type="text/javascript"></script>
    <script src={{ basePath('assets/application/js/contact-form.js') }} type="text/javascript"></script>
 
   {# <script type="text/javascript" src={{ basePath('assets/application/js/jquery.plugin.min.js') }}></script>  
    <script type="text/javascript" src={{ basePath('assets/application/js/jquery.countdown.js') }}></script>  
    <script type="text/javascript" src={{ basePath('assets/application/js/jquery.countdown-ru.js') }}></script> #}
    <script type="text/javascript" src={{ basePath('assets/application/js/masonry.pkgd.min.js') }}></script> 
    <script type="text/javascript" src={{ basePath('assets/application/js/imagesloaded.pkgd.js') }}></script> 
    <script type="text/javascript" src={{ basePath('assets/application/js/main.js') }}></script>
    <script type="text/javascript" src={{ basePath('assets/application/js/magic.js') }}></script>

    <script type="text/javascript">
        //  Onepage Nav Elements
        $('.singlepage-nav').singlePageNav({
            offset: 0,
            filter: ':not(.nav-external)',
            updateHash: true,
            currentClass: 'current-ele',
            easing: 'swing',
            speed: 750,
            beforeStart: function () {
                if ($(window).width() < 991) {
                    $('.singlepage-nav > ul').hide();
                };
            },
            onComplete: function () {
                console.log('done scrolling');
            }
        });
    </script>
     <script type="text/javascript" src={{ basePath('assets/application/js/snap.svg-min.js') }}></script>
 <script type="text/javascript" src={{ basePath('assets/application/js/tabletop.js') }}> </script>
</body>
</html>
