{% extends 'layout/admin.twig' %}


{% block content %}


<a href="/admin/manufacturers">Производители</a> / Редактировать производителя
<hr>
<div class="row">
     <div class="col-md-8">
                     <section class="material_open">
                            <div class="panel panel-default">
                                      <div class="panel-heading">
        
                                      <h4>Редактировать производителя</h4>
                                      <a class="del_manufacturer del_link" data-id="{{ manufacturer.id }}"><i class="fa fa-trash-o"></i></a>
                                       </div>

{#  #}                                       
                                          <div class="panel-body">
                                                <form action="/admin/manufacturer" method="post" enctype="multipart/form-data" id="updatemanufacturer">
                                                <input type="hidden" name="id" value="{{ manufacturer.id }}">
                                                  <ul class="text_data">
                                                     <li><span>Имя производителя *</span>
                                                              <div class="text">
                                                                   <span class="error_msg">Укажите Имя производителя</span>
                                                                   <input type="text" name="name_manufacturer" class="required" value="{{ manufacturer.name_manufacturer }}" />

                                                             </div>
                                                      </li>

                                                  <li class="separator"></li>
                                                     <li class="url_picture"><span>Логотип</span>
                                                                <ul  class="{{ manufacturer.id_picture ? '' : 'empty '}} photos_list">
                                                                {% if manufacturer.id_picture %}
                                                                               <li>
                                                                                       <span>
                                                                                             <i class="fa fa-times"></i>
                                                                                      </span>
                                                                                      <div style="background-image: url('{{ manufacturer.url_picture_prepared }}');">
                                                                                             <input type="hidden" value="" name="url_picture[]" />
                                                                                             <input type="hidden" value="{{ manufacturer.id_picture }}" name="id_picture" />
                                                                                       
                                                                                      </div>
                                                                                </li>
                                                                 {% endif %}               
                                                                </ul>
                                                                <div class="add_photo_btn only_one{{ manufacturer.id_picture ? ' add_photo_btn_hidden' : ''}}" data-form-id="url_picture"><i class="fa fa-plus"></i><span class="span_add_photo_btn"></span></div>

                                                     </li>

                                                  <div><input type="button" value="Обновить производителя" data-form="updatemanufacturer" class="checker" /> <a href="/admin/manufacturers">Отмена</a></div>


                                                 </form> 
                                                     <li class="separator"></li>                                                     
                                                     <li><span>Коллекции</span>
                                                             <ul class="textures">
                                                                  <li class="add">
                                                                         <span>Добавить коллекцию</span>
                                                                         <div class="form_to_add">
                                                                                <form action="/admin/ajax/addcollection" method="post">
                                                                                          <div><input type="text" name="name_collection" /></div>
                                                                                          <div><input type="hidden" name="id_manufacturer" value="{{ manufacturer.id }}" class="dontremove" /></div>
                                                                                          <div><input type="button" id="adding" value="Добавить" /> </div>
                                                                                 </form>

                                                                          </div>

                                                                  </li>                                                             
                                                                  {% if collections %}
                                                                              {% for collect in collections %}
                                                                                       <li class="ajax_edit_obj">
                                                                                                <form action="/admin/ajax/collectionupdate" method="post">
                                                                                                            <input type="hidden" name="id" value="{{ collect.id }}"  />
                                                                                                            <input type="hidden" name="name_collection" id="name_collection_{{ collect.id }}" value="{{ collect.name_collection }}"  />
                                                                                                             <input type="hidden" name="id_manufacturer"  value="{{ collect.id_manufacturer }}"  />
                                                                                                </form>    
                                                                                                <div class="editable">
                                                                                                        <span>{{ collect.name_collection }}</span>
                                                                                                        <div class="editblock">
                                                                                                                 <div class="editarea">
                                                                                                                         <input type="text" data-name="name_collection_{{ collect.id }}" value="{{ collect.name_collection }}" />
                                                                                                                 </div>
                                                                  

                                                                                                        </div><!-- editblock  -->
                                                                                                       <i class="fa fa-pencil fa-fw"></i>
                                                                                                </div>
                                                                                                <span class="del_category_ajax"><i class="fa fa-trash-o"></i>
                                                                                                       <form action="/admin/delcategory">
                                                                                                           <input type="hidden" name="name_cat" value="collection" />
                                                                                                           <input type="hidden" name="id_cat" value="{{ collection.id }}" />
                                                                                                           <input type="hidden" name="id_manufacturer" value="{{ manufacturer.id }}" class="dontremove" />
                                                                                                       </form>

                                                                                                 </span>                                                          
                                                        
                                                                                          </li>

                                                                              {% endfor %}

                                                                      {% endif %}

                                                             </ul></li>

                                                  </ul>

                                                                 
                                                <form action="/admin/ajaxaddphoto" method="post" id="url_picture" class="form_photos">
                                                           <input type="file" class="input_file_hidden" name="sample" />
                                                          
                                               </form> 
                                         </div>
                                 </div>     



              </section>
     </div> 
<div class="modal fade" id="delete_confirm_window">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Подтверждение удаления статьи</h4>
      </div>
      <div class="modal-body">
        Статья будет удалена. Вы уверены?
      </div>
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn" id="btn_cancel_deleting">Отменить</a>
                <a href="/admin/delarticle/{{ article.id }}" class="btn btn-primary" id="btn_confirm_deleting">Удалить</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->  
{% endblock content %}