{% extends 'layout/admin.twig' %}


{% block content %}
<a href="/admin/materials">Материалы</a> / Новый материал
<hr>
<div class="row">
     <div class="col-md-8">
                     <section class="material_open">
                            <div class="panel panel-default">
                                      <div class="panel-heading">
        
                                              <h4>Добавить новый материал</h4>
                                       </div>
                                          <div class="panel-body">
                                                <form action="/admin/addmaterial" method="post" enctype="multipart/form-data">
                                                  <ul class="text_data">
                                                     <li><span>Наименование</span>
                                                              <div>
                                                                   <input type="text" name="name_material" required="" />

                                                             </div>
                                                      </li>
                                                      <li class="separator"></li>
                                                    <li class="sample_data"> 
                                                      <em style="background:red;"> </em>
                                                      <div><label>Установить новое фото</label><input type="file" name="sample" /></div>
                                                     <span>или</span>
                                                      <div id="sample_list_open_window" class="local_link">Выбрать из списка</div>
                                                  </li>
                                                  <li class="separator"></li>


                                                      <li><span>Артикул</span>
                                                          <div>
                                                              <input type="text" name="articul" />
                                                         </div>
                                                     </li>

                                                     <li class="separator"></li>

                                                     <li><span>Производитель</span>
                                                         <div>
                                                               <select name="id_manufacturer" id="id_manufacturer_select">
                                                                     {% for manuf in lists.manufacturers %}
                                                                             <option value="{{ manuf.id }}">{{ manuf.name_manufacturer }}</option>
                                                                      {% endfor %}

                                                               </select>
                                                          </div>
                                                      </li>
                                                     <li><span>Коллекция</span>
                                                         <div>
                                                               <select name="id_collection" id="id_collection_select">
                                                                     {% for collection in lists.collections %}
                                                                             <option value="{{ collection.id }}">{{ collection.name_collection }}</option>
                                                                      {% endfor %}

                                                               </select>
                                                          </div>
                                                      </li>
                                                     <li class="separator"></li>


                                                     <li><span>Цвет</span>
                                                          <div>
                                                                <select name="id_color">
                                                                     {% for color in lists.colors %}
                                                                             <option value="{{ color.id }}">{{ color.name_color }}</option>
                                                                      {% endfor %}

                                                               </select>
                                                         </div>

                                                      </li>
                                                     <li><span>Текстура</span>

                                                        <div>
                                                                <select name="id_texture">
                                                                     {% for texture in lists.textures %}
                                                                             <option value="{{ texture.id }}">{{ texture.name_texture }}</option>
                                                                      {% endfor %}

                                                               </select>

                                                          </div>

                                                      </li>
                                                     <li class="separator"></li>
                                                     <li><span>Цена</span>
                                                         <div>
                                                              <input type="text" name="price_material" />
                                                         </div>
                                                          
                                                     </li>
                                                     <li class="separator"></li>
                                                     <li><span>Подобные</span>
                                                                <ul id="analogs_list" class="empty"></ul>
                                                                <div id="material_list_open_window" class="local_link">Выбрать из списка</div>
                                                                <input type="hidden" name="analogs" id="form_analogs_list" />
                                                     </li>
                                                  </ul>

                                                  <div><input type="submit" value="Добавить материал" /></div>
                                                 </form> 
                                         </div>
                                 </div>   	



			        </section>
     </div> 
 <div class="modal fade" id="material_list_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Укажите материалы, подобные данному:</h4>
      </div>
      <div class="modal-body">
            <ul class="analog_list_window"><form id="form_analogs">
              

                  {% for material in lists.materials  %}
                      
                      <li data-id={{ material.id }}> 
                         <div style="background:url('{{ material.url }}') no-repeat top left;">
                                  <small>{{ material.articul }}</small><br />
                                  <span>
                                          {{ material.name_material }}
                                  </span>  
                        </div>
                        <input type="checkbox" value="{{ material.id }}" id="a_{{ material.id }}" />   

                       </li>
                  {%endfor%}
            </form></ul>

      </div>
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Отменить</a>
                <a href="#" class="btn btn-primary" id="btn_pick_analogs">Добавить</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal -->
     <script>
       
       var hash_collections = new Object();
      hash_collections = {{ hash_collections | raw }};

     </script>

{% endblock content %}