{% extends 'layout/admin.twig' %}


{% block content %}
<a href="/admin/materials">Материалы</a> / Новый материал
<hr>
<div class="row">
     <div class="col-md-8">
                     <section class="material_open">
                            <div class="panel panel-default">
                                      <div class="panel-heading">
        
                                              <h4>Добавить новый материал</h4>
                                       </div>
                                          <div class="panel-body">
                                                <form action="/admin/addmaterial" method="post" enctype="multipart/form-data">
                                                  <ul class="text_data">
                                                     <li><span>Наименование</span>
                                                              <div>
                                                                   <input type="text" name="name_material" required="" />

                                                             </div>
                                                      </li>

                                                  <li class="separator"></li>


                                                      <li><span>Артикул</span>
                                                          <div>
                                                              <input type="text" name="articul" />
                                                         </div>
                                                     </li>

                                                     <li class="separator"></li>

                                                     <li><span>Производитель</span>
                                                         <div>
                                                               <select name="id_manufacturer" id="id_manufacturer_select">
                                                                     {% for manuf in lists.manufacturers %}
                                                                             <option value="{{ manuf.id }}">{{ manuf.name_manufacturer }}</option>
                                                                      {% endfor %}

                                                               </select>
                                                          </div>
                                                      </li>
                                                     <li><span>Коллекция</span>
                                                         <div>
                                                               <select name="id_collection" id="id_collection_select">
                                                                     {% for collection in lists.collections %}
                                                                             <option value="{{ collection.id }}">{{ collection.name_collection }}</option>
                                                                      {% endfor %}

                                                               </select>
                                                          </div>
                                                      </li>
                                                     <li class="separator"></li>


                                                     <li><span>Цвет</span>
                                                          <div>
                                                                <select name="id_color">
                                                                     {% for color in lists.colors %}
                                                                             <option value="{{ color.id }}">{{ color.name_color }}</option>
                                                                      {% endfor %}

                                                               </select>
                                                         </div>

                                                      </li>
                                                     <li><span>Текстура</span>

                                                        <div>
                                                                <select name="id_texture">
                                                                     {% for texture in lists.textures %}
                                                                             <option value="{{ texture.id }}">{{ texture.name_texture }}</option>
                                                                      {% endfor %}

                                                               </select>

                                                          </div>

                                                      </li>
                                                     <li class="separator"></li>
                                                     <li><span>Цена материала</span>
                                                         <div>
                                                              <input type="text" name="price_material" />
                                                         </div>
                                                          
                                                     </li>
                                                     <li><span>Стоимость работ</span>
                                                         <div>
                                                              <input type="text" name="processing_price_material" />
                                                         </div>
                                                          
                                                     </li>
                                                     <li class="separator"></li>
                                                     <li><span>Подобные</span>
                                                                <ul id="analogs_list" class="empty"></ul>
                                                                <div id="material_list_open_window" class="local_link">Выбрать из списка</div>
                                                                <input type="hidden" name="analogs" id="form_analogs_list" />
                                                     </li>

                                                    <li class="separator"> </li>
                                                   <li class="textarea"><span>Описание</span>

                                                          <div>
                                                                  <div>
                                                                       <textarea name="describe_material"></textarea>
                                                                  </div>
                                                                  


                                                            
                                                          </div> 
                                                     </li>                                                    
                                                  </ul>
                                                  <input type="hidden" name="id_sample" id="id_sample" value="{{ material.id_sample }}" />
                                                  <input type="hidden" name="new_sample" id="new_sample" value="0" />
                                                  <div><input type="submit" value="Добавить материал" /></div>


                                                 </form> 
                                        <div class="sample_data"> 
                                                
                                                      <a href=# class="edit_sample"><em style="background-image:url('{{ material.url }}');"> </em></a>
                                                  </div>
                                         </div>
                                 </div>   	



			        </section>
     </div> 
 <div class="modal fade" id="material_list_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Укажите материалы, подобные данному:</h4>
      </div>
      <div class="modal-body">
      <div class="search_by_articul"><label>Поиск по артикулу</label><input id="search_by_articul" /></div>
            <ul class="analog_list_window"><form id="form_analogs">
                   {% for material in lists.materials  %}
                      
                      <li data-id={{ material.id }}> 
                         <div style="background:url('{{ material.url }}') no-repeat top left;">
                                  <small>{{ material.articul }}</small><br />
                                  <span>
                                          {{ material.name_material }}
                                  </span>  
                        </div>
                        <input type="checkbox" value="{{ material.id }}" id="a_{{ material.id }}" />   

                       </li>
                  {%endfor%}
            </form></ul>

      </div>
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Отменить</a>
                <a href="#" class="btn btn-primary" id="btn_pick_analogs">Добавить</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal -->

 <div class="modal fade" id="sample_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Изменение фотографии образца</h4>
      </div>
      <div class="modal-body">
  
                  <div class="tabs b-lrb-none ui-tabs ui-widget ui-widget-content ui-corner-all tabs_area">
                        <ul role="tablist" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                              <li aria-expanded="true" aria-selected="true" aria-labelledby="ui-id-1" aria-controls="tabs-1" tabindex="0" role="tab" class="ui-state-default ui-corner-top ui-tabs-active ui-state-active">
                                   <a id="ui-id-1" tabindex="-1" role="presentation" class="ui-tabs-anchor" href="#tabs-1">Загрузить фото</a>
                              </li>
                        <li aria-expanded="false" aria-selected="false" aria-labelledby="ui-id-2" aria-controls="tabs-2" tabindex="-1" role="tab" class="ui-state-default ui-corner-top"> 
                                    <a id="ui-id-2" tabindex="-1" role="presentation" class="ui-tabs-anchor" href="#tabs-2">Выбрать фото</a>
                        </li>
                       
                    </ul>   
                    <div class="ui-tab-content">
                        <div aria-hidden="false" role="tabpanel" aria-labelledby="ui-id-1" id="tabs-1" class="plr-0 ui-tabs-panel ui-widget-content ui-corner-bottom">
                               <div><form action="/admin/ajaxuploadimg" method="post" id="sample_form"><label>Установить новое фото</label><input type="file" name="sample" id="sample" /></div>
                        </div>
                        <div aria-hidden="true" style="display: none;" role="tabpanel" aria-labelledby="ui-id-2" id="tabs-2" class="plr-0 ui-tabs-panel ui-widget-content ui-corner-bottom">
                        <div class="search_by_file_container"><input type="text" placeholder="Искать по имени файла" id="search_by_file_name" /></div>
                            <ul id="list_sample">
                                {% for sample in lists.samples  %}
                                    <li>
                                        <div style="background-image:url('{{ sample.url }}')"></div>
                                        <span><input name="r_sample" value="{{ sample.id }}" type="radio" /></span>
                                        <span class="url">{{ sample.url }}</span>
                                        <span class="file_name">{{ sample.file_name }}</span>
                                    </li>    
                                {% endfor %}
                             </ul> 
                             <div class="clear"></div>
                        </div>  

                     </div>                         
                  </div>  
                  <div class="loaded_img">
                    
                         <div class="img_container"><div style="background-image:url('{{  material.url }}')"><div class="img_loader"></div></div></div>
                         <input type="hidden" id="tmp_new_sample" />
                         <input type="hidden" id="tmp_id_sample" />
          
                       <!--  <div id="img_msg">Не выбрано изображений</div> -->

                  </div>
                  <div class="clear"></div>
             </div><!--  modal-body  -->
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Отменить</a>
                <a href="#" class="btn btn-primary" id="btn_pick_sample">Добавить</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal --> 
     <script>
       
       var hash_collections = new Object();
      hash_collections = {{ hash_collections | raw }};

     </script>

{% endblock content %}