{% extends 'layout/admin.twig' %}


{% block content %}



<h2 class="title_page"><a href="/admin/materials">Цвета</a></h2>
<hr class="clear" />
<div class="row">
     <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12"> 
             <section class="textures">
 
                                     <ul class="text_data">
                                     <li class="add">
                                          <span>Добавить Цвет</span>
                                          <div class="form_to_add">
                                                  <form action="/admin/ajaxaddcolor" method="post">
                                                       <div><input type="text" name="name_color" required="" /></div>
                                                       <div class="color_container"><input type='text' class="colors" data-color="#fff" /></div>
                                                      <div><input type="button" id="adding" value="Добавить" /> </div>
                                                  </form>

                                          </div>

                                     </li>
                                     {% for color in colors %}
                                                     <li class="ajax_edit_obj">
                                                       <form action="/admin/ajaxcolorupdate" method="post">
                                                            <input type="hidden" name="id" value="{{ color.id }}"  />
                                                            <input type="hidden" name="name_color" id="name_color_{{ color.id }}" value="{{ color.name_color }}"  />
                                                          </form> 
                                                         <div class="width_for_edit">   
                                                         <div class="editable">
                                                             <span>{{ color.name_color }}</span>
                                                             <div class="editblock">
                                                                  <div class="editarea">
                                                                       <input type="text" data-name="name_color_{{ color.id }}" value="{{ color.name_color }}" />
                                                                  </div>
                                                                  

                                                            </div><!-- editblock  -->
                                                            <i class="fa fa-pencil fa-fw"></i>
                                                          </div>
                                                          </div>
                                                          <div class="color_container"><input type='text' class="colors" data-color="{{ color.color_color }}" /></div>

                                                          
                                                        <span class="del_category_ajax"><i class="fa fa-trash-o"></i>
                                                                  <form action="/admin/delcategory">
                                                                       <input type="hidden" name="name_cat" value="color" />
                                                                       <input type="hidden" name="id_cat" value="{{ color.id }}" />
                                                                  </form>

                                                        </span>                                                         
                                                      </li>

                                      {%  endfor %}                
                                    </ul>     
         
</section>
 </div> 
      
 



 <div class="modal fade can_deleting_category" id="candel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn_cancel_deleting" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Подтверждение удаления цвета</h4>
      </div>
      <div class="modal-body">
        <p>Цвет будет удален.</p>
         <p>Вы уверены?</p>
        <form method=post action="/admin/ajax_deleting_group" id="form_deleting_group">  
            <input type="hidden" id="deleting_list" name="deleting_list" />
        </form>
      </div>
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn_cancel_deleting">Отменить</a>
                <a href="#" class="btn btn-primary btn_confirm_deleting">Удалить</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 <div class="modal fade cannot_deleting_category" id="cannotdel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn_ok" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Цвет не будет удален.</h4>
      </div>
      <div class="modal-body">
        <p>Цвет не может быть удален, так как к нему относится ряд материалов.</p>
       
      </div>
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn_ok">Понятно</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->







{% endblock content %}