{% extends 'layout/admin.twig' %}


{% block content %}



<h2 class="title_page"><a href="/admin/materials">Цвета</a></h2>
<hr class="clear" />
<div class="row">
     <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12"> 
             <section class="textures">
 
                                     <ul class="text_data">
                                     <li class="add">
                                          <span>Добавить Цвет</span>
                                          <div class="form_to_add">
                                                  <form action="ajax_add_texture" method="post">
                                                       <div><input type="text" name="name_color" /></div>
                                                       <div><input type="submit" value="Добавить" /> </div>
                                                  </form>

                                          </div>

                                     </li>
                                     {% for color in colors %}
                                                     <li class="ajax_edit_obj">
                                                       <form action="/admin/ajaxcolorupdate" method="post">
                                                            <input type="hidden" name="id" value="{{ color.id }}"  />
                                                            <input type="hidden" name="name_color" id="name_color_{{ color.id }}" value="{{ color.name_color }}"  />
                                                          </form>    
                                                         <div class="editable">
                                                             <span>{{ color.name_color }}</span>
                                                             <div class="editblock">
                                                                  <div class="editarea">
                                                                       <input type="text" data-name="name_color_{{ color.id }}" value="{{ color.name_color }}" />
                                                                  </div>
                                                                  

                                                            </div><!-- editblock  -->
                                                            <i class="fa fa-pencil fa-fw"></i>
                                                          </div>
                                                          
                                                        
                                                      </li>

                                      {%  endfor %}                
                                    </ul>    
              </section>


              </div>       
 





       <script type="text/javascript">

     </script>
{% endblock content %}