{% extends 'layout/admin.twig' %}


{% block content %}



<h2 class="title_page"><a href="/admin/materials">Группы готовых решений</a></h2>
<hr class="clear" />
<div class="row">
     <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
              <section class="textures">
 
                                     <ul class="text_data">
                                     <li class="add">
                                          <span>Добавить группу</span>
                                          <div class="form_to_add">
                                                  <form action="/admin/ajaxaddgroup" method="post">
                                                       <div><input type="text" name="name_group" required="" /></div>
                                                       <div><input type="button" value="Добавить" id="adding" /> </div>
                                                  </form>

                                          </div>

                                     </li>
                                     {% for group in groups %}
                                                     <li class="ajax_edit_obj">
                                                       <form action="/admin/ajaxgroupupdate" method="post">
                                                            <input type="hidden" name="id" value="{{ group.id }}"  />
                                                            <input type="hidden" name="name_group" id="name_group_{{ group.id }}" value="{{ group.name_group }}"  />
                                                          </form>    
                                                         <div class="editable">
                                                             <span>{{ group.name_group }}</span>
                                                             <div class="editblock">
                                                                  <div class="editarea">
                                                                       <input type="text" data-name="name_group_{{ group.id }}" value="{{ group.name_group }}" />
                                                                  </div>
                                                                  

                                                            </div><!-- editblock  -->
                                                            <i class="fa fa-pencil fa-fw"></i>
                                                          </div>
                                                          
                                                        <span class="del_category_ajax"><i class="fa fa-trash-o"></i>
                                                                  <form action="/admin/delcategory">
                                                                       <input type="hidden" name="name_cat" value="group" />
                                                                       <input type="hidden" name="id_cat" value="{{ group.id }}" />
                                                                  </form>

                                                        </span>
                                                      </li>

                                      {%  endfor %}                
                                    </ul>    
              </section>
     </div>       
 






 <div class="modal fade can_deleting_category" id="candel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Подтверждение удаления группы</h4>
      </div>
      <div class="modal-body">
        <p>Группа будет удалена.</p>
        <ul id="list_for_deleting"></ul>
         <p>Вы уверены?</p>
        <form method=post action="/admin/ajax_deleting_group" id="form_deleting_group">  
            <input type="hidden" id="deleting_list" name="deleting_list" />
        </form>
      </div>
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn_cancel_deleting">Отменить</a>
                <a href="#" class="btn btn-primary btn_confirm_deleting">Удалить</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 <div class="modal fade cannot_deleting_category" id="cannotdel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Группа не будет удалена.</h4>
      </div>
      <div class="modal-body">
        <p>Группа не может быть удалена, так как не является пустой.</p>
       
      </div>
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn_ok">Понятно</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



{% endblock content %}