{% extends 'layout/admin.twig' %}


{% block content %}



<h2 class="title_page"><a href="/admin/materials">Группы готовых решений</a></h2>
<hr class="clear" />
<div class="row">
     <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
              <section class="textures">
 
                                     <ul class="text_data">
                                     <li class="add">
                                          <span>Добавить группу</span>
                                          <div class="form_to_add">
                                                  <form action="/admin/ajaxaddgroup" method="post">
                                                       <div><input type="text" name="name_group" required="" /></div>
                                                       <div><input type="button" value="Добавить" id="adding" /> </div>
                                                  </form>

                                          </div>

                                     </li>
                                     {% for group in groups %}
                                                     <li class="ajax_edit_obj">
                                                       <form action="/admin/ajaxgroupupdate" method="post">
                                                            <input type="hidden" name="id" value="{{ group.id }}"  />
                                                            <input type="hidden" name="name_group" id="name_group_{{ group.id }}" value="{{ group.name_group }}"  />
                                                          </form>    
                                                         <div class="editable">
                                                             <span>{{ group.name_group }}</span>
                                                             <div class="editblock">
                                                                  <div class="editarea">
                                                                       <input type="text" data-name="name_group_{{ group.id }}" value="{{ group.name_group }}" />
                                                                  </div>
                                                                  

                                                            </div><!-- editblock  -->
                                                            <i class="fa fa-pencil fa-fw"></i>
                                                          </div>
                                                          
                                                        
                                                      </li>

                                      {%  endfor %}                
                                    </ul>    
              </section>
     </div>       
 





       <script type="text/javascript">

     </script>
{% endblock content %}