{% extends 'layout/admin.twig' %}


{% block content %} 
<a href="#">Редактирование главной страницы</a>
<hr>
<div class="row">
     <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
             <section class="pages_list">
                  <div class="tabs b-lrb-none ui-tabs ui-widget ui-widget-content ui-corner-all">
                        <ul role="tablist" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                              <li aria-expanded="true" aria-selected="true" aria-labelledby="ui-id-1" aria-controls="tabs-1" tabindex="0" role="tab" class="ui-state-default ui-corner-top ui-tabs-active ui-state-active">
                                   <a id="ui-id-1" tabindex="-1" role="presentation" class="ui-tabs-anchor" href="#tabs-1"><i class="ion ion-help-circled left"></i>Карусель работ</a>
                              </li>
                        <li aria-expanded="false" aria-selected="false" aria-labelledby="ui-id-2" aria-controls="tabs-2" tabindex="-1" role="tab" class="ui-state-default ui-corner-top"> 
                                    <a id="ui-id-2" tabindex="-1" role="presentation" class="ui-tabs-anchor" href="#tabs-2"><i class="ion ion-help-buoy left"></i>Акции</a>
                        </li>
                      
                    </ul>
                    <div class="ui-tab-content">
                        <div aria-hidden="false" role="tabpanel" aria-labelledby="ui-id-1" id="tabs-1" class="plr-0 ui-tabs-panel ui-widget-content ui-corner-bottom">

{# --------------------------------- #}

<div id="template_new_window">
<div class="accordion-section new_section">
<span class="del_window_ajax del_link"><i class="fa fa-trash-o"></i></span>
<h6 class="myaccordion-title"><span class="title">Добавление нового окна карусели</span></h6>
<div class="accordion-content defualt-hidden window_block" style="display: block;">
                 <div class="alert alert-success alert-dismissible" role="alert">
                                                                                           <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                                           Содержимое экрана успешно обновлено.
                                                                                           <input type="text" class="focus_alert" />
                 </div> 
<form action="/admin/addkarusel" method="post">
           


      <h3>Новый экран карусели</h3>
             <div class="title_karusel text">
                        <span>Заголовок экрана *</span>
                        <span class="error_msg">Укажите заголовок экрана</span>
                        <input name="title_windowkarusel" class="title_windowkarusel required" type="text" />
                        <input name="id_window" type="hidden" />
            </div>     

                                                                               
    {% for i in range(0, 5) %}
    
                 


         <div class="frame" data-num-frame="{{ i }}">
                     <div class="type_frame">
                            
                            <input name="data[{{ i }}][numframe_karusel]" value="{{ i }}" type="hidden">
                            <label class="input_left change_type" data-type-frame="photo_type"><input name="data[{{ i }}][type_karusel]" value="1" checked="checked" type="radio">Фото</label>
                            <label class="input_right change_type" data-type-frame="text_type"><input name="data[{{ i }}][type_karusel]" value="2" type="radio">Текст</label>

                            
                     </div><!-- type_frame  -->
                    <div class="content_block">
                             <div class="tab photo_type active">
                                                                <ul class="photos_list empty"></ul>
                                                                <div class="add_photo_btn edit_sample only_one">
                                                                          <i class="fa fa-plus"></i>
                                                                          <span class="span_add_photo_btn"></span>
                                                                </div>
                                               <div>
                                               <span>Ссылка на проект</span>
                                                <select name="data[{{ i }}][id_folio]">
                                                          <option value="0">Нет</option>
                                                          {%  for folio in folios %}
                                                                 <option value="{{ folio.id }}">{{ folio.name_folio }}</option>
                                                          {% endfor %}      
                                                </select>

                                             </div> 
                                             <div><span>Заголовок</span><input name="data[{{ i }}][title_karusel]" type="text"></div>
                                             <div><span>Подзаголовок</span><input name="data[{{ i }}][subtitle_karusel]" type="text"></div>
                             </div><!-- photo_type  -->

                             <div class="tab text_type">
                                      <textarea name="data[{{ i }}][text_karusel]"></textarea>
                             </div><!-- text_type  -->

                    </div>

         </div><!-- frame  -->

{% endfor %}  

<div class="clear"></div>
<div class="adding_button_block"><input value="Добавить экран" data-params="addkarusel" data-form="addkarusel_1" class="checker byAjax withAddingAction" type="button" /> <a href=# class="cancel_adding_window">Отмена</a></div>

<div class="editing_button_block"><input type="button" value="Обновить экран" data-params="updatekarusel" data-form="updatekarusel_{{ window.id_window }}" class="checker byAjax withAddingAction" /> <a href="/admin/folios">Отмена</a></div>


           
         </form>

</div>
<div class="clear"></div>
</div>

</div>
{#  --------------------------------  #}                        
                                        <div class="accordion" id="karusel">
                                        <input type="hidden" id="window_id" />
                                        <span id="add_new_window_karusel"> + Добавить новый экран карусели</span>


                                        <div class="clear"></div>
                                                         {% for window in  karusel %}

                                                                    <div class="accordion-section">
                                                                       <span class="del_window_ajax del_link" data-id="{{ window.id_window  }}"><i class="fa fa-trash-o"></i></span>
                                                                            <h6 class="myaccordion-title"><span class="title">{{ window.title_windowkarusel }}</span>

                                                                                       
                                                                            </h6>
                                                                            

                                                                            <div class="accordion-content defualt-hidden window_block">
                                                                                <div class="alert alert-success alert-dismissible" role="alert">
                                                                                           <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                                           Содержимое экрана успешно обновлено.
                                                                                           <input type="text" class="focus_alert" />
                                                                               </div>                                                                            
                                                                                <form action="/admin/updatekarusel" method="post" id="updatekarusel_{{ window.id_window }}">

                                                                                   <h3>Редактирование экрана карусели</h3>
    
                                                                                             <div class="title_karusel text">
                                                                                                                     <span>Заголовок экрана *</span>
                                                                                                                     <span class="error_msg">Укажите заголовок экрана</span>
                                                                                                                     <input name="title_windowkarusel"  value="{{ window.title_windowkarusel }}" class="title_windowkarusel required" type="text" />
                                                                                                                     <input name="id_window" type="hidden"  value="{{ window.id_window }}" />
                                                                                             </div>                                                                                                                                                                          
                                                                                             {{ window.html|raw }}
                                                                                            <div class="clear"></div>


                                                                                      <div class="editing_button_block"><input type="button" value="Обновить экран" data-params="updatekarusel" data-form="updatekarusel_{{ window.id_window }}" class="checker byAjax withAddingAction" /> <a href="/admin/folios">Отмена</a></div>
                                                                                  </form> 


                                                                            </div>
                                                                            <div class="clear"></div>

                                                                    </div>  {#  accordion-section #}                                                                  
                                                         {% endfor %}
                                        </div><!-- End Accordion -->
                        </div>
                        <div aria-hidden="true" style="display: none;" role="tabpanel" aria-labelledby="ui-id-2" id="tabs-2" class="plr-0 ui-tabs-panel ui-widget-content ui-corner-bottom">
                            <!-- Accordion -->
                            <div class="accordion" id="sales">

                        {% for sale in  GetAllSales() %}
                                                                                 

                                <div class="accordion-section">
                                    <input type="hidden" value="{{ sale.id }}" name="id" />
                                   
                                    <h6 class="accordion-title{{ sale.sales_active=='1' ? ' active' : '' }}">
                                     <div class="radio-check{{ sale.sales_active == '1' ? ' radio-check-checked' : '' }}"><input type="checkbox" {{ sale.sales_active=='1' ? 'checked=checked' : '' }}/></div>
                                         <span>{{ sale.name_sales }}</span>
                                         
                                    </h6>
                                 
                                    <div {{ sale.sales_active=='1' ? 'style="display: block;"' : 'style="display: none;"' }} class="accordion-content defualt-hidden">
                                           <div class="preview_action">{{ sale.sales_markup | raw }}</div>
                                           <div class="code_action">
                                                 <span>Править код акции</span>
                                                 <div>
                                                       <form class="sales_update">
                                                           <input type="hidden" value="{{ sale.id }}" name="id" />
                                                           <input type="checkbox" name="sales_active"/>
                                                            <div><input value="{{ sale.name_sales }}" name="name_sales" /></div>
                                                           <textarea name="sales_markup">{{ sale.sales_markup }}</textarea>
                                                           <input type="submit" value="Запомнить" />
                                                       </form>
                                                 </div>
                                           </div>
                                      

                                           <div class="clear"></div>
                                    </div>
                                         <div class="clear"></div>

                                </div>
   
                      {% endfor %}
    

                            </div>
                            <!-- End Accordion -->

                        </div>  
                         

                     </div>                         
                  </div> 

          </section>
     </div>  
 <div class="modal fade" id="delete_confirm_window">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Подтверждение удаления экрана</h4>
      </div>
      <div class="modal-body">
        Экран карусели работ будет удален. Вы уверены?

        <input type="hidden" id="deleting_id" />
      </div>
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn" id="btn_cancel_deleting">Отменить</a>
                <a href="#" class="btn btn-primary" id="btn_confirm_deleting">Удалить</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 <div class="modal fade" id="sample_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Изменение фотографии блока карусели</h4>
      </div>
      <div class="modal-body">
  
                  <div class="tabs b-lrb-none ui-tabs ui-widget ui-widget-content ui-corner-all tabs_area">
                        <ul role="tablist" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                              <li aria-expanded="true" aria-selected="true" aria-labelledby="ui-id-1" aria-controls="tabs-1" tabindex="0" role="tab" class="ui-state-default ui-corner-top ui-tabs-active ui-state-active">
                                   <a id="ui-id-1" tabindex="-1" role="presentation" class="ui-tabs-anchor" href="#tabs-1">Загрузить фото</a>
                              </li>
                        <li aria-expanded="false" aria-selected="false" aria-labelledby="ui-id-2" aria-controls="tabs-2" tabindex="-1" role="tab" class="ui-state-default ui-corner-top"> 
                                    <a id="ui-id-2" tabindex="-1" role="presentation" class="ui-tabs-anchor" href="#tabs-2">Выбрать фото</a>
                        </li>
                       
                    </ul>   
                    <div class="ui-tab-content">
                        <div aria-hidden="false" role="tabpanel" aria-labelledby="ui-id-1" id="tabs-1" class="plr-0 ui-tabs-panel ui-widget-content ui-corner-bottom">
                               <div><form action="/admin/ajaxuploadimg" method="post" id="sample_form"><label>Установить новое фото</label><input type="file" name="sample" id="sample" /></div>
                        </div>
                        <div aria-hidden="true" style="display: none;" role="tabpanel" aria-labelledby="ui-id-2" id="tabs-2" class="plr-0 ui-tabs-panel ui-widget-content ui-corner-bottom">
                        
                            <ul id="list_sample">
                                {% for sample in photos  %}
                                    <li>
                                        <div style="background-image:url('{{ sample.url }}')"></div>
                                        <span><input name="r_sample" value="{{ sample.id }}" type="radio" /></span>
                                        <span class="url">{{ sample.url }}</span>
                                    </li>    
                                {% endfor %}
                             </ul> 
                             <div class="clear"></div>
                        </div>  

                     </div>                         
                  </div>  
                  <div class="loaded_img">
                    
                         <div class="img_container"><div style="background-image:url('{{  material.url }}')"><div class="img_loader"></div></div></div>
                         <input type="hidden" id="tmp_new_sample" />
                         <input type="hidden" id="tmp_id_sample" />
          
                       <!--  <div id="img_msg">Не выбрано изображений</div> -->

                  </div>
                  <div class="clear"></div>
             </div><!--  modal-body  -->
         <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Отменить</a>
                <a href="#" class="btn btn-primary" id="btn_pick_karusel_photo">Добавить</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal --> 










{% endblock content %}      