{% extends 'layout/admin.twig' %}


{% block content %}


<h2 class="title_page"><a href="/admin/materials">Производители</a></h2> 
<hr class="clear" />
<div class="row">
     <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                            <section class="textures">
 
                                     <ul class="text_data">
                                     <li class="add">
                                          <span>Добавить производителя</span>
                                          <div class="form_to_add">
                                                  <form action="ajax_add_manufacturer" method="post">
                                                       <div><input type="text" name="name_manufacturer" /></div>
                                                       <div><input type="submit" value="Добавить" /> </div>
                                                  </form>

                                          </div>

                                     </li>
                                     {% for manuf in manufacturers %}
                                                     <li class="ajax_edit_obj">
                                                       <form action="/admin/ajaxmanufupdate" method="post">
                                                            <input type="hidden" name="id" value="{{ manuf.id }}"  />
                                                            <input type="hidden" name="name_manufacturer" id="name_manuf_{{ manuf.id }}" value="{{ manuf.name_manufacturer }}"  />
                                                       </form>    
                                                         <div class="editable">
                                                             <span>{{ manuf.name_manufacturer }}</span>
                                                             <div class="editblock">
                                                                  <div class="editarea">
                                                                       <input type="text" data-name="name_manuf_{{ manuf.id }}" value="{{ manuf.name_manufacturer }}" />
                                                                  </div>
                                                                  

                                                            </div><!-- editblock  -->
                                                            <i class="fa fa-pencil fa-fw"></i>
                                                          </div>
                                                          
                                                        <span class="del_category_ajax"><i class="fa fa-trash-o"></i>
                                                                  <form action="/admin/delcategory">
                                                                       <input type="hidden" name="name_cat" value="manufacturer" />
                                                                       <input type="hidden" name="id_cat" value="{{ manuf.id }}" />
                                                                  </form>

                                                        </span>                                                           
                                                      </li>

                                      {%  endfor %}                
                                    </ul>    
              </section>
     </div>       
 


 <div class="modal fade can_deleting_category" id="candel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn_cancel_deleting" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Подтверждение удаления производителя</h4>
      </div>
      <div class="modal-body">
        <p>Производитель будет удален вместе со всеми коллекциями.</p>
         <p>Вы уверены?</p>
        <form method=post action="/admin/ajax_deleting_group" id="form_deleting_group">  
            <input type="hidden" id="deleting_list" name="deleting_list" />
        </form>
      </div>
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn_cancel_deleting">Отменить</a>
                <a href="#" class="btn btn-primary btn_confirm_deleting">Удалить</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 <div class="modal fade cannot_deleting_category" id="cannotdel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn_ok" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Производитель не будет удален.</h4>
      </div>
      <div class="modal-body">
        <p>Производитель не может быть удален, так как к нему относится ряд материалов.</p>
       
      </div>
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn_ok">Понятно</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock content %}