{% extends 'layout/admin.twig' %}


{% block content %}
<a href="/admin/materials">Материалы</a> / {{ material.name_material }}
<hr>
<div class="row">
     <div class="col-md-8">
                     <section class="material_open">
                            <div class="panel panel-default">
                                      <div class="panel-heading">
        
                                              <h4>Редактирование {{ material.name_material }}</h4>
                                       </div>
                                          <div class="panel-body">
                                          <form id="editmaterial">
                                               <input type="hidden" name="id" value="{{ material.id }}" />
                                               <input type="hidden" name="name_material" id="name_material" value="{{ material.name_material }}" />
                                               <input type="hidden" name="articul" id="articul" value="{{ material.articul }}" />
                                               <input type="hidden" name="price_material" id="price_material" value="{{ material.price_material }}" />
                                          </form>
                                                  <ul class="text_data">
                                                     <li>
                                                         <span>Наименование</span>
                                                         <div class="editable">
                                                             <span>{{ material.name_material }}</span>
                                                             <div class="editblock">
                                                                  <div class="editarea">
                                                                       <input type="text" data-name="name_material" value="{{ material.name_material }}" />
                                                                  </div>
                                                                  

                                                            </div><!-- editblock  -->
                                                            <i class="fa fa-pencil fa-fw"></i>
                                                          </div>
                                                      </li>
                                                     <li><span>Артикул</span>
                                                          <div class="editable">
                                                              <span>{{ material.articul }}</span>
                                                              <div class="editblock">
                                                                  <div class="editarea">
                                                                       <input type="text" data-name="articul" value="{{ material.articul }}" />
                                                                  </div>
                                                                  

                                                              </div><!-- editblock  -->
                                                              <i class="fa fa-pencil fa-fw"></i>

                                                          </div>
                                                     </li>
                                                     <li class="separator"></li>

                                                     <li><span>Производитель</span>
                                                         <div class="selectable">
                                                              <span>{{ material.manufacturer }}</span>
                                                              <div class="editblock">
                                                                  <div class="editarea">
                                                                       <div class="custom_select">
                                                                           <div class="choice">{{ material.manufacturer }}</div>
                                                                            <ul>
                                                                                {% for manuf in lists.manufacturers %}
                                                                                        <li data-value="{{ manuf.id }}" data-name="id_manufacturer">{{ manuf.name_manufacturer }}</li>
                                                                                 {% endfor %}

                                                                            </ul>
                                                                       </div>
                                                                  </div>
                                                                  

                                                            </div><!-- editblock  -->
                                                            <i class="fa fa-pencil fa-fw"></i>

                                                          </div>
                                                      </li>
                                                     <li class="separator"></li>
                                                     <li><span>Цвет</span><p>{{ material.color }}</p> </li>
                                                     <li><span>Текстура</span><p>{{ material.texture }}</p> </li>
                                                     <li class="separator"></li>
                                                     <li><span>Цена</span>

                                                          <div class="editable">
                                                              <span>{{ material.price_material }}</span> 
                                                              <div class="editblock">
                                                                  <div class="editarea">
                                                                       <input type="text" data-name="price_material" value="{{ material.price_material }}" />
                                                                  </div>
                                                                  

                                                            </div><!-- editblock  -->
                                                            <i class="fa fa-pencil fa-fw"></i>
                                                          </div> 
                                                     </li>
                                                     <li class="separator"></li>
                                                     <li><span>Подобные</span><p>{{ material.texture }}</p> </li>
                                                  </ul>
                                                  <div class="sample_data"> 
                                                      <em style="background:red;"> </em>
                                                  </div>
                                                  
                                         </div>
                                 </div>   	



			        </section>
     </div>       

{% endblock content %}