{% extends 'layout/admin.twig' %}


{% block content %}
<a href="/admin/materials">Материалы</a> / {{ material.name_material }}
<hr>
<div class="row">
     <div class="col-md-8">
                     <section class="material_open">
                            <div class="panel panel-default">
                                      <div class="panel-heading">
        
                                              <h4>Редактирование {{ material.name_material }}</h4>
                                              <a class="del_material" data-id="{{ material.id }}"><i class="fa fa-trash-o"></i></a>
                                       </div>
                                          <div class="panel-body">
                                          <form id="editmaterial" action="/admin/updatematerial" method="POST">
                                               <input type="hidden" name="id" value="{{ material.id }}" />
                                               <input type="hidden" name="name_material" id="name_material" value="{{ material.name_material }}" />
                                               <input type="hidden" name="articul" id="articul" value="{{ material.articul }}" />
                                               <input type="hidden" name="price_material" id="price_material" value="{{ material.price_material }}" />
                                               <input type="hidden" name="id_manufacturer" id="id_manufacturer" value="{{ material.id_manufacturer }}" />
                                               <input type="hidden" name="id_collection" id="id_collection" value="{{ material.id_collection }}" />
                                               <input type="hidden" name="id_color" id="id_color" value="{{ material.id_color }}" />
                                               <input type="hidden" name="id_sample" id="id_sample" value="{{ material.id_sample }}" />
                                               <input type="hidden" name="new_sample" id="new_sample" value="0" />
                                               <input type="hidden" name="id_texture" id="id_texture" value="{{ material.id_texture }}" />
                                               <input type="hidden" name="analogs" id="form_analogs_list" value="{{ lists.str_analogs ?  lists.str_analogs : 0}}" />
                                               <input type="hidden" name="exclude" id="exclude" value="0" />
                                               <input type="hidden" name="describe_material" id="describe_material" value="{{ material.describe_material }}" />
                                               
                                          </form>
                                                  <ul class="text_data">
                                                     <li>
                                                         <span>Наименование</span>
                                                         <div class="editable">
                                                             <span>{{ material.name_material }}</span>
                                                             <div class="editblock">
                                                                  <div class="editarea">
                                                                       <input type="text" data-name="name_material" value="{{ material.name_material }}" />
                                                                  </div>
                                                                  

                                                            </div><!-- editblock  -->
                                                            <i class="fa fa-pencil fa-fw"></i>
                                                          </div>
                                                      </li>
                                                     <li><span>Артикул</span>
                                                          <div class="editable">
                                                              <span>{{ material.articul }}</span>
                                                              <div class="editblock">
                                                                  <div class="editarea">
                                                                       <input type="text" data-name="articul" value="{{ material.articul }}" />
                                                                  </div>
                                                                  

                                                              </div><!-- editblock  -->
                                                              <i class="fa fa-pencil fa-fw"></i>

                                                          </div>
                                                     </li>
                                                     <li class="separator"></li>

                                                     <li><span>Производитель</span>
                                                         <div>

                                                                            <select id="id_manufacturer_select" class="editable_select" data-name="#id_manufacturer">
                                                                                {% for manuf in lists.manufacturers %}
                                                                                        <option value="{{ manuf.id }}" {% if material.id_manufacturer==manuf.id %} selected=""{%endif%}>{{ manuf.name_manufacturer }}</option>
                                                                                 {% endfor %}

                                                                            </select>
                                                              
                                                          </div>
                                                      </li>
                                                    <li><span>Коллекция</span>
                                                         <div>

                                                                            <select id="id_collection_select" class="editable_select" data-name="#id_collection">
                                                                                {% for collect in lists.collections %}
                                                                                        <option value="{{ collect.id }}"{% if material.id_collection==collect.id %} selected=""{% endif %}>{{ collect.name_collection }}</option>
                                                                                 {% endfor %}

                                                                            </select>
                                                              
                                                          </div>
                                                      </li>                                                      
                                                     <li class="separator"></li>
                                                     <li><span>Цвет</span>
                                                          <div>
                                                                           <select class="editable_select" data-name="#id_color">
                                                                                {% for color in lists.colors %}
                                                                                        <option value="{{ color.id }}"{% if material.id_color==color.id %} selected=""{%endif%}>{{ color.name_color }}</option>
                                                                                 {% endfor %}

                                                                            </select>                                                            
                                                          </div>
                                                       </li>
                                                     <li><span>Текстура</span>
                                                          <div>
                                                                           <select class="editable_select" data-name="#id_texture">
                                                                                {% for texture in lists.textures %}
                                                                                        <option value="{{ texture.id }}"{% if material.id_texture==texture.id %} selected=""{%endif%}>{{ texture.name_texture }}</option>
                                                                                 {% endfor %}

                                                                            </select>                                                            
                                                          </div>                                                     
                                                     </li>
                                                     <li class="separator"></li>
                                                     <li><span>Цена</span>

                                                          <div class="editable">
                                                              <span>{{ material.price_material }}</span> 
                                                              <div class="editblock">
                                                                  <div class="editarea">
                                                                       <input type="text" data-name="price_material" value="{{ material.price_material }}" />
                                                                  </div>
                                                                  

                                                            </div><!-- editblock  -->
                                                            <i class="fa fa-pencil fa-fw"></i>
                                                          </div> 
                                                     </li>
                                                     <li class="separator"></li>
                                                     <li><span>Подобные</span>

                                                         <ul id="analogs_list"{% if not lists.analogs %} class="empty"{% endif %}>
                                                        
                                                                {% for item in lists.analogs %}
                                                                          <li data-id= "{{ item.id }}"> 
                                                                                 <div style="background-image:url('{{ item.url }}');">
                                                                                       <small>{{ item.articul }}</small><br />
                                                                                       <span>{{ item.name_material }} </span>  
                                                                                       <span class="remove_analog" data-id="a_{{ item.id }}"><i class="fa fa-times"></i></span>
                                                                                 </div>
                                                                         
                                                                                 <input type="checkbox" value="{{ item.id }}" />   

                                                                          </li>
                                                                {% endfor %}
                                                         </ul>
                                                                <div id="material_list_open_window" class="local_link">Открыть список всех материалов</div>
                                                  </li>
                                                  <li class="separator"></li>
                                                   <li class="textarea"><span>Описание</span>

                                                          <div class="editable">
                                                              {% if material.describe_material %}<span>{{ material.describe_material }}</span>{% else %}<span>Не указано</span>{% endif %}
                                                              <div class="editblock">
                                                                  <div class="editarea">
                                                                       <textarea data-name="describe_material">{{ material.describe_material }} </textarea>
                                                                  </div>
                                                                  

                                                            </div><!-- editblock  -->
                                                            <i class="fa fa-pencil fa-fw"></i>
                                                          </div> 
                                                     </li>
                                                     <li class="separator"></li>                                                       

                                                 </ul>
                                                  <div class="sample_data"> 
                                                  <span>Изображение</span>
                                                      <a href=# class="edit_sample"><em style="background-image:url('{{ material.url }}');"> </em></a>
                                                  </div>

                                                  <button class="btn" id="save_open_material">Сохранить изменения</button>
                                                  
                                         </div>
                                 </div>   	



			        </section>
     </div>  

 <div class="modal fade" id="delete_confirm_window">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Подтверждение удаления материала</h4>
      </div>
      <div class="modal-body">
        Материал такой-то будет удален. Вы уверены?

        <input type="hidden" id="deleting_id" />
      </div>
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn" id="btn_cancel_deleting">Отменить</a>
                <a href="/admin/delmaterial/{{ material.id }}" class="btn btn-primary" id="btn_confirm_deleting">Удалить</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->    



 <div class="modal fade" id="material_list_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Укажите материалы, подобные данному:</h4>
      </div>
      <div class="modal-body">
            <ul class="analog_list_window"><form id="form_analogs">
              

                  {% for material in lists.materials  %}
                      
                      <li data-id={{ material.id }}> 
                         <div style="background:url('{{ material.url }}') no-repeat top left;">
                                  <small>{{ material.articul }}</small><br />
                                  <span>
                                          {{ material.name_material }}
                                  </span>  
                        </div>
                        <input type="checkbox" value="{{ material.id }}" {% if lists.list_analog_for_check[material.id] %} checked="checked" {% endif %} id="a_{{ material.id }}" />   

                       </li>
                  {%endfor%}
            </form></ul>

      </div>
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Отменить</a>
                <a href="#" class="btn btn-primary" id="btn_pick_analogs">Добавить</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal -->    


 <div class="modal fade" id="sample_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Изменение фотографии образца</h4>
      </div>
      <div class="modal-body">
  
                  <div class="tabs b-lrb-none ui-tabs ui-widget ui-widget-content ui-corner-all tabs_area">
                        <ul role="tablist" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                              <li aria-expanded="true" aria-selected="true" aria-labelledby="ui-id-1" aria-controls="tabs-1" tabindex="0" role="tab" class="ui-state-default ui-corner-top ui-tabs-active ui-state-active">
                                   <a id="ui-id-1" tabindex="-1" role="presentation" class="ui-tabs-anchor" href="#tabs-1">Загрузить фото</a>
                              </li>
                        <li aria-expanded="false" aria-selected="false" aria-labelledby="ui-id-2" aria-controls="tabs-2" tabindex="-1" role="tab" class="ui-state-default ui-corner-top"> 
                                    <a id="ui-id-2" tabindex="-1" role="presentation" class="ui-tabs-anchor" href="#tabs-2">Выбрать фото</a>
                        </li>
                       
                    </ul>   
                    <div class="ui-tab-content">
                        <div aria-hidden="false" role="tabpanel" aria-labelledby="ui-id-1" id="tabs-1" class="plr-0 ui-tabs-panel ui-widget-content ui-corner-bottom">
                               <div><form action="/admin/ajaxuploadimg" method="post" id="sample_form"><label>Установить новое фото</label><input type="file" name="sample" id="sample" /></div>
                        </div>
                        <div aria-hidden="true" style="display: none;" role="tabpanel" aria-labelledby="ui-id-2" id="tabs-2" class="plr-0 ui-tabs-panel ui-widget-content ui-corner-bottom">
                        <div><input type="checkbox" /><label>Показать имена файлов</label></div>
                            <ul id="list_sample">
                                {% for sample in lists.samples  %}
                                    <li>
                                        <div style="background-image:url('{{ sample.url }}')"></div>
                                        <span><input name="r_sample" value="{{ sample.id }}" type="radio" /></span>
                                        <span class="url">{{ sample.url }}</span>
                                    </li>    
                                {% endfor %}
                             </ul> 
                             <div class="clear"></div>
                        </div>  

                     </div>                         
                  </div>  
                  <div class="loaded_img">
                    
                         <div class="img_container"><div style="background-image:url('{{  material.url }}')"><div class="img_loader"></div></div></div>
                         <input type="hidden" id="tmp_new_sample" />
                         <input type="hidden" id="tmp_id_sample" />
          
                       <!--  <div id="img_msg">Не выбрано изображений</div> -->

                  </div>
                  <div class="clear"></div>
             </div><!--  modal-body  -->
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Отменить</a>
                <a href="#" class="btn btn-primary" id="btn_pick_sample">Добавить</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal -->  
    <script>
       var hash_collections = new Object();
      hash_collections = {{ hash_collections | raw }};

     </script>
{% endblock content %}