{% extends 'layout/admin.twig' %}


{% block content %}
<form id="filter">
     <input type="hidden" id="id_manufacturer" name="id_manufacturer" value="{{  crumbs.manufacturer.id }}" />
     <input type="hidden" id="id_color" name="id_color" value="{{ crumbs.color.id }}" />
     <input type="hidden" id="id_texture" name="id_texture" value="{{ crumbs.texture.id }}" />
     <input type="hidden" id="limit" name="limit" value="{{ limit }}" />
     <input type="hidden" id="start" name="start" value="1" />
     <input type="hidden" id="rowcount" name="rowcount" value="{{ rowcount  }}" />
     <input type="hidden" id="articul" name="articul" value="0" />
</form>


<h2 class="title_page"><a href="/admin/materials">Материалы</a></h2> <a href="/admin/addmaterial" class="right_link">Добавить новый материал</a>
<hr class="clear" />
<div class="row">
     <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
              <section class="">
              <div id="crumbs"><div>{{ crumbs.manufacturer.name_manufacturer|raw  }}</div><em>/</em>
                               <div>{{ crumbs.color.name_color|raw  }}</div><em>/</em>
                               <div>{{ crumbs.texture.name_texture|raw  }}</div>
              </div>
              <div class="filter_line">
                     <h4>Поиск</h4>
                     <form id="filter_line">
              	     <div class="filter_articul">
              	          <label>Артикул</label>
              	          <input type="text" name="f_articul" id="filter_articul" />
              	     </div>

              	     <div class="filter_manufacturer mfilter" data-name="id_manufacturer">
              	     <label>Производитель</label>
              	     <select>
              	             <option value="0" {% if crumbs.manufacturer.id==0 %}selected{% endif %}>Все</option>
              	     	{% for manufacturer in filters.manufacturers %}
                             <option value="{{ manufacturer.id }}" {% if (crumbs.manufacturer.id==manufacturer.id) %} selected {% endif %}data-title="{{ manufacturer.name_manufacturer }}">{{ manufacturer.name_manufacturer }}</option>
                        {% endfor %}
              	     </select></div>

              	     <div class="filter_color mfilter" data-name="id_color">
              	     <label>Цвет</label>
              	     <select>
              	            <option value="0" {% if crumbs.color.id==0 %}selected{% endif %}>Все</option>
              	     	{% for color in filters.colors %}
                             <option value="{{ color.id }}" {%if crumbs.color.id==color.id%}selected{%endif%}>{{ color.name_color }}</option>
                        {% endfor %}
              	     </select></div>

              	     <div class="filter_texture mfilter" data-name="id_texture">
                     <label>Текстура</label>
              	     <select>
              	             <option value="0" {%if crumbs.texture.id==0%}selected{%endif%}>Все</option>
              	     	{% for texture in filters.textures %}
                             <option value="{{ texture.id }}" {%if crumbs.texture.id==texture.id%}selected{%endif%}>{{ texture.name_texture }}</option>
                        {% endfor %}
              	     </select></div>    
                     </form>          	     
                     <div id="clear_filter"><i class="fa fa-times"></i>Очистить фильтр</div>
              </div><!-- filter_line  -->
              <div class="clear"></div>
              <div class="loaded_counter_line">
                      <div class="count_text">Найдено <span class="count">{{ rowcount  }}</span> материала</div>
                      <em>/</em>
                      <div>Загружено <span class="loaded_count">(0)</span></div>
                      <em>/</em>
                      <div class="local_link" id="load_all">Загрузить все</div>
              </div><!-- loaded_counter_line  -->

                 <div class="material_list_container">
                       <ul class="list-group material_list">{{ materials|raw }}</ul>		
                      
                 </div>   
                  <div id="more"{% if rowcount > limit %} class="visible" title="Загрузить все"{%endif%}><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></div> 

                 <div class="group_action">
                      <div class="check_all"> <i class="fa fa-share fa-rotate-270"></i><label><input type="checkbox" id="check_all" /><span>Выбрать все</span></label></div>
                      <div class="action"><span>Выполнить с выбранными <strong id="selected_list_length">(0)</strong>: </span><span id="price_group" class="local_link">Установить цену</span><span id="del_group" class="local_link">Удалить</span></div>
                 </div>
			</section>
     </div>       
 <div class="modal fade" id="delete_confirm_window">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Подтверждение удаления материала</h4>
      </div>
      <div class="modal-body">
          Материал будет удален. Вы уверены?
            <form action="/admin/ajax/deletematerial">
                   <input type="hidden" id="deleting_id" />
            </form>
      </div>
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn" id="btn_cancel_deleting">Отменить</a>
                <a href="#" class="btn btn-primary" id="btn_confirm_deleting">Удалить</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


 <div class="modal fade" id="delete_group_confirm_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Подтверждение удаления материалов</h4>
      </div>
      <div class="modal-body">
        <p>Группа материалов будет удалена.</p>
        <ul id="list_for_deleting"></ul>
         <p>Вы уверены?</p>
        <form method=post action="/admin/ajax_deleting_group" id="form_deleting_group">  
            <input type="hidden" id="deleting_list" name="deleting_list" />
        </form>
      </div>
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn" id="btn_cancel_deleting">Отменить</a>
                <a href="#" class="btn btn-primary" id="btn_confirm_group_deleting">Удалить</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 <div class="modal fade" id="pricing_group_confirm_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Изменение цены материалов</h4>
      </div>
      <div class="modal-body">
        <p>Назначить цену для группы материалов:</p>
        <ul id="list_for_pricing"></ul>
         
        <form method=post action="/admin/ajax_pricing_group" id="form_pricing_group_update"> 
           <label>Новая цена<input type="text" name="price" /></label>
           <input type="hidden" id="pricing_list" name="pricing_list" />
        </form>
      </div>
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn" id="btn_cancel_pricing">Отменить</a>
                <a href="#" class="btn btn-primary" id="btn_confirm_group_pricing">Сохранить</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

       <script type="text/javascript">
       var hash_crumbs = new Object();
           hash_crumbs = {{ hash | raw }};


           var data = new Object();
           data['manufacturer'] = $('#id_manufacturer').val();
           data['id_color'] = $('#id_color').val();
           data['id_texture'] = $('#id_texture').val();
   
           Hash.set(data);  
           $(document).ready(function(){
                     $('.count_text').html('Найдено <span class="count">'+{{ rowcount  }}+'</span> '+getMaterialsCount({{ rowcount  }}));      
                      $('.material_list_container').scrollTop(0);
           });             
          
     </script>
{% endblock content %}