{% extends 'layout/admin.twig' %}


{% block content %}
<form id="filter">
     <input type="hidden" id="id_manufacturer" name="id_manufacturer" data-name="{{ data.manufacturer ? data.manufacturer : 0 }}" value="0" />
     <input type="hidden" id="id_color" name="id_color" value="0" />
     <input type="hidden" id="id_texture" name="id_texture" value="0" />
     <input type="hidden" id="limit" name="limit" value="{{ limit }}" />
     <input type="hidden" id="start" name="start" value="1" />
     <input type="hidden" id="rowcount" name="rowcount" value="{{ rowcount  }}" />
     <input type="hidden" id="articul" name="articul" value="0" />
</form>


<h2 class="title_page"><a href="/admin/materials">Материалы</a></h2> <a href="/admin/addmaterial" class="right_link">Добавить новый материал</a>
<hr class="clear" />
<div class="row">
     <div class="col-md-8">
              <section class="">
              
              <div class="filter_line">
                     <h4>Поиск</h4>
              	     <div class="filter_articul">
              	          <label>Артикул</label>
              	          <input type="text" name="f_articul" id="filter_articul" />
              	     </div>

              	     <div class="filter_manufacturer mfilter" data-name="id_manufacturer">
              	     <label>Производитель</label>
              	     <select>
              	             <option value="0">Все</option>
              	     	{% for manufacturer in filters.manufacturers %}
                             <option value="{{ manufacturer.id }}" data-title="{{ manufacturer.name_manufacturer }}">{{ manufacturer.name_manufacturer }}</option>
                        {% endfor %}
              	     </select></div>

              	     <div class="filter_color mfilter" data-name="id_color">
              	     <label>Цвет</label>
              	     <select>
              	            <option value="0">Все</option>
              	     	{% for color in filters.colors %}
                             <option value="{{ color.id }}">{{ color.name_color }}</option>
                        {% endfor %}
              	     </select></div>

              	     <div class="filter_texture mfilter" data-name="id_texture">
                     <label>Текстура</label>
              	     <select>
              	             <option value="0">Все</option>
              	     	{% for texture in filters.textures %}
                             <option value="{{ texture.id }}">{{ texture.name_texture }}</option>
                        {% endfor %}
              	     </select></div>              	     

              </div><!-- filter_line  -->
              <div class="clear"></div>
                 <div class="count_text">Найдено <span class="count">{{ rowcount  }}</span> материала</div>
                 <ul class="list-group material_list">{{ materials|raw }}</ul>		
			</section>
     </div>       
 <div class="modal fade" id="delete_confirm_window">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Подтверждение удаления материала</h4>
      </div>
      <div class="modal-body">
        Материал такой-то будет удален. Вы уверены?

        <input type="hidden" id="deleting_id" />
      </div>
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn" id="btn_cancel_deleting">Отменить</a>
                <a href="#" class="btn btn-primary" id="btn_confirm_deleting">Удалить</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock content %}