{% extends 'layout/admin.twig' %}


{% block content %}

<h2 class="title_page"><a href="/admin/materials">Отзывы</a></h2> <a href="/admin/addfolio" class="right_link">Добавить новый отзыв</a>
<hr class="clear" />
<div class="row">
     <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
              <section id="testimonials">


                 <div class="material_list_container autoheight">
                       <ul class="list-group material_list">
                         
                         <li class="list-group-item">   
                              <div class="testimonials_first_col">Отзыв о проекте</div>
                              <div class="testimonials_second_col">Автор отзыва</div>
                         </li>
                         {% for item in testimonials %}
                                <li class="list-group-item">
                                    <div class="testimonials_first_col">{% if item.folio_id %}<a href="/admin/folio/{{ item.folio_id  }}" title="Описание проекта">{{ item.name_folio }}</a>{% endif %}</div>
                                    <div class="testimonials_second_col">  
                                                     
                                                 {% if item.name_testimonials  %}
                                                                       <a href="/admin/testimonial/{{ item.id_testimonials  }}" title="Редактирование отзыва">{{ item.name_testimonials }}</a>
                                                 {% else %} 
                                                                       <a href="/admin/testimonial/{{ item.id_testimonials  }}" title="Редактирование отзыва">(пустой)</a>
                                                 {% endif %}                     

                                     </div>

                                     {% if item.name_testimonials  %}<span class="del_testimonial_ajax del_link" data-id="{{ item.id_testimonials  }}"><i class="fa fa-trash-o"></i></span>{% endif %}

                                </li>
                         {% endfor %}
                       </ul>		
                      
                 </div>   
             
			</section>
     </div>       
 <div class="modal fade" id="delete_confirm_window">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Подтверждение удаления отзыва</h4>
      </div>
      <div class="modal-body">
        Отзыв будет удален. Вы уверены?
             <form action="/admin/ajaxdeltestimonial">
                         <input type="hidden" id="deleting_id" />
                         <input type="hidden" id="type" value="testimonial" />
             </form>  
      </div>
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn" id="btn_cancel_deleting">Отменить</a>
                <a href="#" class="btn btn-primary" id="btn_confirm_deleting">Удалить</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



  
{% endblock content %}