{% extends 'layout/admin.twig' %}


{% block content %}
<a href="/admin/folios">Портфолио</a> / Добавить новую работу
<hr>
<div class="row">
     <div class="col-md-8">
                     <section class="material_open">
                            <div class="panel panel-default">
                                      <div class="panel-heading">
        
                                      <h4>Редактировать проект <i>{{ folio.name_folio }}</i></h4>
                                       </div>

{#  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_group` int(11) NOT NULL,
  `name_folio` varchar(255) NOT NULL,
  `number_folio` varchar(255) NOT NULL,
  `describe_folio` text NOT NULL,
  `id_testimonials` int(11) NOT NULL,
  `price_folio` int(11) NOT NULL,#}                                       
                                          <div class="panel-body">
                                                <form action="/admin/folio" method="post" enctype="multipart/form-data" id="updatefolio">
                                                  <ul class="text_data">
                                                    <div><input name="id" value="{{ folio.folio_id }}" type="hidden" /></div>
                                                     <li><span>Наименование *</span>
                                                              <div class="text">
                                                                   <span class="error_msg">Название проекта</span>
                                                                   <input type="text" name="name_folio" class="required" value="{{ folio.name_folio }}" />

                                                             </div>
                                                      </li>

                                                  <li class="separator"></li>

                                                      <li><span>Задача и технические условия</span>
                                                          <div class="textarea">
                                                              
                                                              <textarea  name="conditions_folio">{{ folio.conditions_folio }}</textarea>
                                                         </div>
                                                     </li>

                                                     <li class="separator"></li>
                                                      <li><span>Номер заказа</span>
                                                          <div>
                                                              <input type="text" name="number_folio"  value="{{ folio.number_folio }}" />
                                                         </div>
                                                     </li>

                                                     <li class="separator"></li>

                                                     <li><span>Группа</span>
                                                         <div>
                                                               <select name="id_group" id="id_group_select">
                                                                     {% for group in lists.groups %}
                                                                             <option value="{{ group.id }}" {{ group.id == folio.id_group ? "selected" : "" }}>{{ group.name_group }}</option>
                                                                      {% endfor %}

                                                               </select>
                                                          </div>
                                                      </li>

                                                     <li class="separator"></li>

                                                     <li><span>Описание</span>
                                                         <div class="textarea">
                                                              <textarea name="describe_folio">{{ folio.describe_folio }}</textarea>
                                                         </div>
                                                          
                                                     </li>
                                                     <li class="separator"></li>                                                     
 
                                                     <li><span>Общая стоимость</span>
                                                         <div>
                                                              <input type="text" name="price_folio" value="{{ folio.price_folio }}" />
                                                         </div>
                                                          
                                                     </li>
                                                     <li class="separator"></li>
                                                     <li class="url_photo with_main_photo_radio"><span>Фотографии *</span>
                                                                <small class="small_help">Главная фотография будет выведена на страницу <a href="/portfolio">Порфолио</a></small>
          
                                                                <ul  class="{{ photos ? '' : 'empty '}}photos_list">
                                                                       {% for photo in photos %}
                                                                                <li>
                                                                                      <span>
                                                                                             <i class="fa fa-times"></i>
                                                                                      </span>
                                                                                      <div style="background-image: url('{{ photo.url }}');">
                                                                                             <input type="hidden" value="{{ photo.url_photo }}" name="url_photo[]">
                                                                                             <label class="main_radio">
                                                                                                       <input type="radio" {{ photo.main_photo == 1 ? 'checked="checked" ' : ''}}value="{{ photo.url_photo }}" name="main_photo">
                                                                                                        Главная
                                                                                             </label>
                                                                                      </div>
                                                                                </li>
                                                                         {% endfor %}
                                                                </ul>
                                                                <div class="add_photo_btn" data-form-id="url_photo">
                                                                              <span class="error_msg">Добавьте&nbsp;минимум&nbsp;одну&nbsp;фотографию</span>
                                                                              <input  class="required checker_input" type="hidden" value="{{ photos ? 1 : 0}}" /><i class="fa fa-plus"></i>
                                                                              <span class="span_add_photo_btn"></span></div>
                                                                 
                                                     </li>
                                                     <li class="separator"></li>
                                                     <li class="url_blueprint"><span>Чертежи</span>
                                                                <ul  class="{{ blueprints ? '' : 'empty '}}photos_list">
                                                                      {% for blueprint in blueprints %}
                                                                                <li>
                                                                                      <span>
                                                                                             <i class="fa fa-times"></i>
                                                                                      </span>
                                                                                      <div style="background-image: url('{{ blueprint.url }}');">
                                                                                             <input type="hidden" value="{{ blueprint.url_blueprint }}" name="url_blueprint[]">
                                                                                       
                                                                                      </div>
                                                                                </li>
                                                                         {% endfor %}                                                                

                                                                </ul>
                                                                <div class="add_photo_btn" data-form-id="url_blueprint"><i class="fa fa-plus"></i><span class="span_add_photo_btn"></span></div>
                                                     </li>          
                                                     <li class="separator"></li>
                                                     <li><span>Материалы в проекте</span>
                                                                <ul id="analogs_list" {{ materials ? '' : 'class="empty"'}}>
                                                                             {% for material in materials %}
                                                                                    <li>
                                                                                        <div style="background:url('{{ material.url_prepared }}') no-repeat top left;">
                                                                                              <small>{{ material.articul }}</small>
                                                                                              <br>
                                                                                              <span>{{ material.name_material }}</span>
                                                                                        </div>
                                                                                        <input id="a_{{ material.id }}" type="checkbox" value="1">
                                                                                        <input type="hidden" value="{{ material.id }}" name="material_id[]">
                                                                                        <span class="remove_analog" data-id="a_{{ material.id }}"><i class="fa fa-times"></i></span>
                                                                                    </li>
                                                                                {% endfor %}    


                                                                </ul>
                                                                <div id="materials_folio_open_window" class="local_link">Выбрать из списка</div>
                                                               
                                                     </li>  
                                                     <li class="separator"></li>
                                                     <li><span>Отзыв заказчика</span>
                                                            <div><label class="public_on_home_testimonials"><input type="checkbox" {{ folio.public_on_home_testimonials == 1? 'checked="checked" ' : '' }}name="public_on_home_testimonials" id="public_on_home_testimonials" />Публиковать на главной</label></div>
                                                     </li> 
                                                     <div><input name="id_testimonials" value="{{ folio.id_testimonials }}" type="hidden" /></div>
                                                     <li{{ folio.public_on_home_testimonials == 1? ' class="show_hidden_star"' : '' }}><span>Имя <em class="hidden_star">*</em></span>
                                                         <div class="text{{ folio.public_on_home_testimonials == 1? ' required_container' : '' }}">
                                                              <span class="error_msg">Укажите имя заказчика</span>
                                                              <input type="text" name="name_testimonials" id="name_testimonials" {{ folio.public_on_home_testimonials == 1? ' class="required"' : '' }} value="{{ folio.name_testimonials }}" />
                                                         </div>
                                                          
                                                     </li>
                                                     <li class="separator"></li>                                                     
 
                                                     <li><span>Организация</span>
                                                         <div class="text">
                                                              <input type="text" name="organization"   value="{{ folio.organization }}" />
                                                         </div>
                                                          
                                                     </li>  
                                                    <li class="separator"></li>
                                                     <li class="url_picture"><span>Фотография/логотип</span>
                                                                <ul  class="{{ folio.url_picture ? '' : 'empty '}} photos_list">
                                                                     {% if folio.url_picture %}
                                                                               <li>
                                                                                       <span>
                                                                                             <i class="fa fa-times"></i>
                                                                                      </span>
                                                                                      <div style="background-image: url('{{ folio.url_picture_prepared }}');">
                                                                                             <input type="hidden" value="" name="url_picture[]" />
                                                                                             <input type="hidden" value="{{ folio.id_picture }}" name="id_picture" />
                                                                                       
                                                                                      </div>
                                                                                </li>
                                                                      {% endif %}          
                                                                </ul>
                                                                <div class="add_photo_btn only_one{{ folio.url_picture ? ' add_photo_btn_hidden' : ''}}" data-form-id="url_picture"><i class="fa fa-plus"></i><span class="span_add_photo_btn"></span></div>

                                                     </li>
                                                     <li class="separator"></li>

                                                     <li><span>Текст отзыва</span>
                                                         <div class="textarea">
                                                              <textarea name="text_testimonials">{{ folio.text_testimonials }}</textarea>
                                                         </div>
                                                          
                                                     </li>  
                                                     <li class="separator"></li>

                                                     <li{{ folio.public_on_home_testimonials == 1? ' class="show_hidden_star"' : '' }}><span>Короткий текст отзыва <br />для главной <em class="hidden_star">*</em></span>
                                                         <div class="textarea{{ folio.public_on_home_testimonials == 1? ' required_container' : '' }}"><span class="error_msg">Для публикации на главной нужен короткий отзыв</span>
                                                              <textarea name="short_text_testimonials" id="text_testimonials"{{ folio.public_on_home_testimonials == 1? '  class="required"' : '' }}>{{ folio.short_text_testimonials == '0' ? '' : folio.short_text_testimonials }}</textarea>
                                                         </div>
                                                         
                                                          
                                                     </li>                                                       


                                                  </ul>
                                                  <div><input type="button" value="Обновить работу" data-form="updatefolio" class="checker" /> <a href="/admin/folios">Отмена</a></div>


                                                 </form> 
                                                <form action="/admin/ajaxaddphoto" method="post" id="url_photo" class="form_photos">
                                                           <input type="file" class="input_file_hidden" name="sample" />
                                                          
                                               </form>
                                                <form action="/admin/ajaxaddphoto" method="post" id="url_blueprint" class="form_photos">
                                                           <input type="file" class="input_file_hidden" name="sample" />
                                                          
                                               </form> 
                                               
                                                <form action="/admin/ajaxaddphoto" method="post" id="url_picture" class="form_photos">
                                                           <input type="file" class="input_file_hidden" name="sample" />
                                                          
                                               </form>                                                                                            

                                         </div>
                                 </div>   	



			        </section>
     </div> 
 <div class="modal fade" id="material_list_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Укажите материалы, которые использовались в проекте:</h4>
      </div>
      <div class="modal-body">
      <div class="search_by_articul"><label>Поиск по артикулу</label><input id="search_by_articul" /></div>
            <ul class="analog_list_window"><form id="form_analogs">
              
             
                  {% for material in lists.materials  %}
                      
                       <li data-id={{ material.id }}> 
                             <div style="background:url('{{ material.url }}') no-repeat top left;">
                                      <small>{{ material.articul }}</small><br />
                                      <span>
                                          {{ material.name_material }}
                                      </span>  
                             </div>
                             <input type="checkbox" value="{{ material.id }}" id="a_{{ material.id }}" />   
                             <input type="hidden" name="material_id[]" value="{{ material.id }}" />

                       </li>
                  {%endfor%}
            </form></ul>

      </div>
        <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Отменить</a>
                <a href="#" class="btn btn-primary" id="btn_pick_analogs">Добавить</a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal -->



{% endblock content %}