 
{% extends 'layout/layout.twig' %}


{% block content %}
   

   <!-- Site Wraper -->
    <div class="wrapper">

        <!-- HEADER -->
        <header class="header">
            <div class="container">

                <!-- logo -->
                <div class="logo navigation wow fadeInDown animated" data-wow-delay="4000ms" data-wow-duration="1000ms">
                    <a href="">
                        <img class="l-black" src="/assets/application/img/logo-black.png" />
                        <img class="l-white" src="/assets/application/img/logo-white.png" />
                        <img class="l-color" src="/assets/application/img/logo-color.png" />
                    </a>
                </div>
                <!--End logo-->


                <!-- Navigation Menu -->
                <nav class="navigation wow fadeInDown animated" data-wow-delay="4000ms" data-wow-duration="1000ms">
                    <ul>
              <!--          <li>
                            <a class="current-ele" href="#welcome">Home</a>
                        </li> -->

                        <li>
                            <a href="#portfolio">Наши работы</a>
                        </li>
                        <li>
                            <a href="#material">Материалы</a>
                        </li>
                        <li>
                            <a href="#">Расчет цены</a>
                        </li>
                        <li>
                            <a href="#">Производство</a>
                        </li>
  
                        <li>
                            <a href="#contacts">Контакты</a>
                        </li>
                        {% if ( isAllowed('admin_button', 'see_button'))  %}
                         <li> <a href="/admin" style="color:yellow;">Админ</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <!--               
                <!--End Navigation Menu -->


            </div>
        </header>
        <!-- END HEADER -->

        <!-- CONTENT --------------------------------------------------------------------------------->

        <!-- Intro Section -->
        <section class="full-screen-intro" id="welcome">
            <!-- Bg Image -->
            <div class="media-wapper {#bg-img8#} cont-h-100per">
              

                 <div style='width:100%;height:100%'>
    
    <svg id="animation" width="100%"  height="100%" xmlns="http://www.w3.org/2000/svg" version="1.20"  xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1235 822" preserveAspectRatio="xMidYMid meet" > <!-- slice style='border: 1px solid #000; background: linear-gradient(to top, #eee, white, #eee);'-->

<g id="dim" style='opacity:0.01'>
  <g id="_950972177712">
   <g>
    <polygon class="fil1 str1" points="0,822 3,0 1235,2 1235,822 "/>
    <polygon class="fil1 str2" points="115,787 118,35 1191,35 1191,787 "/>
    <polyline class="fil1 str2" points="714,787 714,642 1191,642 "/>
   </g>
   <line class="fil2 str3" x1="890" y1="642" x2="890" y2= "787" />
   <line class="fil2 str3" x1="1191" y1="717" x2="890" y2= "717" />
   <g transform="matrix(1.0443 0 0 1 286.51 283.54)">
    <text x="618" y="411"  class="fil3 fnt0">Tabletop</text>
   </g>

<!-- ==== EKALAN LOGO ======= -->

 <g id="_210282880560" transform="matrix(1 0 0 1 0 -20)">
   <path class="fil0a" d="M1157 750c0,0 0,1 0,1l0 0c0,0 0,0 0,0l0 0c0,0 0,0 0,0 0,0 0,0 1,0 0,0 1,0 1,0 0,0 0,0 0,0l0 0c0,0 0,0 0,0l0 0c0,0 0,-1 -1,-1 0,0 0,-1 0,-1l0 -1 1 0c0,0 0,0 0,0 1,1 1,1 1,1 0,1 1,1 1,1 0,1 0,1 0,1 1,0 1,0 1,0 1,0 1,0 1,0 0,0 0,0 0,0l0 0c0,0 0,0 0,0 0,0 -1,-1 -1,-1 0,0 0,0 -1,-1 0,0 0,-1 0,-1 0,0 -1,0 -1,0l0 0c1,0 2,-1 2,-2 0,0 0,-1 -1,-1 0,0 -1,-1 -1,-1 -1,0 -2,0 -2,0 0,0 -1,0 -1,0 0,0 0,0 0,0l0 1c0,0 0,0 0,0l0 0c0,0 0,0 0,0l0 2 0 3zm1 -5c1,0 1,0 1,0 1,0 1,0 1,0 0,0 1,1 1,1 0,1 -1,2 -2,2 0,0 0,0 -1,0l0 -3zm1 -3c-3,0 -5,3 -5,6 0,3 2,5 5,5 4,0 6,-2 6,-5 0,-4 -2,-6 -6,-6zm0 11c-2,0 -4,-2 -4,-5 0,-3 2,-5 4,-5 2,0 5,1 5,5 0,2 -1,5 -5,5z"/>
   <g>
    <g>
     <path class="fil1a" d="M1138 795l-165 0 0 -2 165 0 1 1 -1 1zm0 -2l1 0 0 1 -1 -1zm-1 3l0 -2 2 0 0 2 -1 1 -1 -1zm2 0l0 1 -1 0 1 -1zm-164 1l1 -2 -1 0 7 0 7 0 6 0 6 0 6 0 5 0 5 0 5 0 5 0 4 0 5 0 4 0 4 0 5 0 4 0 4 0 4 0 4 0 4 0 4 0 5 0 4 0 5 0 5 0 4 0 6 0 5 0 6 0 6 0 6 0 6 0 7 0 0 2 -7 0 -6 0 -6 0 -6 0 -6 0 -5 0 -6 0 -4 0 -5 0 -5 0 -4 0 -5 0 -4 0 -4 0 -4 0 -4 0 -4 0 -4 0 -5 0 -4 0 -4 0 -5 0 -4 0 -5 0 -5 0 -5 0 -5 0 -6 0 -6 0 -6 0 -7 0 -7 0 0 0zm0 0l0 0 0 0 0 0zm-2 -4l0 2 0 0 1 0 0 -1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 -1 2 0 0 0 0 -1 0 0 0 0 -1 0 0 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 -1 0 0 0 0 -1 0 0 0 1 -1 1 1 -1 -1zm0 2l0 0 0 0 0 0z"/>
     <path id="1" class="fil0" d="M973 794l165 0 0 2c-76,0 -87,0 -163,0 -1,0 -2,-2 -2,-2z"/>
    </g>
    <g>
     <path class="fil2a str0a" d="M990 754c3,0 6,1 8,3 3,1 4,4 5,7 1,2 1,4 1,6 0,0 0,1 0,1l-21 0c0,4 3,6 7,6 3,0 5,-1 6,-3l8 0c-2,3 -3,5 -6,7 -2,1 -5,2 -8,2 -4,0 -8,-1 -11,-4 -2,-3 -4,-6 -4,-10 0,-4 2,-8 5,-11 2,-3 6,-4 10,-4zm7 12c-1,-4 -3,-6 -7,-6 -4,0 -6,2 -7,6l14 0zm20 -24l0 24 7 -11 9 0 -10 12 10 15 -8 0 -8 -13 0 13 -8 0 0 -40 8 0zm47 40l-8 0 0 -3c-1,2 -2,2 -3,3 -2,1 -3,1 -5,1 -4,0 -7,-1 -10,-4 -2,-3 -4,-6 -4,-10 0,-5 2,-8 4,-11 3,-3 6,-4 10,-4 4,0 7,1 8,4l0 -3 8 0 0 27zm-8 -13c0,-2 0,-4 -2,-6 -1,-1 -3,-2 -5,-2 -2,0 -4,1 -5,2 -1,2 -2,4 -2,6 0,2 1,3 2,5 1,2 3,2 5,2 2,0 4,0 5,-2 2,-1 2,-3 2,-5zm22 13l-8 0 0 -40 8 0 0 40zm34 0l-8 0 0 -3c-1,2 -2,2 -4,3 -1,1 -3,1 -4,1 -4,0 -8,-1 -10,-4 -3,-3 -4,-6 -4,-10 0,-5 1,-8 4,-11 3,-3 6,-4 10,-4 4,0 6,1 8,4l0 -3 8 0 0 27zm-8 -13c0,-2 -1,-4 -2,-6 -1,-1 -3,-2 -5,-2 -2,0 -4,1 -5,2 -2,2 -2,4 -2,6 0,2 0,3 2,5 1,2 3,2 5,2 2,0 4,0 5,-2 1,-1 2,-3 2,-5zm39 13l-8 0 0 -15c0,-4 -2,-6 -5,-6 -3,0 -4,2 -4,7l0 14 -8 0 0 -27 7 0 0 3c2,-3 4,-4 8,-4 3,0 5,1 7,3 2,2 3,4 3,8l0 17z"/>
     <path id="1" class="fil3a" d="M990 754c3,0 6,1 8,3 3,1 4,4 5,7 1,2 1,4 1,6 0,0 0,1 0,1l-21 0c0,4 3,6 7,6 3,0 5,-1 6,-3l8 0c-2,3 -3,5 -6,7 -2,1 -5,2 -8,2 -4,0 -8,-1 -11,-4 -2,-3 -4,-6 -4,-10 0,-4 2,-8 5,-11 2,-3 6,-4 10,-4zm7 12c-1,-4 -3,-6 -7,-6 -4,0 -6,2 -7,6l14 0zm20 -24l0 24 7 -11 9 0 -10 12 10 15 -8 0 -8 -13 0 13 -8 0 0 -40 8 0zm47 40l-8 0 0 -3c-1,2 -2,2 -3,3 -2,1 -3,1 -5,1 -4,0 -7,-1 -10,-4 -2,-3 -4,-6 -4,-10 0,-5 2,-8 4,-11 3,-3 6,-4 10,-4 4,0 7,1 8,4l0 -3 8 0 0 27zm-8 -13c0,-2 0,-4 -2,-6 -1,-1 -3,-2 -5,-2 -2,0 -4,1 -5,2 -1,2 -2,4 -2,6 0,2 1,3 2,5 1,2 3,2 5,2 2,0 4,0 5,-2 2,-1 2,-3 2,-5zm22 13l-8 0 0 -40 8 0 0 40zm34 0l-8 0 0 -3c-1,2 -2,2 -4,3 -1,1 -3,1 -4,1 -4,0 -8,-1 -10,-4 -3,-3 -4,-6 -4,-10 0,-5 1,-8 4,-11 3,-3 6,-4 10,-4 4,0 6,1 8,4l0 -3 8 0 0 27zm-8 -13c0,-2 -1,-4 -2,-6 -1,-1 -3,-2 -5,-2 -2,0 -4,1 -5,2 -2,2 -2,4 -2,6 0,2 0,3 2,5 1,2 3,2 5,2 2,0 4,0 5,-2 1,-1 2,-3 2,-5zm39 13l-8 0 0 -15c0,-4 -2,-6 -5,-6 -3,0 -4,2 -4,7l0 14 -8 0 0 -27 7 0 0 3c2,-3 4,-4 8,-4 3,0 5,1 7,3 2,2 3,4 3,8l0 17z"/>
    </g>
    <g id="_210282881872">
     <g>
      <path class="fil1a" d="M968 794l-2 0 1 1 -2 0 -1 -1 -2 0 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 0 -1 -1 -2 0 -1 -1 -2 0 -1 -1 -1 0 -2 -1 -1 0 -2 -1 -1 0 -2 -1 -1 0 -2 -1 -1 0 -1 -1 -1 -1 -1 -1 -1 0 -1 -1 0 -1 -1 -2 0 -1 -1 -1 0 0 -2 2 0 1 1 2 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 2 1 1 0 2 1 1 0 1 1 2 0 1 0 2 1 1 0 2 1 1 0 2 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 0 1 1 1 0 1 1zm-1 -1l1 0 0 1 -1 -1zm-1 3l0 -2 2 0 0 2 -2 0zm-6 1l0 -2 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 1 0 0 -1 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 0 0 -1 0 0 0zm0 0l0 0 0 0 0 0zm-16 -11l2 -1 0 0 0 1 0 0 1 1 0 0 0 1 1 0 0 1 0 0 1 0 0 1 0 0 1 1 0 0 0 0 1 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 1 0 0 0 1 0 0 0 1 0 1 0 1 0 0 1 0 2 -1 0 0 -1 -1 0 -1 0 -1 0 0 0 -1 0 -1 0 0 -1 -1 0 -1 0 0 0 -1 -1 0 0 -1 0 0 -1 -1 0 0 0 -1 -1 0 0 -1 0 0 -1 0 0 -1 -1 0 0 0 -1 -1 0 0 -1 0 0 -1 -1 0 -1 0 0 0 0zm-14 -26l0 2 1 -2 1 0 1 1 1 0 1 1 1 0 0 1 1 0 1 1 0 1 1 1 1 0 0 1 0 1 1 1 0 1 0 1 1 1 0 1 0 1 1 1 0 1 0 1 0 0 1 1 0 1 0 1 0 1 1 1 0 1 0 1 0 0 1 1 -2 1 -1 -1 0 -1 0 -1 -1 0 0 -1 0 -1 -1 -1 0 -1 0 -1 0 -1 -1 -1 0 -1 0 -1 0 -1 -1 -1 0 -1 0 0 0 -1 -1 -1 0 -1 -1 -1 0 0 -1 -1 0 -1 -1 0 0 -1 -1 0 -1 -1 0 0 -1 0 -1 -1 -1 0 0 -2zm0 2l-11 -2 11 0 0 2zm11 -2l0 2 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 -1 0 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 -1 0 0 -2 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0zm0 0l0 0 0 0 0 0z"/>
      <path id="1" class="fil0a" d="M941 761c17,0 10,32 26,33l0 2c0,1 -4,0 -7,0 -9,-1 -12,-4 -15,-11 -4,-7 -3,-22 -15,-24 5,0 8,0 11,0z"/>
     </g>
     <path class="fil4a" d="M930 760c-2,0 -1,2 0,2l0 -2z"/>
    </g>
    <g>
     <g>
      <path class="fil1a" d="M965 766l-2 0 0 0 0 0 0 -1 -1 0 0 0 0 -1 0 0 0 -1 -1 0 0 -1 0 0 0 0 -1 -1 0 0 0 0 0 -1 -1 0 0 0 0 -1 -1 0 0 0 0 0 0 0 -1 -1 0 0 0 0 -1 0 0 0 -1 0 0 0 0 0 -1 0 0 0 0 -2 0 0 1 0 1 0 0 0 1 0 0 0 1 0 0 0 0 1 1 0 0 0 1 0 0 1 0 0 1 0 0 1 0 0 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 0 1 0 0 0 1 1 0 0 1 0 0 0 1 0 0zm13 31l0 2 0 0 -1 0 -1 0 -1 -1 -1 0 -1 -1 0 0 -1 -1 -1 -1 0 -1 -1 0 0 -1 -1 -2 0 -1 0 -1 -1 -1 0 -1 0 -1 -1 -2 0 -1 0 -1 -1 -1 0 -2 0 -1 -1 -1 0 -2 0 -1 0 -1 -1 -2 0 -1 0 -1 -1 -1 0 -2 2 0 1 1 0 1 0 2 1 1 0 1 0 1 0 2 1 1 0 1 0 2 1 1 0 1 0 2 1 1 0 1 0 1 1 2 0 1 0 1 1 1 0 1 1 1 0 0 1 1 0 1 1 0 0 1 1 0 0 1 1 0 0 0 1 0 0 0zm0 0l0 0 0 0 0 0zm6 -1l1 1 0 0 0 0 0 0 -1 1 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 1 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 0 0 0 -2 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 -1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0zm1 1l0 0 0 0 0 0zm10 -7l0 2 0 0 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 0 1 -1 0 0 0 0 0 0 0 -1 0 0 0 0 1 -1 0 0 0 0 0 -1 0 0 1 0 0 -1 0 0 0 0 1 0 0 -1 0 0 0 0 1 -1 0 -1 -1 0 -1 0 0 1 0 0 -1 0 0 1 0 0 0 0 -1 1 0 0 0 0 0 1 -1 0 0 0 0 1 0 0 0 0 -1 1 0 0 0 0 0 1 0 0 0 1 -1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0zm148 2l-148 0 0 -2 148 0 1 1 -1 1zm0 -2l1 0 0 1 -1 -1zm-1 3l0 -2 2 0 0 2 -1 1 -1 -1zm2 0l0 1 -1 0 1 -1zm-148 -1l147 0 0 2 -147 0 0 0 0 -2zm-9 4l1 2 -1 -2 0 0 0 0 1 -1 0 0 0 0 0 0 1 -1 0 0 0 0 1 0 0 0 0 -1 0 0 1 0 0 0 0 0 1 0 0 0 0 -1 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 2 0 0 0 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 0 0 -1 1 0 0 0 0 0 0 0 0 -1 0 0 0 0 1 0 0 -1 0 0 0 0 0 0 1 -1 0 0 0 0 0 0 1 -2 -2zm1 2l-8 5 7 -7 1 2zm1 0l-1 0 -1 -2 0 0 2 1 0 1zm-2 -2l6 -4 -4 5 -2 -1zm-11 7l0 -2 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 -1 0 0 0 0 1 0 0 0 0 0 1 0 0 -1 1 0 0 0 0 0 0 0 1 -1 0 0 0 0 1 0 0 -1 0 0 0 0 1 0 0 -1 2 1 0 1 -1 0 0 0 0 1 -1 0 0 0 0 1 -1 0 0 0 0 0 -1 1 0 0 -1 0 0 0 0 1 -1 0 0 0 -1 0 0 0 0 0 -1 1 0 0 -1 0 0 0 -1 0 0 0 -1 0 0 0 0 0 -1 0 0 0 -1 0 0 0zm0 -2l0 0 0 0 0 0zm-19 -14l2 0 0 0 0 0 0 1 0 0 1 1 0 0 0 1 0 1 1 0 0 1 0 0 1 1 0 1 0 0 1 1 0 0 1 1 0 1 1 0 1 1 0 0 1 1 1 0 0 0 1 1 1 0 1 0 0 1 1 0 1 0 1 0 1 0 1 0 0 2 -1 0 -1 0 -1 0 -1 0 -1 0 -1 -1 -1 0 -1 0 -1 -1 -1 0 -1 -1 0 0 -1 -1 -1 0 0 -1 -1 -1 -1 0 0 -1 -1 -1 0 0 0 -1 -1 -1 0 0 -1 -1 0 -1 0 0 0 -1 -1 0 0 -1 0 -1 0 0 0 -1 0 0zm-15 -32l0 3 0 -2 1 0 1 0 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 0 1 1 1 0 1 1 2 0 1 1 1 0 1 1 2 0 1 0 1 1 1 0 1 0 2 0 1 1 1 0 1 0 1 0 0 1 1 0 1 -2 0 -1 0 0 -1 0 -1 0 -1 -1 -1 0 -1 0 -1 0 -1 -1 -1 0 -1 0 -2 -1 -1 0 -1 -1 -1 0 -1 0 -2 -1 -1 0 -1 -1 -1 0 -1 -1 -1 0 -1 -1 -1 -1 -1 0 -1 -1 -1 -1 0 0 -1 -1 -1 -1 0 -1 0 0 0 0 -3zm0 3l-11 -3 11 0 0 3zm12 -2l0 2 0 0 0 0 0 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 0 0 -1 0 0 0 -1 0 0 0 0 0 -1 0 0 0 -1 0 0 0 -1 0 0 0 -1 0 0 0 -1 0 0 0 0 0 -1 0 0 0 -1 0 0 0 0 -3 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0zm0 2l0 0 0 0 0 0z"/>
      <path id="1" class="fil5a" d="M954 757c5,0 8,4 10,9 4,12 5,32 14,32 1,0 4,0 6,-2 4,-3 7,-5 11,-5l148 0 0 2 -147 0c-3,0 -5,1 -8,4l0 0c-3,3 -8,5 -12,5 -12,1 -17,-10 -18,-15 -2,-7 -6,-28 -16,-30 4,0 11,-1 12,0z"/>
     </g>
     <path class="fil4a" d="M942 755c-3,0 -2,2 0,3l0 -3z"/>
    </g>
   </g>
  </g>

<!-- ==== -->
  
    <g>
    <line class="fil2 str6" x1="681" y1="113" x2="681" y2= "64" />
    <line class="fil2 str6" x1="183" y1="113" x2="183" y2= "64" />
    <g>
     <line class="fil5 str6" x1="183" y1="71" x2="681" y2= "71" />
     <polygon id="1" class="fil6" points="194,74 183,71 194,68 "/>
     <polygon id="2" class="fil6" points="670,74 681,71 670,68 "/>
    </g>
   </g>
   <text x="423" y="67"  class="fil6 fnt2">175 </text>
   <g id="_950972174320">
    <line class="fil2 str6" x1="195" y1="100" x2="145" y2= "100" />
    <line class="fil2 str6" x1="195" y1="714" x2="145" y2= "714" />
    <g>
     <line class="fil5 str6" x1="152" y1="714" x2="152" y2= "100" />
     <polygon id="1" class="fil6" points="155,703 152,714 149,703 "/>
     <polygon id="2" class="fil6" points="155,111 152,100 149,111 "/>
    </g>
   </g>
   <g transform="matrix(6.12323E-017 -1 1 6.12323E-017 -262.534 1033.99)">
    <text x="618" y="411"  class="fil6 fnt2">216 </text>
   </g>
   <g>
    <line class="fil2 str6" x1="540" y1="100" x2="765" y2= "100" />
    <line class="fil2 str6" x1="540" y1="232" x2="765" y2= "232" />
    <g>
     <line class="fil5 str6" x1="758" y1="232" x2="758" y2= "100" />
     <polygon id="1" class="fil6" points="760,221 758,232 755,221 "/>
     <polygon id="2" class="fil6" points="760,111 758,100 755,111 "/>
    </g>
   </g>
   <g transform="matrix(6.12323E-017 -1 1 6.12323E-017 342.841 789.686)">
    <text x="618" y="411"  class="fil6 fnt2">46 </text>
   </g>
   <g>
    <line class="fil2 str6" x1="654" y1="452" x2="654" y2= "481" />
    <line class="fil2 str6" x1="564" y1="452" x2="564" y2= "481" />
    <g>
     <line class="fil5 str6" x1="564" y1="474" x2="654" y2= "474" />
     <polygon id="1" class="fil6" points="574,477 564,474 574,471 "/>
     <polygon id="2" class="fil6" points="643,477 654,474 643,471 "/>
    </g>
   </g>
   <g transform="matrix(1 -3.13759E-006 3.13759E-006 1 -14.7633 59.1142)">
    <text x="618" y="411"  class="fil6 fnt2">32 </text>
   </g>
   <g>
    <line class="fil2 str6" x1="301" y1="600" x2="301" y2= "745" />
    <line class="fil2 str6" x1="192" y1="600" x2="192" y2= "745" />
    <g>
     <line class="fil5 str6" x1="192" y1="738" x2="301" y2= "738" />
     <polygon id="1" class="fil6" points="203,741 192,738 203,735 "/>
     <polygon id="2" class="fil6" points="290,741 301,738 290,735 "/>
    </g>
   </g>
   <text x="240" y="734"  class="fil6 fnt2">38 </text>
   <g>
    <line class="fil2 str6" x1="313" y1="721" x2="313" y2= "768" />
    <line class="fil2 str6" x1="183" y1="721" x2="183" y2= "768" />
    <g>
     <line class="fil5 str6" x1="183" y1="761" x2="313" y2= "761" />
     <polygon id="1" class="fil6" points="194,764 183,761 194,758 "/>
     <polygon id="2" class="fil6" points="302,764 313,761 302,758 "/>
    </g>
   </g>
   <text x="242" y="757"  class="fil6 fnt2">46 </text>
   <g>
    <line class="fil2 str6" x1="308" y1="714" x2="378" y2= "714" />
    <line class="fil2 str6" x1="308" y1="593" x2="378" y2= "593" />
    <g>
     <line class="fil5 str6" x1="371" y1="593" x2="371" y2= "714" />
     <polygon id="1" class="fil6" points="368,603 371,593 373,603 "/>
     <polygon id="2" class="fil6" points="368,703 371,714 373,703 "/>
    </g>
   </g>
   <g transform="matrix(6.12323E-017 -1 1 6.12323E-017 -44.1587 1277.13)">
    <text x="618" y="411"  class="fil6 fnt2">43 </text>
   </g>
   <g>
    <line class="fil2 str6" x1="308" y1="593" x2="378" y2= "593" />
    <line class="fil2 str6" x1="308" y1="465" x2="378" y2= "465" />
    <g>
     <line class="fil5 str6" x1="371" y1="465" x2="371" y2= "593" />
     <polygon id="1" class="fil6" points="368,475 371,465 373,475 "/>
     <polygon id="2" class="fil6" points="368,582 371,593 373,582 "/>
    </g>
   </g>
   <g transform="matrix(6.12323E-017 -1 1 6.12323E-017 -44.1587 1152.57)">
    <text x="618" y="411"  class="fil6 fnt2">45 </text>
   </g>
  </g>
 </g>
 </g><!--  end of dim -->

    </svg>
   </div>
            </div>
            <!-- End Bg Image -->

            <!-- Content -->
            <div class="full-cap-wraper overlay-dark light-color">
                <div class="content-caption light-color parallax parallax-opacity">



{{ GetActiveSale() }}


                    <div class="container">
                      <!--  <h5>Столешница наша - цена ваша</h5> -->
                        <h2 class="h2 wow fadeInDown animated" data-wow-delay="3000ms" data-wow-duration="1000ms">Столешница наша - цена ваша</h2>
                             <div>
                                   <a class="btn btn-md btn-white almost_full_width wow fadeInDown animated" data-wow-delay="4000ms" data-wow-duration="1000ms" href="http://hydraulicus.github.io/My_Git/ekalan/index.html" target="_blank">Создать столешницу мечты</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Content -->

            <!-- Intro Scroll Down -->
            <div class="intro-scroll-down">
                <a class="scroll-down" href="#about">
                    <span class="mouse">
                        <span class="mouse-dot"></span>
                    </span>
                </a>
            </div>
            <!-- End Intro Scroll Down -->
        </section>
        <div class="clearfix"></div>
        <!-- End Intro Section -->

        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="h4">Добро пожаловать!</h3>
                        <div class="spacer-15"></div>
                        <p class="lead">

Аэропорты, банки, гостиницы, офисы, торговые центры, магазины, рестораны – это лишь небольшой перечень общественных помещений, где изделия из искусственного камня заслуженно получили широкое распространение.<br />

Высокая прочность, надежность, отсутствие швов – все это позволяет создавать поверхности, которые устойчивы к случайным повреждениям и предназначены для длительной эксплуатации.<br />

Возможности ekalan позволяют осуществить любые пожелания проектировщиков, будь-то внутренняя обшивка стен, барные и кассовые стойки, рецепции, колонны, мебель или логотип Вашей компании.
</p>
                    </div>
                </div>
              </div>

</section>                
<section id="material" class="wow fadeIn ptb ptb-sm-80">
 <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-30">
                        <h4>Столешницы европейского уровня</h4>
                        <ul class="list_manufacturer">
                            {% for m in manufacturers %}
                                 <li><a href="/material/{{ m.name_manufacturer }}">{{ m.name_manufacturer }}</a></li>   
                             {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-4 mb-30">
                        <h4>Почему так дорого?</h4>
                        <div class="spacer-15"></div>
                        <a href=#>Давайте оптимизируем стоимость!</a>
                    </div>

                    <!-- Skills -->
                    <div class="col-md-4">
                         <h4>Хотите еще дешевле - </h4>
                        <div class="spacer-15"></div>
                        <p>Закажите <a href=#>on-line и получите -10%</a></p>
                    </div>
                    <!-- End Skills -->
                </div>
            </div>
          
        </section>
        <!-- End About Section-->

        <hr />

        <section class="bg-img10_spec" id="problems">
          
{#
            <div class="container">
                     <div>
                        <div class="left">
                          <h5><span>10</span> проблем при<br /> покупке столешниц</h5>
                          <ul>
                               <li class="problem1">Трудно оценить сложную конфигурацию</li>
                               <li class="problem2">Невозможно создать сложную конфигурацию</li>
                               <li class="problem3">Трудно самостоятельно оценить</li>
                               <li class="problem4">Невозможно правильно предусмотреть</li>
                               <li class="problem5">Сложно спланировать</li>
                               <li class="problem6">Трудно составить смету работ</li>
                               <li class="problem7">Получить моральную поддержку</li>
                               <li class="problem8">Оценить всю сложность работы</li>
                               <li class="problem9">Сложно предугадать все ньюансы</li>
                               <li class="problem0">Трудно сконфигурировать оценку</li>

                          </ul>
                        </div> <!--  left  -->
                        <div class="right">
                          <h5>10 причин, почему мы</h5>
                          <ul>
                               <li class="problem1">Работаем круглосуточно</li>
                               <li class="problem2">С первой секунды - сервис работает только на вас</li>
                               <li class="problem3">Вы - наша прелесть</li>
                               <li class="problem4">Невозможное - возможно</li>
                               <li class="problem5">На каждый ваш запрос - 3 варианта</li>
                               <li class="problem6">Всегда найдется акция</li>
                               <li class="problem7">Рассмотрим, обогреем, порадуем</li>
                               <li class="problem8">Оценить всю сложность работы</li>
                               <li class="problem9">Если вы придумаете, то мы</li>
                               <li class="problem0">Все очень просто</li>

                          </ul>
                        </div> <!--  right  -->                        

                     </div>
            </div>#}


<!-- ============= Comparisation ================= -->  
   <div style='width:90%;min-width:620px;height: auto; margin:1rem auto;' >
    
<svg width="100%" xmlns="http://www.w3.org/2000/svg" version="1.20"  xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 4311 2126" preserveAspectRatio="xMidYMid meet">
 

<g id="Слой_x0020_1">
  <polygon class="fil0b str0b" points="31,2061 31,174 1546,174 2360,2061 "/>
  <polygon class="fil1b" points="175,528 175,1925 2301,1925 2311,1948 147,1948 147,292 1597,292 1698,528 "/>
  <polygon class="fil2b str1b" points="4283,1948 2344,1948 1526,52 4283,52 "/>
  <polygon class="fil3b str2b" points="1579,174 4163,174 4163,1822 2290,1822 2277,1792 4135,1792 4135,408 1680,408 "/>
  <path class="fil4b" d="M1757 223c36,-35 94,-35 130,0 36,36 36,94 0,130 -36,36 -94,36 -130,0 -36,-36 -36,-94 0,-130z"/>
  <path class="fil5b" d="M1759 225c35,-35 91,-35 126,0 35,35 35,92 0,126 -35,35 -91,35 -126,0 -35,-34 -35,-91 0,-126z"/>
  <path class="fil4b" d="M1761 227c33,-34 89,-34 123,0 33,34 33,89 0,123 -34,34 -90,34 -123,0 -34,-34 -34,-89 0,-123l0 0zm17 131l113 -114c-1,-2 -2,-4 -4,-6l-115 115c2,2 4,3 6,5l0 0zm114 -112l-113 113c32,19 74,15 101,-13 27,-27 32,-69 12,-100l0 0zm-122 106l116 -116c-2,-2 -3,-3 -5,-5l-117 116c2,2 4,4 6,5l0 0zm-7 -6l116 -117c-1,-1 -3,-3 -5,-5l-116 116c2,2 3,4 5,6l0 0zm-6 -7l115 -116c-2,-1 -4,-3 -6,-4l-113 114c1,2 2,4 4,6l0 0zm-5 -8l113 -113c-32,-19 -74,-15 -101,12 -27,27 -31,69 -12,101l0 0z"/>
  <text x="404" y="622"  class="fil4b fnt0b">Низкая компетенция консультантов</text>
  <text x="404" y="741"  class="fil6b fnt0b">Конструкция изделия не оптимизирована относительно </text>
  <text x="404" y="796"  class="fil6b fnt0b">применяемых материалов и комплектующих</text>
  <text x="404" y="920"  class="fil4b fnt0b">Навязывание материалов и комплектующих</text>
  <text x="404" y="1038"  class="fil6b fnt0b">Проблема с выбором производителя акрилового камня</text>
  <text x="404" y="1156"  class="fil4b fnt0b">Узкая номенклатура изделий</text>
  <text x="404" y="1274"  class="fil4b fnt0b">Затягивание сроков изготовления</text>
  <text x="404" y="1392"  class="fil4b fnt0b">Низкое качество как отдельных элементов так и изделия </text>
  <text x="404" y="1448"  class="fil4b fnt0b">целиком</text>
  <text x="404" y="1576"  class="fil4b fnt0b">Фактически отгружается заказчику изделие более низкого качества, чем </text>
  <text x="404" y="1631"  class="fil4b fnt0b">выставленные на витрине</text>
  <text x="404" y="1749"  class="fil4b fnt0b">Не выполнение гарантийных обязательств</text>
  <text x="2007" y="518"  class="fil4b fnt0b">Специалисты с 12-летним опытом оптимально решат любую задачу и ответят</text>
   <text x="2007" y="574"  class="fil4b fnt0b">на любой вопрос </text>
 
  <text x="2054" y="637"  class="fil6b fnt0b">Наши специалисты откорректируют проект и помогут подобрать оптимальную </text>
  <text x="2054" y="692"  class="fil6b fnt0b">комплектацию</text>
  <text x="2101" y="803"  class="fil6b fnt0b">Широкий ассортимент материалов и комплектующих в наличии и под заказ</text>
  <text x="2175" y="924"  class="fil4b fnt0b">Поможем подобрать камень из программы Corian®, Montelli®, Staron, Hi-Macs,</text>

  <text x="2175" y="980"  class="fil4b fnt0b">Triestone, ekalan®, и др., максимально подходящий для Вашего проекта</text>
  
  <text x="2237" y="1090"  class="fil6b fnt0b">Можем изготавливать изделия произвольных размеров и форм</text>
  <text x="2283" y="1237"  class="fil6b fnt0b">Благодаря применению оборудования с программным управлением </text>
  <text x="2283" y="1293"  class="fil6b fnt0b">минимизируются сроки изготовления </text>
  <text x="2373" y="1374"  class="fil6b fnt0b">Высокотехнологичное производство, на базе компьютерного </text>
  <text x="2373" y="1430"  class="fil6b fnt0b">проектирования и производства на станках с ЧПУ,  минимизирует влияние </text>
  <text x="2374" y="1486"  class="fil6b fnt0b">«человеческого фактора», что исключает появление брака</text>
  <text x="2444" y="1563"  class="fil4b fnt0b">Автоматизированное производство обеспечивает одинаково высокое </text>
  <text x="2444" y="1619"  class="fil4b fnt0b">качество для всех клиентов</text>
  <text x="2497" y="1750"  class="fil4b fnt0b">Строгое выполнение долгосрочных обязательств</text>
  <g id="_208584506032">
   <path class="fil7" d="M2328 1522l-52 0c-7,0 -13,6 -13,14l0 46c0,8 6,14 13,14l52 0c8,0 14,-6 14,-14l0 -46c0,-8 -6,-14 -14,-14zm-38 16l10 12c0,0 -4,0 -7,0l0 15 -6 0 0 -15c-4,0 -7,0 -7,0l10 -12zm32 41l-39 0 0 -5 39 0 0 5zm-4 -29l0 15 -6 0 0 -15c-4,0 -7,0 -7,0l10 -12 10 12c0,0 -4,0 -7,0zm53 51c-1,0 -108,0 -109,0l0 33c1,0 108,0 109,0 9,0 16,-8 16,-17 0,-9 -7,-16 -16,-16zm-93 24c-4,0 -7,-4 -7,-8 0,-3 3,-7 7,-7 4,0 7,4 7,7 0,4 -3,8 -7,8zm32 0c-4,0 -7,-4 -7,-8 0,-3 3,-7 7,-7 4,0 7,4 7,7 0,4 -3,8 -7,8zm30 0c-4,0 -7,-4 -7,-8 0,-3 3,-7 7,-7 4,0 7,4 7,7 0,4 -3,8 -7,8zm30 0c-4,0 -7,-4 -7,-8 0,-3 3,-7 7,-7 4,0 7,4 7,7 0,4 -3,8 -7,8zm13 -63l-13 14c-2,1 -4,0 -4,-2l0 -6 -16 0c-1,0 -2,-1 -2,-2l0 -12c0,-1 1,-2 2,-2l16 0 0 -6c0,-1 2,-2 4,-1l13 14c1,1 1,2 0,3z"/>
  </g>
  
  <g id="_208584498640">
    <path class="fil7" d="M267 756c2,0 4,-1 5,-2 3,-3 3,-8 0,-11l-3 -4 3 -4c3,-3 3,-8 0,-11 -3,-3 -8,-3 -11,0l-3 4 -4 -4c-3,-3 -8,-3 -11,0 -3,3 -3,8 0,11l4 4 -4 4c-3,3 -3,8 0,11 1,1 3,2 5,2 2,0 4,-1 6,-2l4 -4 3 4c2,1 4,2 6,2z"/>
    <path class="fil7" d="M322 763c-10,0 -18,8 -18,18 0,10 8,18 18,18 10,0 18,-8 18,-18 0,-10 -8,-18 -18,-18z"/>
    <path class="fil7" d="M357 721c0,-2 -1,-3 -3,-3l-26 -16c-3,-1 -6,0 -8,2l-1 3c-1,1 -1,3 -1,4 1,2 2,3 3,3l9 6c-10,4 -19,9 -28,17 -10,8 -19,19 -27,33 -11,19 -16,37 -17,42 -1,2 0,3 0,4 1,2 2,2 4,3l4 1c0,0 0,0 1,0 2,0 4,-2 5,-4 1,-5 6,-21 16,-39 12,-21 27,-35 45,-43l-5 9c-1,1 -1,3 -1,4 0,1 1,2 2,3l3 2c2,2 5,1 7,-1l17 -26c1,-1 1,-3 1,-4z"/>
  </g>
 
  <g id="_208342748464">
   <circle class="fil7" cx="275" cy="1356" r="9"/>
   <path class="fil7" d="M351 1449l-7 -38c0,-2 -2,-3 -3,-3l-32 0c-1,0 -3,1 -3,3l-7 38c0,2 1,3 3,4 1,0 3,-1 3,-3l6 -36 28 0 6 36c0,2 1,3 3,3 0,0 0,0 0,0 2,-1 3,-2 3,-4z"/>
   <path class="fil7" d="M320 1403l10 0c0,-3 -2,-5 -5,-5 -3,0 -5,2 -5,5z"/>
   <path class="fil7" d="M325 1394c5,0 9,4 9,9l7 0c1,0 2,-1 2,-1l1 -2c1,-1 0,-2 -1,-3l-1 -1c-1,0 -1,-1 -1,-2l0 -2c0,-1 -1,-2 -2,-2l-2 -1c-1,0 -1,0 -2,-1l0 -2c-1,-1 -2,-1 -3,-1l-2 1c-1,0 -1,0 -2,-1l-2 -1c0,-1 -2,-1 -2,0l-2 1c-1,1 -1,1 -2,1l-2 -1c-1,0 -2,0 -3,1l-1 2c0,1 0,1 -1,1l-2 1c-1,0 -2,1 -2,2l0 2c0,1 0,2 -1,2l-1 1 -15 0c0,1 0,2 0,2 0,2 -1,3 -2,4 6,0 23,0 26,0 0,-5 4,-9 9,-9l0 0z"/>
   <path class="fil7" d="M293 1417c2,1 4,1 4,-1l4 -4c0,-1 0,-2 0,-3 -1,-1 -2,-1 -3,0l-5 4c0,0 0,0 0,0 -1,2 -1,3 0,4z"/>
   <path class="fil7" d="M299 1423c-1,-1 -2,0 -3,1l-3 5c0,0 0,0 0,1 0,1 1,3 2,3 2,0 3,-1 4,-2l1 -6c0,-1 0,-2 -1,-2l0 0z"/>
   <path class="fil7" d="M290 1438c0,-1 0,-2 -1,-2 -1,0 -2,0 -3,1l-1 6c0,0 0,1 0,1 0,2 2,3 3,3 2,0 3,-2 3,-3l-1 -6 0 0z"/>
   <path class="fil7" d="M288 1398c1,-2 0,-5 -2,-5l-14 -5 -3 -12 6 9 3 1 2 -10c1,-3 -1,-6 -4,-7l-11 -3c-3,-1 -7,1 -8,4l-8 31c0,1 0,2 0,4l7 15 -9 26c0,3 1,5 4,6 2,1 5,0 6,-3l9 -28c1,-1 1,-2 0,-4l-5 -11c0,0 0,0 0,-1 1,0 1,0 1,0 1,0 1,0 1,0l7 15 0 28c0,2 2,5 5,5 3,0 5,-3 5,-5l0 -29c0,-1 0,-2 0,-3l-7 -13 1 -1 -8 -3c-4,-1 -6,-5 -6,-7l1 -13 3 13c1,2 2,3 3,3l16 6c2,0 4,-1 5,-3l0 0z"/>
  </g>
  <path class="fil7" d="M2366 1694c0,0 -1,-4 -1,-4 0,0 1,-1 1,-1 1,-12 7,-20 16,-23l0 10c0,5 3,10 8,10 4,0 8,-5 8,-10l0 -10c11,5 15,17 16,23 0,0 1,0 1,1 0,1 -2,4 -2,4 -5,3 -9,6 -14,6l-19 0c-8,-1 -14,-6 -14,-6zm33 10l0 0 -19 -1c-6,-1 -11,-3 -14,-4 2,11 12,20 24,20 12,0 22,-9 24,-21 -1,0 -2,1 -2,1 -4,2 -8,4 -13,5zm32 47l0 25 -1 0 -1 1c-1,0 -14,7 -36,7 -12,0 -26,-2 -42,-7l-2 0 0 -1 0 -25c0,-16 14,-30 31,-30l20 0c17,0 31,14 31,30zm-35 20l-3 -37c0,0 0,0 0,0l-5 0c-1,0 -1,0 -1,0l-2 37c0,0 0,0 0,0l5 8c0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0l6 -8c0,0 0,0 0,0zm1 -44c0,0 -1,-1 -2,-1l-10 0c-1,0 -2,1 -2,1l5 9 5 0 4 -9zm-7 -42c-4,0 -8,-4 -8,-9l0 -10 16 0 0 10c0,5 -4,9 -8,9zm-6 -18l0 9c0,4 3,8 6,8 3,0 6,-4 6,-8l0 -9 -12 0z"/>
  
  <g id="_208342740848">
    <path class="fil7" d="M2104 943l-16 -12 6 -19c1,-1 0,-3 -1,-4 0,-1 -2,-1 -3,-1l-20 -1 -6 -19c-1,-1 -2,-2 -3,-2 -1,-1 -3,0 -4,0l-16 12 -16 -12c-1,0 -3,-1 -4,0 -1,0 -2,1 -3,2l-6 19 -20 1c-2,0 -3,0 -4,1 0,1 -1,3 0,4l6 19 -16 12c-1,1 -2,2 -2,4 0,1 1,2 2,3l16 12 -6 19c-1,1 0,3 0,4 1,1 2,2 4,2l20 0 6 19c1,1 2,2 3,2 1,1 3,1 4,0l16 -12 16 12c1,0 2,1 3,1 0,0 1,0 1,-1 1,0 2,-1 3,-2l6 -19 20 0c1,0 3,-1 3,-2 1,-1 2,-3 1,-4l-6 -19 16 -12c1,-1 2,-2 2,-3 0,-2 -1,-3 -2,-4zm-83 13c0,1 -1,2 -2,2l-2 0c-1,0 -1,-1 -1,-2l0 -12c0,-1 -1,-2 -2,-3 0,-1 -2,-1 -3,-1 -2,0 -3,0 -4,1 -1,1 -1,2 -1,3l0 12c0,1 -1,2 -2,2l-2 0c0,0 -1,-1 -1,-2l0 -12c0,-3 1,-5 3,-7 2,-1 4,-2 7,-2 3,0 5,1 7,2 2,2 3,4 3,7l0 12zm25 -6c0,2 -1,3 -3,5 -2,2 -5,3 -8,3 -3,0 -6,-1 -8,-3 -3,-3 -4,-5 -4,-9 0,-3 1,-5 4,-8 2,-2 5,-3 8,-3 3,0 5,1 7,2 2,1 3,2 3,3 0,1 0,1 0,2 0,0 0,0 -1,1l-14 8c0,0 0,0 0,0 2,1 3,2 5,2 2,0 3,-1 5,-2 0,-1 1,-1 1,-2 0,-1 1,-1 2,-1l2 0c0,0 1,0 1,1 0,0 0,1 0,1zm35 -1c0,3 -1,5 -3,7 -1,1 -4,2 -6,2 -3,0 -5,-1 -7,-3 -2,2 -4,3 -7,3 -2,0 -5,-1 -7,-2 -1,-2 -2,-4 -2,-7l0 -12c0,-1 0,-2 1,-2l2 0c1,0 2,1 2,2l0 12c0,1 0,2 1,3 1,1 2,1 3,1 1,0 2,0 3,-1 1,-1 1,-2 1,-3l0 -12c0,-1 1,-2 2,-2l2 0c1,0 2,1 2,2l0 12c0,1 0,2 1,3 0,1 1,1 3,1 1,0 2,0 3,-1 1,-1 1,-2 1,-3l0 -12c0,-1 1,-2 2,-2l1 0c1,0 2,1 2,2l0 12 0 0z"/>
    <path class="fil7" d="M2035 940c-2,0 -3,1 -5,2 -1,1 -2,2 -2,4l10 -5c-1,-1 -2,-1 -3,-1z"/>
  </g>
  
  <g id="_208342731184">
   <path class="fil7" d="M365 464l-64 -110c-2,-3 -5,-5 -8,-5 -3,0 -7,2 -8,5l-65 110c-1,3 -1,7 0,9 2,3 5,5 8,5l129 0c4,0 7,-2 8,-5 2,-2 2,-6 0,-9l0 0zm-72 -4c-5,0 -9,-4 -9,-10 0,-5 4,-9 9,-9 5,0 9,4 9,9 0,6 -4,10 -9,10zm9 -37c0,5 -4,9 -9,9 -5,0 -9,-4 -9,-9l0 -28c0,-5 4,-9 9,-9 5,0 9,4 9,9l0 28z"/>
  </g>
  <g id="_208342729296">
   <path class="fil7" d="M1900 469c-21,0 -37,13 -37,29 0,9 6,18 15,23 -1,5 -4,11 -8,14 10,0 18,-3 24,-9 2,1 3,1 6,1 20,0 36,-13 36,-29 0,-16 -16,-29 -36,-29zm0 9c3,0 5,3 5,5 0,3 -2,5 -5,5 -3,0 -5,-2 -5,-5 0,-2 2,-5 5,-5zm8 37l-16 0 0 -4 4 0 0 -14 -4 0 0 -4 12 0 0 18 4 0 0 4 0 0zm-16 50c-11,-10 -15,-5 -20,0 -3,4 -13,-4 -21,-12 -8,-8 -16,-17 -12,-21 5,-5 10,-9 1,-20 -10,-12 -16,-3 -21,2 -6,6 0,28 21,50 22,22 44,27 50,21 5,-5 14,-11 2,-20zm-61 -47c0,0 0,0 -1,0 0,1 -1,1 -1,1 -1,0 -1,0 -2,1 0,0 0,0 -1,0 0,1 0,1 -1,2 0,0 0,0 0,1 -1,0 -1,1 -1,2 0,0 0,1 0,1 0,1 0,3 0,4 0,1 1,1 1,2 0,0 0,1 0,1 0,0 0,0 -1,-1 0,0 0,-1 -1,-2 0,-1 -1,-2 -1,-3 0,-1 -1,-2 -1,-2 0,-1 0,-2 0,-3 0,-1 0,-1 0,-2 1,-1 1,-2 1,-2 1,-1 1,-2 1,-2 1,-1 1,-1 2,-2 1,-1 1,-1 2,-2 0,0 0,0 0,0 0,0 0,0 0,0l4 6c0,0 0,0 0,0zm60 59c0,1 -1,2 -2,3 0,0 -1,0 -1,1 -1,0 -1,1 -2,1 -1,0 -1,1 -2,1 -1,0 -2,0 -3,0l-1 1 -1 -1c-1,0 -1,0 -2,0 -1,0 -1,0 -2,0 0,-1 -1,-1 -1,-1 -1,0 -2,-1 -2,-1 -1,0 -1,-1 -1,-1 0,0 0,1 1,1 0,0 1,0 2,0 1,0 1,0 2,0 0,0 1,0 1,0 1,0 1,0 2,-1l1 0 1 0c2,-1 3,-3 3,-4 1,-1 1,-2 1,-2 0,-1 0,-1 0,-1l7 4c0,0 -1,0 -1,0z"/>
  </g>
  
  <g id="_208342726480">
   <path class="fil7" d="M322 560c-20,0 -37,12 -37,28 0,10 6,18 15,23 -1,5 -4,11 -7,15 9,-1 17,-4 23,-9 2,0 4,0 6,0 20,0 36,-13 36,-29 0,-16 -16,-28 -36,-28zm-17 34c-3,0 -6,-3 -6,-6 0,-3 3,-5 6,-5 3,0 5,2 5,5 0,3 -2,6 -5,6zm17 0c-3,0 -6,-3 -6,-6 0,-3 3,-5 6,-5 3,0 5,2 5,5 0,3 -2,6 -5,6zm17 0c-3,0 -6,-3 -6,-6 0,-3 3,-5 6,-5 3,0 5,2 5,5 0,3 -2,6 -5,6zm-24 60c-12,-9 -15,-4 -20,1 -4,3 -13,-4 -21,-12 -8,-8 -16,-17 -12,-21 5,-5 10,-8 0,-20 -9,-11 -15,-3 -20,3 -6,5 0,27 21,49 22,21 43,27 49,21 5,-5 14,-11 3,-21zm-61 -46c0,0 0,1 0,1 -1,0 -2,0 -2,0 -1,1 -1,1 -2,1 0,0 0,0 -1,1 0,0 0,0 0,1 -1,0 -1,1 -1,1 0,1 -1,1 -1,2 0,0 0,1 0,1 0,2 0,3 0,4 0,1 1,1 1,2 0,1 0,1 0,1 0,0 0,0 -1,-1 0,0 0,-1 -1,-2 0,-1 -1,-2 -1,-3 0,-1 -1,-2 -1,-2 0,-1 0,-2 0,-2 0,-1 0,-2 0,-3 1,-1 1,-1 1,-2 1,-1 1,-1 2,-2 0,-1 0,-1 1,-2 1,0 1,-1 2,-1 0,-1 0,-1 0,-1 0,0 0,0 0,0l4 6c0,0 0,0 0,0zm59 59c0,0 -1,1 -1,2 -1,0 -1,1 -2,1 0,1 -1,1 -2,2 0,0 -1,0 -2,0 -1,1 -1,1 -2,1l-1 0 -1 0c-1,0 -2,0 -2,0 -1,0 -2,-1 -2,-1 -1,0 -1,0 -2,0 -1,-1 -1,-1 -2,-2 0,0 -1,0 -1,0 0,0 1,0 1,0 1,0 2,0 3,0 0,0 0,1 1,0 1,0 1,0 2,0 0,0 1,0 1,0l1 0 1 -1c2,-1 3,-2 4,-4 0,0 0,-1 0,-2 0,0 1,0 1,0l6 3c0,0 0,1 -1,1z"/>
  </g>
 
  <g id="_208342717488">
    <path class="fil7" d="M2304 1390c0,0 7,1 8,9 0,0 6,-14 19,-4l4 0c0,0 -9,-24 -31,-5z"/>
    <path class="fil7" d="M2312 1410c-1,8 -8,8 -8,8 22,20 31,-4 31,-4l-4 0c-13,10 -19,-4 -19,-4z"/>
    <path class="fil7" d="M2284 1403c0,0 0,-12 10,-12l-29 -28c0,0 -4,16 -13,17l32 23z"/>
    <path class="fil7" d="M2236 1414l10 -31c-18,4 -21,-11 -21,-11l-13 31c14,-4 24,11 24,11z"/>
    <path class="fil7" d="M2310 1403c0,-6 -5,-11 -11,-11 -6,0 -10,5 -10,11 0,6 4,11 10,11 6,0 11,-5 11,-11zm-15 0c0,-3 2,-5 4,-5 3,0 5,2 5,5 0,2 -2,5 -5,5 -2,0 -4,-3 -4,-5z"/>
    <path class="fil7" d="M2229 1363c0,7 7,14 15,14 8,0 14,-7 14,-14 0,-8 -6,-15 -14,-15 -8,0 -15,7 -15,15zm15 -7c3,0 6,3 6,7 0,3 -3,6 -6,6 -4,0 -7,-3 -7,-6 0,-4 3,-7 7,-7z"/>
    <path class="fil7" d="M2204 1424c0,8 6,14 14,14 8,0 14,-6 14,-14 0,-8 -6,-14 -14,-14 -8,0 -14,6 -14,14zm14 -6c4,0 6,3 6,6 0,4 -2,6 -6,6 -3,0 -6,-2 -6,-6 0,-3 3,-6 6,-6z"/>
    <path class="fil7" d="M2193 1467l47 0 -8 -29c0,0 -12,15 -28,0l-11 29z"/>
  </g>
  
  <g id="_208342709904">
    <path class="fil7" d="M1912 623l28 0c4,0 8,-4 8,-8 0,-5 -4,-9 -8,-9l-1 0c-1,-4 -5,-8 -10,-8l-7 0c-4,0 -8,4 -9,8l-1 0c-5,0 -9,4 -9,9 0,4 4,8 9,8z"/>
    <path class="fil7" d="M1951 604l-5 0c3,2 5,4 6,8 6,1 11,6 11,12l0 72c0,7 -6,12 -12,12l-50 0c-7,0 -12,-5 -12,-12l0 -72c0,-6 4,-11 11,-12 0,-4 3,-6 6,-8l-5 0c-11,0 -20,9 -20,20l0 72c0,11 9,20 20,20l50 0c11,0 20,-9 20,-20l0 -72c0,-11 -9,-20 -20,-20z"/>
    <path class="fil7" d="M1951 637l-25 0c-2,0 -4,2 -4,4 0,2 2,4 4,4l25 0c2,0 4,-2 4,-4 0,-2 -2,-4 -4,-4z"/>
    <path class="fil7" d="M1951 658l-25 0c-2,0 -4,2 -4,4 0,2 2,4 4,4l25 0c2,0 4,-2 4,-4 0,-2 -2,-4 -4,-4z"/>
    <path class="fil7" d="M1951 680l-25 0c-2,0 -4,1 -4,4 0,2 2,4 4,4l25 0c2,0 4,-2 4,-4 0,-3 -2,-4 -4,-4z"/>
    <path class="fil7" d="M1920 641c0,-7 -6,-12 -12,-12 -7,0 -12,5 -12,12 0,4 2,8 6,10 -4,2 -6,7 -6,11 0,5 2,9 6,11 -4,2 -6,6 -6,11 0,6 5,12 12,12 6,0 12,-6 12,-12 0,-5 -3,-9 -7,-11 4,-2 7,-6 7,-11 0,-4 -3,-9 -7,-11 4,-2 7,-6 7,-10zm-5 37c1,1 1,3 0,4l-7 7c-1,0 -1,1 -2,1 0,0 -1,-1 -1,-1l-5 -4c-1,-1 -1,-3 0,-4 1,0 3,0 3,0l3 3 6 -6c1,-1 2,-1 3,0zm0 -21c1,1 1,2 0,3l-7 7c-1,1 -1,1 -2,1 0,0 -1,0 -1,-1l-5 -4c-1,-1 -1,-2 0,-3 1,-1 3,-1 3,0l3 3 6 -6c1,-1 2,-1 3,0zm0 -18l-7 7c-1,0 -1,1 -2,1 0,0 -1,-1 -1,-1l-5 -4c-1,-1 -1,-3 0,-3 1,-1 3,-1 3,0l3 2 6 -6c1,0 2,0 3,0 1,1 1,3 0,4z"/>
  </g>
  
  <g id="_208342697008">
   <path class="fil7" d="M282 1110c-5,0 -10,4 -10,9 0,6 5,10 10,10 5,0 9,-4 9,-10 0,-5 -4,-9 -9,-9zm5 10c0,1 -1,1 -2,1l-7 0c0,0 -1,0 -1,-1l0 -1c0,-1 1,-1 1,-1l7 0c1,0 2,0 2,1l0 1z"/>
   <path class="fil7" d="M282 1130c-5,0 -10,4 -10,9 0,5 5,10 10,10 5,0 9,-5 9,-10 0,-5 -4,-9 -9,-9zm5 10c0,0 -1,1 -2,1l-7 0c0,0 -1,-1 -1,-1l0 -1c0,-1 1,-2 1,-2l7 0c1,0 2,1 2,2l0 1z"/>
   <path class="fil7" d="M282 1149c-5,0 -10,5 -10,10 0,5 5,9 10,9 5,0 9,-4 9,-9 0,-5 -4,-10 -9,-10zm5 10c0,1 -1,2 -2,2l-7 0c0,0 -1,-1 -1,-2l0 -1c0,0 1,-1 1,-1l7 0c1,0 2,1 2,1l0 1z"/>
   <path class="fil7" d="M286 1104l26 0c4,0 7,-4 7,-8 0,-4 -3,-7 -7,-7l-2 0c0,-4 -4,-8 -8,-8l-6 0c-5,0 -8,4 -9,8l-1 0c-4,0 -7,3 -7,7 0,4 3,8 7,8z"/>
   <path class="fil7" d="M321 1087l-4 0c3,1 5,4 5,7 6,0 10,5 10,11l0 65c0,6 -5,11 -11,11l-45 0c-6,0 -11,-5 -11,-11l0 -65c0,-6 5,-11 10,-11 1,-3 3,-6 6,-7l-5 0c-10,0 -18,8 -18,18l0 65c0,10 8,18 18,18l45 0c10,0 19,-8 19,-18l0 -65c0,-10 -9,-18 -19,-18z"/>
   <path class="fil7" d="M320 1116l-22 0c-2,0 -4,2 -4,4 0,2 2,3 4,3l22 0c2,0 4,-1 4,-3 0,-2 -2,-4 -4,-4z"/>
   <path class="fil7" d="M320 1135l-22 0c-2,0 -4,2 -4,4 0,2 2,4 4,4l22 0c2,0 4,-2 4,-4 0,-2 -2,-4 -4,-4z"/>
   <path class="fil7" d="M320 1155l-22 0c-2,0 -4,1 -4,3 0,2 2,4 4,4l22 0c2,0 4,-2 4,-4 0,-2 -2,-3 -4,-3z"/>
  </g>
 
 
  <path class="fil8" d="M2169 1202c-27,0 -50,23 -50,51 0,28 23,50 50,50 28,0 51,-22 51,-50 0,-28 -23,-51 -51,-51zm-6 13l0 0 13 0 0 31 -13 0 0 -31zm6 71l0 0c-18,0 -33,-15 -33,-33 0,-13 8,-25 20,-31l1 0 0 11c-7,5 -11,12 -11,20 0,13 10,23 23,23 13,0 24,-10 24,-23 0,-8 -4,-15 -11,-20l0 -11 1 0c12,6 20,18 20,31 0,18 -15,33 -34,33z"/>
  <path class="fil8" d="M328 869l0 6 -65 18 -11 -6 0 36 11 -6 7 2 -1 7c-2,5 1,10 6,11l17 4c1,0 2,1 2,1 5,0 8,-3 9,-7l2 -7 23 6 0 6 18 6 0 -82 -18 5zm-31 64l0 0c0,2 -2,3 -3,3l-18 -5c-1,0 -2,-2 -2,-3l2 -8 23 6 -2 7zm31 -28l0 0 -65 0 0 -6 65 -18 0 24zm12 0l0 0 -6 0 0 -30 6 0 0 30z"/>
  <g id="_208635565488">
   <path class="fil4b" d="M250 1053l-8 -31 21 -6 1 6 -14 4 1 7 13 -4 2 6 -13 3 3 13 -6 2zm52 -14l-7 2 -4 -6 -13 3 0 8 -7 1 4 -34 6 -1 21 27zm-15 -9l-7 -10 -1 12 8 -2zm18 8l-8 -31 6 -1 4 13 9 -17 8 -2 -8 15 17 16 -8 2 -12 -12 -4 6 3 9 -7 2zm31 -8l-8 -31 23 -6 1 5 -16 5 2 6 15 -4 1 5 -15 5 2 8 17 -5 2 6 -24 6z"/>
   <path class="fil9b str3b" d="M232 1016l121 -33c3,-1 6,1 7,4l10 37c0,3 -1,6 -4,7l-121 32c-3,1 -6,-1 -7,-4l-10 -37c-1,-3 1,-6 4,-6z"/>
  </g>
  <g id="_208635564208">
   <path class="fil8" d="M328 1230l5 0 0 -9 -68 0 0 9 6 0c0,18 7,30 18,34l0 10c-11,3 -17,15 -18,32l-6 0 0 10 68 0 0 -10 -5 0c-1,-17 -7,-29 -19,-32l0 -10c12,-4 18,-16 19,-34zm-21 48l0 0c12,3 16,16 16,28l-4 0 -9 -10 -10 -12 -11 12 -8 10 -6 0c1,-12 5,-25 17,-28l2 -1 0 -17 -2 0c-13,-4 -16,-17 -17,-30l48 0c0,13 -4,26 -16,30l-2 0 0 17 2 1z"/>
   <polygon class="fil8" points="310,1250 290,1250 295,1255 300,1261 305,1255 "/>
  </g>
  <g id="_208635555536">
   <path class="fil7" d="M2063 811c0,-1 -1,-1 -1,-1l-29 -8 -41 -52c1,-1 2,-3 2,-4 0,-5 -4,-9 -8,-9 -5,0 -9,4 -9,9 0,1 1,2 1,4l-27 28 -28 -8c-1,0 -3,1 -3,2l-12 42c0,1 0,2 0,2 0,1 1,1 2,1l138 40c1,0 1,0 1,0 1,0 2,-1 2,-2l12 -42c1,-1 0,-2 0,-2zm-80 -60c1,0 1,-2 0,-3 0,-1 -1,-1 -1,-2 0,-2 2,-4 4,-4 2,0 3,2 3,4 0,1 0,2 -1,2 -1,1 -1,3 -1,4l38 47 -69 -19 27 -29zm64 100l-134 -38 11 -37 134 38 -11 37z"/>
   <path class="fil7" d="M1947 802c1,2 3,3 5,3 0,1 1,1 1,2 1,0 1,1 1,2 -1,2 -2,2 -4,2l-5 -1c-1,-1 -3,0 -3,1 -1,1 0,3 2,3l5 2c0,0 1,0 2,0 3,0 6,-2 7,-6 1,-2 1,-4 0,-6 -1,-1 -3,-3 -5,-3 -2,-1 -3,-2 -2,-4 0,-1 2,-2 3,-2l6 2c1,0 2,-1 3,-2 0,-1 -1,-3 -2,-3l-5 -1c-2,-1 -4,-1 -6,0 -2,1 -3,3 -4,5 0,2 0,4 1,6z"/>
   <path class="fil7" d="M1937 812c0,0 1,1 1,1 1,0 2,-1 2,-2l6 -21c0,-1 0,-2 -2,-3 -1,0 -2,1 -3,2l-5 20c-1,2 0,3 1,3z"/>
   <path class="fil7" d="M1919 807c1,0 1,1 2,1 1,0 2,0 4,0 5,0 10,-3 12,-9 1,-4 1,-7 -1,-10 -2,-3 -5,-5 -8,-6 -1,-1 -3,0 -3,1l-6 21c0,0 0,1 0,2zm10 -19c1,1 2,2 3,3 1,2 1,4 0,6 -1,4 -4,6 -7,6l4 -15z"/>
   <path class="fil7" d="M1982 825c0,0 1,0 2,0 4,0 7,-2 8,-6l3 -9c0,-2 0,-4 -1,-6 -1,-2 -3,-4 -5,-4 -5,-1 -10,1 -11,6l-2 8c-2,5 1,10 6,11zm-2 -9l3 -9c0,-2 2,-3 3,-3 1,0 1,0 1,1 2,0 3,2 3,4l-3 9c0,2 -2,3 -4,2 -2,0 -3,-2 -3,-4z"/>
   <path class="fil7" d="M2012 834c1,0 2,-1 3,-2l3 -12 4 15c0,1 1,2 2,2 0,0 0,0 0,0 1,0 2,-1 2,-2l6 -20c1,-2 0,-3 -1,-3 -2,-1 -3,0 -3,1l-4 12 -4 -15c0,-1 -1,-2 -2,-2 -1,0 -2,1 -2,2l-6 21c0,1 0,2 2,3z"/>
   <path class="fil7" d="M1994 826c1,2 3,3 5,4 1,0 2,0 3,0 3,0 7,-2 8,-6l4 -14c0,-2 0,-3 -2,-3 -1,-1 -2,0 -3,1l-4 15c0,2 -2,3 -4,2 -2,0 -3,-2 -3,-4l4 -15c1,-1 0,-2 -1,-3 -2,0 -3,1 -3,2l-5 15c0,2 0,4 1,6z"/>
   <path class="fil7" d="M1959 811c0,2 0,4 1,6 1,1 3,3 5,3 0,0 1,1 2,1 3,0 6,-3 7,-6 1,-1 0,-3 -1,-3 -2,0 -3,0 -3,2 -1,1 -2,2 -4,2 -1,-1 -1,-1 -2,-2 0,0 0,-1 0,-2l3 -10c0,-2 2,-3 4,-2 0,0 1,0 1,1 1,1 1,2 1,2 -1,2 0,3 1,3 1,1 3,0 3,-1 1,-2 1,-4 0,-6 -1,-2 -3,-3 -5,-4 -4,-1 -9,1 -10,5l-3 11z"/>
   <path class="fil7" d="M2035 818l5 1 -6 19c0,1 1,2 2,3 0,0 1,0 1,0 1,0 2,-1 2,-2l5 -18 5 1c1,0 1,0 1,0 1,0 2,0 2,-1 1,-2 0,-3 -1,-3l-15 -5c-1,0 -3,1 -3,2 0,1 0,3 2,3z"/>
  </g>
  
  <g id="_208635530928">
    <path class="fil7" d="M281 1784l0 -33 -32 0 0 33c0,2 3,4 5,4l24 0c2,0 3,-2 3,-4zm-22 -4c0,0 -1,1 -1,1 -1,0 -1,-1 -1,-1l0 -24c0,-1 0,-1 1,-1 0,0 1,0 1,1l0 24zm7 0c0,0 0,1 -1,1 0,0 -1,-1 -1,-1l0 -24c0,-1 1,-1 1,-1 1,0 1,0 1,1l0 24zm7 0c0,0 0,1 -1,1 0,0 0,-1 0,-1l0 -24c0,-1 0,-1 0,-1 1,0 1,0 1,1l0 24z"/>
    <path class="fil7" d="M249 1748l32 0 0 -4 3 0 0 -4 -11 0c0,-2 -1,-4 -3,-4l-9 0c-2,0 -3,2 -3,4l-12 0 0 4 3 0 0 4z"/>
    <path class="fil7" d="M315 1720c2,27 -22,68 -22,68 28,-16 33,-40 33,-40 8,12 8,44 8,44 16,-38 0,-73 0,-73l23 9c-4,-14 -27,-24 -27,-24 -22,10 -49,9 -49,9 15,14 34,7 34,7z"/>
    <circle class="fil7" cx="317" cy="1693" r="8"/>
    <path class="fil7" d="M264 1727c1,0 5,-2 5,0 1,3 3,2 4,0 2,-2 1,-5 2,-4 2,0 3,-3 4,-5 0,-2 -4,-3 -7,-4 -2,0 -3,3 -5,3 -1,0 -3,-4 -5,-2 -1,2 -2,8 -2,8 -2,-2 -4,1 -5,3 -1,2 8,2 9,1z"/>
  </g>
 
  <text x="406" y="458"  class="fil4b fnt1b">Типичные проблемы</text>
  <text x="2084" y="329"  class="fil4b fnt1b">Почему ЭКАЛАН</text>
  <g id="_208635578704">
    <path class="fil7" d="M2159 1097c-2,-10 -9,-11 -12,-11 -1,0 -2,-1 -3,-2 -2,-4 -6,-4 -8,-4 -1,0 -3,0 -4,0 0,0 0,0 0,0 -1,0 -2,0 -3,-1 -2,-3 -5,-4 -8,-4 -1,0 -1,0 -2,0 0,0 0,0 0,0 -2,0 -4,-2 -4,-3l0 -20c0,-4 -3,-7 -7,-7 -4,0 -7,3 -7,7l0 47c0,4 -3,7 -7,7 -1,0 -2,0 -3,-1 -4,-2 -9,-4 -14,-6 -1,-1 -2,-1 -3,-1 -7,0 -11,9 -3,14 9,6 20,9 24,15 3,4 8,15 10,20 1,1 2,1 3,1l35 0c1,0 3,-1 3,-2l2 -14c0,-1 0,-1 0,-1 9,-15 12,-24 11,-34z"/>
    <path class="fil7" d="M2075 1082c0,-2 -2,-3 -3,-3l-9 0 23 -24 0 9c0,2 2,3 3,3 2,0 3,-1 3,-3l0 -16c0,-1 -1,-2 -3,-2l-15 0c-2,0 -3,1 -3,2 0,2 1,3 3,3l9 0 -25 24 0 -9c0,-1 -1,-3 -2,-3 -2,0 -3,2 -3,3l0 16c0,1 1,2 3,2l16 0c1,0 3,-1 3,-2z"/>

  </g>
  <g id="_208635572752">
    <path class="fil7" d="M286 1556c-1,0 -1,0 -1,0l-12 2c-1,0 -2,1 -2,2l0 34c0,1 14,9 18,13 6,5 9,15 15,23 2,3 4,5 7,5 4,0 8,-5 6,-11 -2,-5 -4,-10 -6,-14 -2,-4 0,-8 4,-8l21 0c9,0 8,-12 4,-15 -1,-1 -1,-2 0,-2 1,-3 1,-9 -3,-11 -1,-1 -1,-2 -1,-3 2,-3 2,-10 -4,-12 -1,0 -1,-1 -1,-2 0,-3 0,-9 -10,-11 -2,0 -4,-1 -6,-1 -8,0 -18,4 -29,11z"/>
  </g>
 </g>


</svg>
</div>            
        </section>
        <section id="causes">
             <div class="container">
                       <h4>4 веских причины</h4>
                       <h5>Почему 95% обратившихся решают купить у нас</h5>
                       <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <li class="cause1 col-lg-3 col-md-3 col-sm-6 col-xs-12">Даем гарантию</li>
                               <li class="cause2 col-lg-3 col-md-3 col-sm-6 col-xs-12">Собственное производство</li>
                               <li class="cause3 col-lg-3 col-md-3 col-sm-6 col-xs-12">Работаем в розницу и оптом</li>
                               <li class="cause4 col-lg-3 col-md-3 col-sm-6 col-xs-12">Доставка по всей стране</li>
                       </ul>
             </div><!-- container  -->

        </section><!-- causes  -->

        <section id="work_planning">

                <div class="container">

                       <img src="/assets/application/img/markup1.jpg" alt="" />
                </div>
        </section>


        <!-- Testimonials -->
        <section id="testimonial" class="overlay-dark80 dark-bg ptb ptb-sm-80" style="background-image: url('assets/application/img/full/22.jpg');" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="owl-carousel testimonial-carousel nf-carousel-theme white">

                   {% for testimonial in testimonials %}
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            {% if testimonial.url_picture %}<div class="img"><img src="{{ testimonial.url_picture }}" alt="" /></div>{% endif %}
                            <div class="text">
                                 <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                                 <p class="lead">"{{ testimonial.short_text_testimonials }}"</p>
                                 <h6 class="quote-author">{{ testimonial.name_testimonials }} 
                                        {% if testimonial.organization %}   <span style="font-weight: 400;">( {{ testimonial.organization }} )</span> {% endif %}
                                 </h6>
                                 {% if testimonial.url_folio %}<a href="{{ testimonial.url_folio }}">Описание проекта</a>{% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!-- End Testimonials -->



        <hr />

        <!-- Contant Slider Section -->
        <section id="portfolio" class="wow fadeIn ptb ptb-sm-80">
        <a href="/portfolio" style="padding:10px;border:1px solid #fff;display:block;text-align:center;margin:0 auto;margin-top:-30px;margin-bottom:20px;color:#fff;width:80%">Все наши работы</a>
            <div class="owl-carousel content-carousel content-slider">
              {% for window in karusel_windows %}

                <div class="item">
                    <div class="container">
                        <div class="row">
                                <h5>{{ window.title_windowkarusel }}</h5>

                                <div class="grid">
                                             <div class="grid-sizer"></div>
                                                           {% for frame in window %}

  
                                                                      {% if frame.type_karusel == '1' %}
                                                                                      <div class="grid-item item-box">
                         
                                                                                               <a class="cbox-gallary1" href="{{ frame.url_photo }}" title="Черное и белое">
                                                                                                  {#  <img class="item-container" src="{{ frame.url_photo }}" alt="1" /> #}

                                                                                                  <div style="background-image:url('{{ frame.url_photo }}');background-size: cover;width:100%;height:400px;" class="item-container"></div>
                                                                                                    <div class="item-mask">
                                                                                                                 <div class="item-caption">
                                                                                                                          <h5 class="white">{{ frame.title_karusel }}</h5>
                                                                                                                          <p class="white">{{ frame.subtitle_karusel }}</p>
                                                                                                                          {% if frame.picked_id_folio %}<a href="/project/{{ frame.picked_id_folio }}"  class="project_link">Описание проекта</a>{% endif %}
                                                                                                                 </div>
                                                                                                    </div>
                                                                                                </a>
                     
                                                                                      </div>
                                                                      {% else %}
                                                                                      <div class="grid-item">
                                                                                                    <p style="padding:30px;">{{ frame.text_karusel }}</p>
                                                                                      </div>
                                                                      {%  endif %}

                                                           {%  endfor %}

                                   </div>

                             </div>
                        </div>
                </div>  {#  item #}
                {% endfor %}     
             </div>
 
        </section>     



              
        <!-- End Contain Slider Section -->


        <!-- Social Section -->
        <section id="contacts" class="gray-bg ptb ptb-sm-80">
            <div class="container text-center">

                <div class="spacer-60"></div>
                <div class="row">

                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.9236866638394!2d30.62923701599817!3d50.40525979850073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c5a9263ac0f9%3A0x34dc59578fb237ac!2z0L_RgNC-0YHQvy4g0J_QtdGC0YDQsCDQk9GA0LjQs9C-0YDQtdC90LrQsCwgMjMsIDcxLCDQmtC40ZfQsiwg0KPQutGA0LDQuNC90LA!5e0!3m2!1sru!2s!4v1453455068322" width="100%" height="350px" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>


                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 addr">
                   
                    <p>
                          <span><i class="ion ion-ios-location"></i></span>
                          Киев,<br />
                          ЖК "АБРИКОС",<br />
                          проспект Петра Григоренко, 23/71
                    </p>
                    <p>  <span><i class="ion ion-ios-telephone"></i></span>
                           (044) 501-92-18<br />
                           (067) 230-26-20
                      </p>
                       <a href="mailto:alanbud@optima.com.ua"><span><i class="ion ion-ios-email"></i></span>alanbud@optima.com.ua</a><br />
    
                       <a href="#" class="order_call">Заказать звонок</a>
                  </div>  


                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <!-- Contact FORM -->
                        <form class="contact-form" id="contact" role="form">

                            <!-- IF MAIL SENT SUCCESSFULLY -->
                            <h6 class="successContent">
                                <i class="fa fa-check left" style="color: #5cb45d;"></i>Your message has been sent successfully.
                            </h6>
                            <!-- END IF MAIL SENT SUCCESSFULLY -->

                            <!-- MAIL SENDING UNSUCCESSFULL -->
                            <h6 class="errorContent">
                                <i class="fa fa-exclamation-circle left" style="color: #e1534f;"></i>Возникли проблемы при отправке формы!
                            </h6>
                            <!-- END MAIL SENDING UNSUCCESSFULL -->

                            <div class="form-field-wrapper">
                                <input class="input-sm form-full" id="form-name" type="text" name="form-name" placeholder="Ваше имя" required>
                            </div>

                            <div class="form-field-wrapper">
                                <input class="input-sm form-full" id="form-email" type="email" name="form-email" placeholder="Электронная почта" required>
                            </div>

                            <div class="form-field-wrapper">
                                <input class="input-sm form-full" id="form-subject" type="text" name="form-subject" placeholder="Тема">
                            </div>

                            <div class="form-field-wrapper">
                                <textarea class="form-full" id="form-message" rows="7" name="form-message" placeholder="Сообщение" required></textarea>
                            </div>

                            <button class="btn btn-md btn-black form-full" type="submit" id="form-submit" name="submit">Отправить сообщение</button>
                        </form>
                        <!-- END Contact FORM -->
                    </div>
                </div><!--  **************************************  -->
            </div>
        </section>
        <!-- End Social Section -->



        <hr />




        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
        <footer class="footer pt-80">

            <!-- Copyright Bar -->
            <section class="copyright pb-60">
                <div class="container">
                    <p class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        &copy; 2016 <a><b>ekalan®</b></a>.
                    </p>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 socials">
                        <ul>
                            <li>
 
                                <a class="link" target="_blank" href="https://www.twitter.com/"><i class="ion ion-social-twitter"></i></a>
                            </li>
                            <li>
 
                                <h6><a class="link" target="_blank" href="https://www.facebook.com/"><i class="ion ion-social-facebook"></i></a></h6>
                            </li>
                            <li>

                                <h6><a class="link" target="_blank" href="https://plus.google.com/"><i class="ion ion-social-googleplus"></i></a></h6>
                            </li>
                            <li>

                                <h6><a class="link" target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></h6>
                            </li>
                        </ul>
                    </div>

                </div>
            </section>
            <!-- End Copyright Bar -->

        </footer>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->
    
{% endblock content %}


