 
{% extends 'layout/portfolio.twig' %}


{% block content %}


        <!-- Work Detail Section -->
        <section class="ptb ptb-sm-80">
            <div class="container">
                <!-- work Filter -->
                <div class="row">
                    <ul class="container-filter categories-filter">
                           <li><a class="categories active" data-filter="*">Все</a></li>
                           {% for group in lists.groups %}
                                  <li><a class="categories" data-filter=".cl{{ group.id }}">{{ group.name_group }}</a></li>
                           {% endfor %}

                    </ul>
                </div>
                <!-- End work Filter -->
                <div class="row container-grid nf-col-2">
                   {% for folio in lists.folios %}
                    <div class="nf-item cl{{ folio.id_group }} spacing">
                        <div class="item-box">
                            <a href="/project/{{ folio.id }}">
                                <img alt="1" src="{{ folio.main_photo }}" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">{{ folio.name_folio }}</h5>
                                        {# <p class="white">Branding, Design</p> #}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                   {% endfor %}

                 

                </div>

            </div>

        </section>
        <!-- End Work Detail Section -->


        <!-- End CONTENT ------------------------------------------------------------------------------>
    
{% endblock content %}


