 
{% extends 'layout/portfolio.twig' %}


{% block content %}

{#  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_group` int(11) NOT NULL,
  `number_folio` varchar(255) NOT NULL,
  `name_folio` varchar(255) NOT NULL,
  `describe_folio` text NOT NULL,
  `id_testimonials` int(11) NOT NULL,
  `price_folio` int(11) NOT NULL,#}
        <!-- Work Detail Section -->
        <section class="ptb ptb-sm-80">
            <div class="container project">
                
                <div class="row"><h2><a href="/portfolio">Все проекты</a> / {{ project.name_folio }}</h2></div>
                {% if project.conditions_folio %}
                <dl>
                      <dt>Задача и технические условия проекта</dt>
                      <dd>{{project.conditions_folio}}</dd>
                </dl>
                {% endif %}
                {% if photos %}
                <dl>
                      <dt>Фотографии</dt>
                      <dd>
                          <ul class="photos">
                           {% for photo in photos %}
                                   <li><a class="cbox-gallary1 cboxElement" href="{{ photo.url_photo }}"><img alt="" src="{{ photo.url_photo }}" /></a></li>
                               
                           {% endfor %}
                           </ul>
                      </dd>
                </dl>   
                {% endif %}    
                {% if materials %}          
                <dl>
                      <dt>Материалы проекта</dt>
                      <dd>
                          <ul class="set_material set_material_infolio">
                           {% for material in materials %}
                                   <li data-sample="{{ material.id }}" style="background-image:url('{{ material.url }}');"><span>${{ material.price_material }}</span></li>
                               
                           {% endfor %}


                           </ul>
                      </dd>
                </dl>
                {% endif %}
                {% if blueprints %}  
                <dl>
                      <dt>Чертежи проекта</dt>
                      <dd>
                          <ul class="blueprints">
                           {% for blueprint in blueprints %}
                                   <li><a class="cbox-gallary1 cboxElement" href="{{ blueprint.url_blueprint }}"><img alt="" src="{{ blueprint.url_blueprint }}" /></a></li>
                               
                           {% endfor %}
                           </ul>
                      </dd>
                </dl> 
                {% endif %}
                {% if project.describe_folio %}                     
                <dl>
                      <dt>Описание проекта</dt>
                      <dd>
                          {{ project.describe_folio }}
                      </dd>
                </dl> 
                {% endif %}
                {% if project.price_folio %}                                            
               <dl>
                      <dt>Общая цена проекта</dt>
                      <dd>
                          $ {{ project.price_folio }}
                      </dd>
                </dl>      
               {% endif %}
               {% if project.name_testimonials or project.organization or project.text_testimonials or project.short_text_testimonials %}
               <dl>
                      <dt>Отзыв заказчика</dt>
                      <dd>
                         <dl class="testimonial_in_folio">
                               <dt style="background-image: url('{{ project.url_picture }}');"></dt>
                               <dd><ul>
                                       {% if project.name_testimonials %}<li class="name">{{ project.name_testimonials }}</li>{% endif %}
                                       {% if project.organization %}<li>{{ project.organization }}</li>{% endif %}
                                       {% if project.text_testimonials %}<li>{{ project.text_testimonials }}</li>{% endif %}
                                       {% if project.short_text_testimonials %} <li>{{ project.short_text_testimonials }}</li>{% endif %}
                                    </ul>   
                                </dd>
                         </dl>
                    </dd>
                </dl>    
                {% endif %}             

            </div>

        </section>
       
    
{% endblock content %}


